	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Portfolio
						</div>
					</div>
				</div>
			</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Portfolio</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of the Polish electric company</h3></div>
							<div class="portfolio__text">This web site was developed on the Ruby On Rails Framivork, the administrative part
Contains a CRM system for doing business (accounting, accounting, personnel, etc.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CRM for a Polish electric company</h3></div>
							<div class="portfolio__text">This project was written on Ruby On Rails.The application helps the entrepreneur
Lead accounting.
							</div>
							<a href="/services_ror?lang=en" class="portfolio__btn" target="blank">Read more</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of the Ukrainian nursery of animals</h3></div>
							<div class="portfolio__text">This site was created by our team on CMS WordPress.</div>
							<a href="/services_cms?lang=en" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of English teaspoon</h3></div>
							<div class="portfolio__text">The site is designed with a unique design on CMS WordPress.</div>
							<a href="greentea.cf" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of the Ukrainian agricultural company</h3></div>
							<div class="portfolio__text">The site is designed on pure HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>SEO promoting the company's website for the sale of spare parts and repairing industrial refrigeration equipment</h3>
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="torosspb.ru" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>