	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Portfolio
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio">
				<span class="portfolio__bg"> </span>
				<div class="container">
					<div class="portfolio__row">
						<div class="portfolio__label">ARE YOU IMPRESSED WITH OUR AMAZING PORTFOLIO?</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of the Polish electric company</div>
								<div class="portfolio__text">This project was built on one of our frontend templates. Serious work has
									been done on SEO optimization and setting up backend functionality.
								</div>
								<a href="#" class="portfolio__btn">More</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">CMR for Polish electric company</div>
								<div class="portfolio__text">This project was built on Ruby on Rails framework. The application helps the entrepreneur to keep accounts.
								</div>
								<a href="#" class="portfolio__btn">More</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of the Ukrainian animal nursery</div>
								<div class="portfolio__text">This website was built on wordpress engine by our team.</div>
								<a href="#" class="portfolio__btn">More</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">
									SEO optimization of the company's website for the sale of spare parts and repair of refrigeration
									equipment</div>
								<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
									TOP30 - 28 keys</div>
								<a href="#" class="portfolio__btn">More</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of a England tea market</div>
								<div class="portfolio__text">Website created with unique design on wordpress engine.</div>
								<a href="#" class="portfolio__btn">More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>