<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Portfolio of our developments</title>
    <meta name="description" content="Portfolio - gallery of our works.">
	<meta property="og:title" content="Portfolio of our developments" />
    <meta property="og:description" content="Portfolio - gallery of our works." />
    <meta property="og:image" content="<%= image_tag(asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Portfolio
						</div>
					</div>
				</div>
			</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h1>Portfolio of our web applications</h1></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp'), alt: "Web site of the electric company") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h2>Web site of the Polish electric company</h2></div>
							<div class="portfolio__text">This web site was developed on the Ruby On Rails Framivork, the administrative part
Contains a CRM system for doing business (accounting, accounting, personnel, etc.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png'), alt: "CRM for electric company") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h2>CRM for a Polish electric company</h2></div>
							<div class="portfolio__text">This project was written on Ruby On Rails.The application helps the entrepreneur
Lead accounting.
							</div>
							<a href="/services_ror?lang=en" class="portfolio__btn" target="blank">Read more</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp'), alt: "Web site of the nursery of animals") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h2>Web site of the Ukrainian nursery of animals</h2></div>
							<div class="portfolio__text">This site was created by our team on CMS WordPress.</div>
							<a href="http://worldanimals.ml/" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.webp'), alt: "Web site of teaspoon") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h2>Web site of English teaspoon</h2></div>
							<div class="portfolio__text">The site is designed with a unique design on CMS WordPress.</div>
							<a href="http://greentea.cf" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.webp'), alt: "Web site of the agricultural company") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h2>Web site of the Ukrainian agricultural company</h2></div>
							<div class="portfolio__text">The site is designed on pure HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp'), alt: "SEO promoting the company's website") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h2>SEO promoting the company's website for the sale of spare parts and repairing industrial refrigeration equipment</h2>
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="https://torosspb.ru" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>