	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
							<ul class="header__icon-list">
								<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
							</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=en">Home</a></li>
								<li><a href="/about_us?lang=en">About Us</a></li>
								<li><a href="/services?lang=en">Services</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="">RoR development</a>
										<a href="">CMS Development</a>
										<a href="">SEO Promotion</a>
									</div>
								</li>
								<li><a href="/blog?lang=en">Blog</a></li>
								<li><a href="/portfolio?lang=en">Portfolio</a></li>
								<li><a href="/contacts?lang=en">Contact Us</a></li>
								<li><a href="/portfolio?lang=pl">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a></li>
								<li><a href="/portfolio?lang=ru">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a></li>
								<li><a href="/portfolio?lang=en">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=en" class="jaw__link">Home</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=en" class="jaw__link">About Us</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=en" class="jaw__link">Services</a>
								<span></span>
								<div class="jaw__poster">
									<a href="" class="jaw__link">RoR development</a>
									<a href="" class="jaw__link">CMS Development</a>
									<a href="" class="jaw__link">SEO Promotion</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=en" class="jaw__link">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=en" class="jaw__link active">Portfolio</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=en" class="jaw__link">Contact Us</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Portfolio
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio">
				<span class="portfolio__bg"> </span>
				<div class="container">
					<div class="portfolio__row">
						<div class="portfolio__label">ARE YOU IMPRESSED WITH OUR AMAZING PORTFOLIO?</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of the Polish electric company</div>
								<div class="portfolio__text">This project was built on one of our frontend templates. Serious work has
									been done on SEO optimization and setting up backend functionality.
								</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">CMR for Polish electric company</div>
								<div class="portfolio__text">This project was built on Ruby on Rails framework. The application helps the entrepreneur to keep accounts.
								</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of the Ukrainian animal nursery</div>
								<div class="portfolio__text">This website was built on wordpress engine by our team.</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">
									SEO optimization of the company's website for the sale of spare parts and repair of refrigeration
									equipment</div>
								<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
									TOP30 - 28 keys</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of a England tea market</div>
								<div class="portfolio__text">Website created with unique design on wordpress engine.</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Call us</div>
							<div class="footer__subtitle">Our specialists will answer all your questions</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Working hours</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Advice Center</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Photos</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138">
						<%= image_tag(asset_path('fozzy_button.webp')) %>
						</a>
					</div>
					<div class="footer__post">Created by <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>