	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Teczka
						</div>
					</div>
				</div>
			</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Teczka</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ta strona internetowa została opracowana na Ruby on Rails Framiivork, części administracyjnej
Zawiera system CRM do prowadzenia działalności (rachunkowość, rachunkowość, personel itp.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CMR dla polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ten projekt został napisany na Ruby on Rails.Aplikacja pomaga przedsiębiorcy
Rachunkowość ołowiu.
							</div>
							<a href="#" class="portfolio__btn">Czytaj więcej</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa ukraińskiego szkółki zwierząt</h3></div>
							<div class="portfolio__text">Ta strona została stworzona przez nasz zespół w CMS WordPress.</div>
							<a href="#" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa łyżeczki angielskiej</h3></div>
							<div class="portfolio__text">Witryna została zaprojektowana z unikalnym projektem CMS WordPress.</div>
							<a href="greentea.cf" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa ukraińskiej firmy rolniczej</h3></div>
							<div class="portfolio__text">Witryna jest zaprojektowana na czystym HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>SEO promujący stronę internetową firmy do sprzedaży części zamiennych i naprawy przemysłowych urządzeń chłodniczych</h3>
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="torosspb.ru" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<a href="/portfolio?lang=pl" class="portfolio__butt">
						Więcej niż nasze prace
					</a>
				</div>
			</div>
		</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>