	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Teczka
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio">
				<span class="portfolio__bg"> </span>
				<div class="container">
					<div class="portfolio__row">
						<div class="portfolio__label">Czy jesteś pod wrażeniem naszego niesamowitego portfolio?</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Strona internetowa polskiej firmy elektrycznej</div>
								<div class="portfolio__text">Ten projekt został zbudowany na jednym z naszych szablonów frontendowych.Poważna praca ma
dokonano optymalizacji SEO i konfiguracji funkcjonalności zaplecza.
								</div>
								<a href="#" class="portfolio__btn">Więcej</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">CMR dla polskiej firmy elektrycznej</div>
								<div class="portfolio__text">Ten projekt został zbudowany na ramie Ruby on Rails.Aplikacja pomaga przedsiębiorcy w utrzymaniu kont.
								</div>
								<a href="#" class="portfolio__btn">Więcej</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Strona internetowa ukraińskiego szkółki dla zwierząt</div>
								<div class="portfolio__text">Ta strona została zbudowana na silniku WordPress przez nasz zespół.</div>
								<a href="#" class="portfolio__btn">Więcej</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">
									Optymalizacja SEO strony internetowej firmy do sprzedaży części zamiennych i naprawy chłodzenia
ekwipunek</div>
								<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
									TOP30 - 28 keys</div>
								<a href="#" class="portfolio__btn">Więcej</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Strona internetowa na rynku herbaty w Anglii</div>
								<div class="portfolio__text">Witryna stworzona z unikalnego projektu w WordPress Engine.</div>
								<a href="#" class="portfolio__btn">Więcej</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>