<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Portfolio naszych realizacji</title>
    <meta name="description" content="Portfolio - galeria naszych prac.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Portfolio
						</div>
					</div>
				</div>
			</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Portfolio</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ta strona internetowa została opracowana na Ruby on Rails Framiivork, części administracyjnej
Zawiera system CRM do prowadzenia działalności (rachunkowość, rachunkowość, personel itp.).</div>
							<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CRM dla polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ten projekt został napisany na Ruby on Rails.Aplikacja pomaga przedsiębiorcy
Rachunkowość ołowiu.Ta strona jest zbudowana na frameworku Ruby on Rails, część administracyjna zawiera system CRM do prowadzenia biznesu (ewidencja, księgowość, kadra itp.)
							</div>
							<a href="/services_ror?lang=pl" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa Ukraińskiej Szkółki Zwierząt</h3></div>
							<div class="portfolio__text">Ta strona została stworzona przez nasz zespół na CMS WordPress.</div>
							<a href="http://worldanimals.ml" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa angielskiego sklepu herbaciany</h3></div>
							<div class="portfolio__text">Strona została opracowana z unikalnym designem na CMS WordPress.</div>
							<a href="http://greentea.cf" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona ukraińskiej agrofirmy</h3></div>
							<div class="portfolio__text">Strona jest tworzona w czystym HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>Pozycjonowanie strony SEO dla firmy zajmującej się sprzedażą części zamiennych i naprawą przemysłowych urządzeń 
								chłodniczych</h3>
							</div>
							<div class="portfolio__text">Google TOP1 – 17 kluczy, TOP3 – 21 kluczy, TOP5 – 24 kluczy, TOP10 – 25 kluczy, TOP30 – 28 kluczy, 
							Yandex TOP1 – 19 kluczy, TOP3 – 27 kluczy, TOP5 – 28 kluczy, TOP10 – 30 kluczy.</div>
							<a href="https://torosspb.ru" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>