<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Портфолио наших разработок</title>
    <meta name="description" content="Портфолио - галерея наших работ.">
	<meta property="og:title" content="Портфолио наших разработок" />
    <meta property="og:description" content="Портфолио - галерея наших работ." />
    <meta property="og:image" content="" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Портфолио
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio">
				<span class="portfolio__bg"></span>
				<div class="container">
					<div class="portfolio__row">
						<div class="portfolio__label"><h1>Портфолио наших веб-приложений</h1></div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('usl.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title"><h3>Веб-сайт польской электрической фирмы</h3></div>
								<div class="portfolio__text">Этот веб-сайт разработан на фреймворке Ruby on Rails, административная часть
									содержит CRM систему для ведения бизнеса (учет, бухгалтерия, кадры и т.п.)</div>
								<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('cmr.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title"><h2>CRM для польской электрической компании</h2></div>
								<div class="portfolio__text">Этот проект был написан на Ruby On Rails. Приложение помогает предпринимателю
									вести бухгалтерию.
								</div>
								<a href="/services_ror?lang=ru" class="portfolio__btn" target="blank">Подробнее</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('an.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title"><h2>Веб-сайт украинского питомника животных</h2></div>
								<div class="portfolio__text">Этот сайт был создан нашей командой на CMS WordPress.</div>
								<a href="http://worldanimals.ml" class="portfolio__btn" target="blank">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('tea.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title"><h2>Веб-сайт английской чайной лавки</h2></div>
								<div class="portfolio__text">Сайт разработан с уникальным дизайном на CMS WordPress.</div>
								<a href="http://greentea.cf" class="portfolio__btn" target="blank">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('agroseller.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title"><h2>Веб-сайт украинской агрофирмы</h2></div>
								<div class="portfolio__text">Сайт разработан на чистом HTML/CSS</div>
								<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('toros.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">
									<h2>SEO продвижение сайта компании по продаже запчастей и ремонту промышленного холодильного оборудования</h2>
								</div>
								<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
									TOP30 - 28 keys</div>
								<a href="https://torosspb.ru" class="portfolio__btn" target="blank">Посмотреть</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>