        
        <header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
							<ul class="header__icon-list">
								<li class="header__icon-el"><a href="https://www.facebook.com/Profistyle-web-studio-109179185004293" target="_blank" ><%= image_tag(asset_path('fb-24.webp')) %></a></li>
								<li class="header__icon-el"><a href="https://twitter.com/Profistylegroup" target="_blank"><%= image_tag(asset_path('tw-24.webp')) %></a></li>
								<li class="header__icon-el"><a href="https://www.youtube.com/channel/UCkkaR6A1YLelUqzeMgRMHZw" target="_blank"><%= image_tag(asset_path('ut-24.webp')) %></a></li>
								<li class="header__icon-el"><a href="https://www.instagram.com/profistyle.group/" target="_blank"><%= image_tag(asset_path('in-24.webp')) %></a></li>
								<li class="header__icon-el"><a href="http://vk.com/profistyle.group" target="_blank"><%= image_tag(asset_path('vk-24.webp')) %></a></li>
							</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=en">Glovna</a></li>
								<li><a href="/about_us?lang=en">O nas</a></li>
								<li><a href="/services?lang=en">Usługi</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=en">Rozwój ROR</a>
										<a href="/services_cms?lang=en">Rozwój CMS</a>
										<a href="/services_seo?lang=en">Pozycjonowanie SEO</a>
									</div>
								</li>
								<li><a href="/blog?lang=en">Blog</a></li>
								<li><a href="/portfolio?lang=en">Portfolio</a></li>
								<li><a href="/contacts?lang=en">Skontaktuj się z nami</a></li>
								<li><%= link_to "#{current_path}?lang=pl", class: "jaw__link" do %>
                                        <%= image_tag(asset_path('pl-24.webp')) %>
                                    <% end %>
                                </li>
								<li>
                                    <%= link_to "#{current_path}?lang=ru", class: "jaw__link" do %>
                                        <%= image_tag(asset_path('rus-24.png')) %>
                                    <% end %>
                                </li>
								<li>
                                    <%= link_to "#{current_path}?lang=en", class: "jaw__link" do %>
                                        <%= image_tag(asset_path('eng-24.webp')) %>
                                    <% end %>
                                </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

            <% if current_path == "/" %>
                <div class="jaw">
            <% else %>
                <div class="jaw bg">
            <% end %>
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
                            <div class="jaw__el">
                                <% if current_path == "/" %>
                                    <%= link_to "Glovna", "/?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Glovna", "/?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/about_us" %>
                                    <%= link_to "O nas", "/about_us?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "O nas", "/about_us?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/services" %>
                                    <%= link_to "Usługi", "/services?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Usługi", "/services?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                                <span></span>
								<div class="jaw__poster">
                                    <%= link_to "Rozwój ROR", "/services_ror?lang=#{get_lang}", class: "jaw__link" %>
                                    <%= link_to "Rozwój CMS", "/services_cms?lang=#{get_lang}", class: "jaw__link" %>
                                    <%= link_to "Promocja SEO", "/services_seo?lang=#{get_lang}", class: "jaw__link" %>
								</div>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/blog" %>
                                    <%= link_to "Blog", "/blog?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Blog", "/blog?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/portfolio" %>
                                    <%= link_to "Teczka", "/portfolio?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Teczka", "/portfolio?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/contacts" %>
                                    <%= link_to "Skontaktuj się z nami", "/contacts?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Skontaktuj się z nami", "/contacts?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <%= link_to "#{current_path}?lang=pl", class: "jaw__link" do %>
                                    <%= image_tag(asset_path('pl-24.webp')) %>
                                <% end %>
                                <%= link_to "#{current_path}?lang=ru", class: "jaw__link" do %>
                                    <%= image_tag(asset_path('rus-24.png')) %>
                                <% end %>
                                <%= link_to "#{current_path}?lang=en", class: "jaw__link" do %>
                                    <%= image_tag(asset_path('eng-24.webp')) %>
                                <% end %>
                            </div>
                        </div>
					</div>
				</div>
			</div>
