        
        <header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
							<ul class="header__icon-list">
								<li class="header__icon-el"><a href="https://www.facebook.com/Profistyle-web-studio-109179185004293"><%= image_tag(asset_path('fb-24.webp'), alt: "facebook") %></a></li>
								<li class="header__icon-el"><a href="https://twitter.com/Profistylegroup"><%= image_tag(asset_path('tw-24.webp'), alt: "twitter") %></a></li>
								<li class="header__icon-el"><a href="https://www.youtube.com/channel/UCkkaR6A1YLelUqzeMgRMHZw"><%= image_tag(asset_path('ut-24.webp'), alt: "youtube") %></a></li>
								<li class="header__icon-el"><a href="https://www.instagram.com/profistyle.group/"><%= image_tag(asset_path('in-24.webp'), alt: "instagram") %></a></li>
								<li class="header__icon-el"><a href="http://vk.com/profistyle.group"><%= image_tag(asset_path('vk-24.webp'), alt: "vk") %></a></li>
							</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp'), alt: "phone") %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp'), alt: "phone") %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp'), alt: "mail") %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp'), alt: "logo") %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><%= link_to "Home", "/?lang=#{get_lang}" %></li>
								<li><%= link_to "About us", "/about_us?lang=#{get_lang}" %></li>
								<li><%= link_to "Services", "/services?lang=#{get_lang}" %>
									<button class="collapsible"></button>
									<div class="collapsible-content">
                                        <%= link_to "RoR development", "/services_ror?lang=#{get_lang}" %>
                                        <%= link_to "CMS Development", "/services_cms?lang=#{get_lang}" %>
                                        <%= link_to "SEO Promotion", "/services_seo?lang=#{get_lang}" %>
									</div>
								</li>
								<li><%= link_to "Blog", "/blog?lang=#{get_lang}" %></li>
								<li><%= link_to "Portfolio", "/portfolio?lang=#{get_lang}" %></li>
								<li><%= link_to "Contact us", "/contacts?lang=#{get_lang}" %></li>
								<li>
                                    <%= link_to "#{current_path}?lang=pl", class: "jaw__link" do %>
                                        <%= image_tag(asset_path('pl-24.webp'), alt: "pl", style:"height: 20px; width: 22px;") %>
                                    <% end %>
                                </li>
                                <li>
                                    <%= link_to "#{current_path}?lang=ru", class: "jaw__link" do %>
                                        <%= image_tag(asset_path('rus-24.png'), alt: "ru", style:"height: 20px; width: 22px;") %>
                                    <% end %>
                                </li>
                                <li>
                                    <%= link_to "#{current_path}?lang=en", class: "jaw__link" do %>
                                        <%= image_tag(asset_path('eng-24.webp'), alt: "en",  style:"height: 20px; width: 22px;") %>
                                    <% end %>
                                </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

            <% if current_path == "/" %>
                <div class="jaw">
            <% else %>
                <div class="jaw bg">
            <% end %>
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp'), alt: "logo") %></div>
						<div class="jaw__list">
                            <div class="jaw__el">
                                <% if current_path == "/" %>
                                    <%= link_to "Home", "/?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Home", "/?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/about_us" %>
                                    <%= link_to "About us", "/about_us?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "About us", "/about_us?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/services" %>
                                    <%= link_to "Services", "/services?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Services", "/services?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                                <span></span>
								<div class="jaw__poster">
                                    <%= link_to "RoR development", "/services_ror?lang=#{get_lang}", class: "jaw__link" %>
                                    <%= link_to "CMS Development", "/services_cms?lang=#{get_lang}", class: "jaw__link" %>
                                    <%= link_to "SEO Promotion", "/services_seo?lang=#{get_lang}", class: "jaw__link" %>
								</div>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/blog" %>
                                    <%= link_to "Blog", "/blog?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Blog", "/blog?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/portfolio" %>
                                    <%= link_to "Portfolio", "/portfolio?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Portfolio", "/portfolio?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <% if current_path == "/contacts" %>
                                    <%= link_to "Contacts", "/contacts?lang=#{get_lang}", class: "jaw__link active" %>
                                <% else %>
                                    <%= link_to "Contacts", "/contacts?lang=#{get_lang}", class: "jaw__link" %>
                                <% end %>
                            </div>
                            <div class="jaw__el">
                                <%= link_to "#{current_path}?lang=pl", class: "jaw__link" do %>
                                    <%= image_tag(asset_path('pl-24.webp'), alt: "pl",  style:"height: 20px; width: 22px;") %>
                                <% end %>
                                <%= link_to "#{current_path}?lang=ru", class: "jaw__link" do %>
                                    <%= image_tag(asset_path('rus-24.png'), alt: "ru",  style:"height: 20px; width: 22px;") %>
                                <% end %>
                                <%= link_to "#{current_path}?lang=en", class: "jaw__link" do %>
                                    <%= image_tag(asset_path('eng-24.webp'), alt: "en", style:"height: 20px; width: 22px;") %>
                                <% end %>
                            </div>
                        </div>
					</div>
				</div>
			</div>
