<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Call us</div>
							<div class="footer__subtitle">Our specialists will answer all your questions</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Working hours</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Advice Center</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Photos</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g1.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g2.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g6.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g7.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g8.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g9.webp')) %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Created by <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>