		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Есть вопросы?<br>Свяжитесь с нами.</div>
							<div class="footer__subtitle">Наши специалисты ответят на все ваши вопросы</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Рабочее время</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									ПН: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ВТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СР: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ЧТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ПТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СБ - ВС: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Консультационный центр</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Доменное имя</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Хостинг</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">VPS/VDS хостинг</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Dedicated сервер</a>
								</div>
								<div class="footer__list3-el">
									<a href="/services_cms?lang=ru" target="_blank">Шаблоны Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="/services_cms?lang=ru" target="_blank">Шаблоны Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Фотогалерея</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g1.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g2.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g6.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g7.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g8.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g9.webp')) %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Разработано <a href="https://profistyle.group/" target="_blank">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>