		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Zadzwoń do nas</div>
							<div class="footer__subtitle">Nasi eksperci odpowiedzą na <br>wszystkie Twoje pytania</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Czas pracy</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Pon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wto: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Śro: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Czw: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Pią: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sob - Nie: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Centrum konsultingowe</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Nazwa domeny</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Hosting VPS/VDS</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Serwer dedykowany</a>
								</div>
								<div class="footer__list3-el">
									<a href="/services_cms?lang=pl" target="_blank">Szablony Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="/services_cms?lang=pl" target="_blank">Szablony Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Galeria zdjęć</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g1.webp'), alt: "biuro") %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g2.webp'), alt: "biuro0") %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g6.webp'), alt: "biuro1") %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g7.webp'), alt: "biuro2") %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g8.webp'), alt: "biuro3") %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g9.webp'), alt: "biuro4") %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank" ><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Stworzone przez <a href="https://profistyle.group/" target="_blank">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>