<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов на CMS и RoR -</title>
    <meta name="description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. Настройка контекстной рекламы.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>

    <!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script> -->
<% end %>

<%= render "admin_panel/sidebar" %>
<div class="col py-3">

</div>
</div>
</div>

<!--
<script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
      OneSignal.init({
        appId: "683d8a22-df80-4896-bdb5-70e83d6a34b8",
        safari_web_id: "web.onesignal.auto.220aec70-25f6-4973-9e9c-d6d04112ecc1",
        notifyButton: {
          enable: true,
        },
        subdomainName: "profistyle",
      });
    });
  </script> -->