<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов на CMS и RoR -</title>
    <meta name="description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. Настройка контекстной рекламы.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
<% end %>

<div class="wrapper">
<main class="main">
	<div class="breadcrumb">
		<div class="container">
			<div class="breadcrumb__row">
				<div class="breadcrumb__body">
					<a href="/?lang=en">Home</a> &#187; SEO Promotion
				</div>
			</div>
		</div>
	</div>
	<div class="ruby">
		<div class="container">
			<div class="ruby__text-body">
				<div class="ruby__label"><h1>SEO PROMOTION, OPTIMIZATION, CONTEXTUAL ADVERTISING</h1></div>
				<div class="ruby__text">An important element of the quality of a website is its search engine optimization,
					which provides higher positioning in search engines than non-optimized websites. However, with serious
					competition, search engine optimization alone is not enough to get the site into the top 10 search
					engines. So, there are two main ways to promote a site to the TOP. Let’s dwell on each of them in more
					detail. </div>

				<div class="ruby__title"><h2>1. Setting up contextual advertising</h2></div>
				<div class="ruby__text">The first method is faster and easier, but requires fine tuning to optimize
					financial costs. We are talking about advertising <a href="https://ads.google.com/">Google</a> ads and <a
						href="https://direct.yandex.ru/">Yandex-direct</a>. You pay for a click a user makes on your ad in search. Depending on the
					budget and settings of the advertising company, the search system will display your ad on the first page
					of search results for the search query specified in your ad. Congratulations, you are in the top 10 of the
					search engine! Fast and efficient, but, as always, the main thing is in the details. For example, you set
					a daily budget of $100. Google ads or Yandex Direct can spend them for 2000 clicks, or maybe even 10. It
					all depends on the settings of the advertising company. On average, out of 100 people who clicked on the
					ad and followed it to the site, 1-2 people will make an order. Accordingly, these two orders can cost $5
					or $1,000. Therefore, always contact specialists in the field of advertising settings. We will create and
					professionally set up an advertising campaign for you. </div>

				<div class="ruby__title"><h2>2. SEO website promotion</h2></div>
				<div class="ruby__text">The second way is longer and starts with proper SEO optimization of the site. </div>

				<div class="ruby__subtitle"><h3>SEO optimization</h3></div>
				<div class="ruby__text">If there are no competitive sites for your keywords, then most likely the site will
					get into the top 10 only due to search engine optimization. The site is analyzed for speed and errors in
					the code. We provide a detailed report on the analysis carried out with a list of deficiencies found and
					possible ways to eliminate them. Errors are eliminated, performance is optimized.The semantic core is
					modified for your keywords. The best solution is to initially <a href="/services_cms?lang=en">website development in pure
						HTML/CSS</a> or in framework <a href="/services_ror?lang=en">Ruby on Rails</a>. Such sites are not overloaded with
					unnecessary code and are initially created with search engine optimization. If there is high competition
					for keywords, SEO promotion is necessary. </div>
				<div class="ruby__subtitle"><h3>SEO Analytics</h3></div>
				<div class="ruby__text">SEO website promotion starts with competitor analytics. Competitor sites in the
					TOP10 are determined by keywords, a detailed analysis of their semantics, trustworthiness and many other
					parameters is carried out. Depending on the results, a further promotion strategy and the necessary budget
					are determined. It includes specialist fees + technical costs. Depending on the number of keywords for
					which it is necessary to promote the site, and the level of competition, several specialists may be
					involved. </div>
				<div class="ruby__subtitle"><h3>Search Engine Optimization</h3></div>
				<div class="ruby__text">Work on SEO website promotion takes from 2 months to 1 year. The budget strongly
					depends on the quantity and quality of competitors, they do not sleep and also promote their sites. In the
					future, after the site enters the top 10 Yandex and / or Google, constant work on promotion will not be
					required. Periodically, it will be necessary to monitor the position of the site in search engines and, in
					case of sudden changes in positions, conduct additional analytics on the possible actions of competitors
					or the possible entry of the website under search engine filters. In the first case (with Google ads or
					Yandex direct), you pay all the time and the website immediately gets into the top 10 (more precisely, an
					advertisement linking to your website), and in the second (with seo promotion) you pay within promotion
					period (from 2 to 12 months), and then, after passing the site in the top 10, you get traffic to the site
					from the search engine and customers for free. The website is always in the search engine results, and the
					advertisement is shown periodically, depending on the budget and contextual advertising settings. The
					choice is yours. We will professionally perform both options.</div>
			</div>
			<div class="ruby__gallery">
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('php.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">App Development</div>
						<div class="ruby__el-text">Development of desktop and mobile web applications</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('ui.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">Web Portal</div>
						<div class="ruby__el-text">Creation, supporting and SEO promotion of web portals</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('mockup.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">Open Source</div>
						<div class="ruby__el-text">The projects are available for viewing and analysis on Github</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('responsive.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">CRM</div>
						<div class="ruby__el-text">nstallation, configuration and supporting of CRM applications</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('brainstorm.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">Enterprise Portal</div>
						<div class="ruby__el-text">Creation and supporting of Enerprise portals</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('web-design.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">Custom eCommerce</div>
						<div class="ruby__el-text">Development and supporting of web applications for e-commerce</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('website.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">CMS</div>
						<div class="ruby__el-text">Installation, configuration and supporting of CMS websites</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('wireframe.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">Website Maintenance</div>
						<div class="ruby__el-text">Supporting, optimization and SEO promotion of websites</div>
					</div>
				</div>
				<div class="ruby__el">
					<div class="ruby__el-pic">
					<%= image_tag(asset_path('browser.png')) %>
					</div>
					<div class="ruby__el-body">
						<div class="ruby__el-title">Cost Effective</div>
						<div class="ruby__el-text">We will develop effective tools for your online business</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>