<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Sites on CMS Wordpress and Joomla</title>
    <meta name="description" content="Website development on CMS Wordpress, Joomla and any other. Search engine optimization.
    Plugin settings.">
	<meta property="og:title" content="Sites on CMS Wordpress and Joomla" />
    <meta property="og:description" content="Website development on CMS Wordpress, Joomla and any other. Search engine optimization.
    Plugin settings." />
    <meta property="og:image" content="<%= image_tag(asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; CMS Development
						</div>
					</div>
				</div>
			</div>
			<div class="ruby">
				<div class="container">
					<div class="ruby__text-body">
						<div class="ruby__label"><h1>Sites on CMS Joomla and Wordpress</h1></div>

						<div class="ruby__title"><h2>1. What is a site’s CMS?</h2></div>
						<div class="ruby__text">Content management system (CMS, content management system) — This is software with which you can develop and maintain web sites. In simple terms, this is a site for creating and editing sites. It is assumed that the user (not necessarily a programmer), having basic web design skills, will be able to create and maintain a website on CMS on their own. Of course, to implement any serious project, you need more than just basic skills, here our experts in CMS development will come to your aid. As a rule, CMS has an abundance of so-called plugins — ready-made solutions for any occasion. Sliders, galleries, contact forms, interactive maps, multilingual and even entire online stores (WooCommerce for example). Of course, as in any somewhat complex computer system, the CMS of the site often has compatibility problems with these same plugins. In such situations, people who do not have a number of specific skills are powerless. Despite the fact that there is an abundance of video materials on the network on the topic «Create a website in an hour», «Web design in an hour», «Online store for free in 20 minutes», but the difference between a product that a team of specialists worked on and the same website in an hour can be clearly seen even by a person who is not deep in the development topic. We recommend using <a href="/services?lang=en">specialist services</a>, in our practice there are many cases when ordinary people, in order to save money, tried to create a website on their own, or hired «muddy» freelancers, and in the end, everyone turned to us, but already losing time and money.</div>

						<div class="ruby__title"><h2>2.CMS development process</h2></div>
						<div class="ruby__subtitle"><h3>CMS selection for the site</h3></div>
						<div class="ruby__text">CMS are different, as a rule they are not much different, but among them there are divisions into areas: Universal CMS, CMS for creating online stores, CMS for creating blogs. Having a clear idea of ​​the final result, you should choose the appropriate CMS for the site. Hammering nails with a screwdriver is not reasonable, although it is quite realistic.</div>
						<div class="ruby__subtitle"><h3>Choosing or creating a template</h3></div>
						<div class="ruby__text">To create a quality website, you need to clearly understand what you are doing and why. The choice of colors, the location of the buttons, the content — all this should not be chosen randomly. And all because there are a number of psychological moments even regarding color, a well-formed color palette is already a significant contribution to the fact that a client will make a purchase on your site or call you. Creating a template is a painstaking and by no means simple process, the designer and layout designer must work hard to eventually get good ground for the future website.When it comes to ready-made templates, many web designers make their money by simply creating and selling templates to other developers. If you do not have the time or funds to create a completely unique template, then ready-made solutions for a website on a CMS are your choice.</div>
						<div class="ruby__subtitle"><h3>Content placement</h3></div>
						<div class="ruby__text">After preparing the template, specialists begin to post the required content, in fact, everything that you will see on your site. This also takes some time, but this stage is much easier than creating a template, so you don’t have to be a first-class programmer to handle it. A person who has passed the appropriate courses will be able to cope.</div>
						<div class="ruby__subtitle"><h3>Uploading the finished site to hosting</h3></div>
						<div class="ruby__text">When the website is ready, the only thing left to do is buy a domain name, <a href="https://accounts.fozzy.com/aff.php?aff=18138">rent hosting</a> and put it all together. Only a specialist can cope with this stage, a simple user will spend a lot of time and effort, and in the end, he will still turn to a specialist for help.</div>

						<div class="ruby__title"><h2>3.What CMS do we use and why?</h2></div>
						<div class="ruby__text">As a rule, our specialists for CMS sites use <a href="https://wordpress.org/">WordPress</a> and <a href="https://www.joomla.org/">Joomla</a>, these are the most popular and versatile tools. Our developers have extensive experience in CMS development, and over the years, sites on CMS WordPress and Joomla have proven their reliability and simplicity.</div>

						<div class="ruby__title"><h2>4. Pros and cons of CMS development</h2></div>
						<div class="ruby__subtitle"><h3>Goodies</h3></div>
						<div class="ruby__text">
							<ul class="ruby__text-list">
								<li class="ruby__text-el">Development speed — with the help of a CMS and a ready-made template, a multifunctional website can be deployed in a few days</li>
								<li class="ruby__text-el">Large developer community — most problems can be solved through communication with colleagues Easy to accompany — even a person without specific skills can administer the content</li>
							</ul>
						</div>
						<div class="ruby__subtitle"><h3>Cons</h3></div>
						<div class="ruby__text">
							<ul class="ruby__text-list">
								<li class="ruby__text-el">Performance is the main problem of all sites on CMS, any web site created without the use of CMS will be much faster, and therefore higher in search engine results.</li>
								<li class="ruby__text-el"><a href="/services_seo?lang=en">SEO promotion</a> Website CMS is more demanding for optimization.</li>
								<li class="ruby__text-el">Quality of plug-ins — The abundance of ready-made solutions is good, but almost half of them are of extremely poor quality.</li>
							</ul>
						</div>
					</div>
					<div class="ruby__gallery">
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('php.webp'), alt: "App Development") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">App Development</div>
								<div class="ruby__el-text">Development of desktop and mobile web applications</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('ui.webp'), alt: "Web Portal") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Web Portal</div>
								<div class="ruby__el-text">Creation, supporting and SEO promotion of web portals</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('mockup.png'), alt: "Open Source") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Open Source</div>
								<div class="ruby__el-text">The projects are available for viewing and analysis on Github</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('responsive.png'), alt: "CRM") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">CRM</div>
								<div class="ruby__el-text">nstallation, configuration and supporting of CRM applications</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('brainstorm.png'), alt: "Enterprise Portal") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Enterprise Portal</div>
								<div class="ruby__el-text">Creation and supporting of Enerprise portals</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('web-design.png'), alt: "Custom eCommerce") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Custom eCommerce</div>
								<div class="ruby__el-text">Development and supporting of web applications for e-commerce</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('website.png'), alt: "CMS") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">CMS</div>
								<div class="ruby__el-text">Installation, configuration and supporting of CMS websites</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('wireframe.png'), alt: "Website Maintenance") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Website Maintenance</div>
								<div class="ruby__el-text">Supporting, optimization and SEO promotion of websites</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('browser.png'), alt: "Cost Effective") %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Cost Effective</div>
								<div class="ruby__el-text">We will develop effective tools for your online business</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
