	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=ru">Главная</a></li>
								<li><a href="/about_us?lang=ru">О нас</a></li>
								<li><a href="/services?lang=ru">Услуги</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=ru">RoR разработка</a>
										<a href="/services_cms?lang=ru">CMS разработка</a>
										<a href="/services_seo?lang=ru">SEO продвижение</a>
									</div>
								</li>
								<li><a href="/blog?lang=ru">Блог</a></li>
								<li><a href="/portfolio?lang=ru">Портфолио</a></li>
								<li><a href="/contacts?lang=ru">Контакты</a></li>
								<li><a href="/services?lang=pl">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
								</li>
								<li><a href="/services?lang=ru">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
								</li>
								<li><a href="/services?lang=en">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=ru" class="jaw__link">Главная</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=ru" class="jaw__link">О нас</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=ru" class="jaw__link active">Услуги</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=ru">RoR разработка</a>
									<a href="/services_cms?lang=ru">CMS разработка</a>
									<a href="/services_seo?lang=ru">SEO продвижение</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=ru" class="jaw__link">Блог</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=ru" class="jaw__link">Портфолио</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=ru" class="jaw__link">Контакты</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; CMS разработка
						</div>
					</div>
				</div>
			</div>
			<div class="ruby">
				<div class="container">
					<div class="ruby__text-body">
						<div class="ruby__label">Сайты на CMS Joomla и WordPress</div>

						<div class="ruby__title">1. Что такое CMS?</div>
						<div class="ruby__text">Система управления содержимым (англ. Content management system, CMS, система управления контентом) — Это программное обеспечение, с помощью которого можно разрабатывать и сопровождать веб сайты. Простым языком это сайт для создания и редактирования сайтов. Подразумевается, что пользователь (не обязательно программист) имея базовые навыки веб дизайна, сможет своими силами создать и вести веб сайт на CMS. Конечно для реализации сколько-нибудь серьезного проекта необходимо больше чем просто базовые навыки, тут вам на помощь придут наши специалисты по CMS разработке.

  Как правило в CMS присутствует обилие так называемых плагинов — готовых решений на любой случай. Слайдеры, галереи, контактные формы, интерактивные карты, мультиязычность и даже целые интернет магазины (WooCommerce например).

  Конечно, как и в любой сколько-нибудь сложной компьютерной системе, в CMS сайта часто возникают проблемы совместимости этих самых плагинов. В таких ситуациях люди не имеющие ряд специфических навыков оказываются бессильны. Несмотря на то что в сети целое изобилие видеоматериалов на тему «Создать сайт за час», «Веб дизайн за час», «Интернет магазин бесплатно за 20 минут», но разницу между продуктом над которым трудилась команда специалистов, и тем самым сайтом за час видно отчетливо даже человеку который не углублен в тему разработки.

  Мы рекомендуем использовать услуги специалистов, в нашей практике есть масса случаев когда простые люди в целях экономии пытались своими силами создать сайт, или нанимали «мутных» фрилансеров, а в конечном итоге все-ровно обращались к нам, но уже потеряв время и средства.</div>

						<div class="ruby__title">2.Процесс разработки при помощи CMS</div>
						<div class="ruby__subtitle">Выбор CMS для сайта</div>
						<div class="ruby__text">CMS бывают разные, как правило они мало чем отличаются, но среди них есть разделения по направлениям: Универсальные CMS, CMS для создания интернет магазинов, CMS для создания блогов.
Имея чёткое представление о конечном результате, следует выбирать соответствующую CMS для сайта. Забивать гвозди шуруповёртом ведь не разумно, хотя вполне реально.</div>
						<div class="ruby__subtitle">Выбор или создание шаблона</div>
						<div class="ruby__text">  Что бы создать качественный веб сайт стоит чётко понимать что вы делаете, и почему. Выбор цветов, место расположения кнопок, контента — все это не следует выбирать на обум. А все потому что есть ряд психологических моментов даже относительно цвета, правильно сформированная цветовая палитра это уже весомый вклад в то что клиент совершит покупку на вашем сайте или позвонит вам. Создание шаблона процесс кропотливый и отнюдь не простой, дизайнер и верстальщик должны хорошо потрудиться, что бы в итоге получить хорошую почву для будущего веб сайта. Что касается готовых шаблонов, многие веб дизайнеры зарабатываю тем, что просто создают и продают шаблоны другим разработчикам. Если у вас нет времени или средств на создание целиком уникального шаблона, то готовые решения для сайта на CMS — это ваш выбор.</div>
						<div class="ruby__subtitle">Размещение контента</div>
						<div class="ruby__text">После подготовки шаблона, специалисты начинают размещать требуемый контент, по сути все то что вы будете видеть у себя на сайте. Это тоже занимает какое-то время, но этот этап значительно проще чем создание шаблона, поэтому что бы с ним справиться не обязательно быть первоклассным программистом. Человек прошедший соответствующие курсы, сможет справиться.</div>
						<div class="ruby__subtitle">Загрузка готового сайта на хостинг</div>
						<div class="ruby__text">Когда веб сайт готов, дело остается за малым — купить доменное имя, арендовать хостинг и собрать всё в кучу. Как раз с этим этапом справиться сможет только специалист, простой пользователь потратит уйму времени и сил, а в конечном счёте все равно обратится за помощью к специалисту.</div>

						<div class="ruby__title">3.Какие CMS мы используем и почему?</div>
						<div class="ruby__text">  Как правило наши специалисты для CMS сайтов используют <a href="https://en.wordpress.org/">WordPress</a> и <a href="https://www.joomla.org/">Joomla</a>, это самые популярные и универсальные инструменты. У наших разработчиков большой опыт CMS разработки, и за все годы доказали свою надежность и простоту именно сайты на CMS WordPress и Joomla.</div>

						<div class="ruby__title">4. Плюсы и минусы CMS разработки</div>
						<div class="ruby__subtitle">Плюсы</div>
						<div class="ruby__text">
							<ul class="ruby__text-list">
								<li class="ruby__text-el">Скорость разработки — при помощи CMS и готового шаблона многофункциональный веб сайт можно развернуть за несколько дней</li>
								<li class="ruby__text-el">Большое комьюнити разработчиков — большинство проблем можно решить посредством общения с коллегами
Просто сопровождать — администрировать контент сможет даже человек без специфических навыков</li>
							</ul>
						</div>

						<div class="ruby__subtitle">Минусы</div>
						<div class="ruby__text">
							<ul class="ruby__text-list">
								<li class="ruby__text-el">Быстродействие — главная проблема всех сайтов на CMS, любой веб сайт созданный без использования CMS будет намного быстрее, а следовательно выше в выдаче по версии поисковых систем.</li>
								<li class="ruby__text-el"><a href="/services_seo?lang=ru">SEO продвижение</a> CMS сайта более требовательно к оптимизации.</li>
								<li class="ruby__text-el">Качество плагинов — Обилие готовых решений это хорошо, но среди них едва ли не половина выполнена крайне некачественно.</li>
							</ul>
						</div>
					</div>
					<div class="ruby__gallery">
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('php.webp')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Разработка приложений</div>
								<div class="ruby__el-text">Разработка мобильных и веб-приложений</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('ui.webp')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Веб-портал</div>
								<div class="ruby__el-text">Создание, поддержка и SEO продвижение веб-порталов</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('mockup.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Открытый исходный код</div>
								<div class="ruby__el-text">Проекты доступны для просмотра и анализа на GitHub</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('responsive.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">CRM</div>
								<div class="ruby__el-text">Установка, конфигурация и поддержка приложений CRM</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('brainstorm.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Корпоративный портал</div>
								<div class="ruby__el-text">Создание и поддержка корпоративных порталов</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('web-design.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Пользовательская электронная коммерция</div>
								<div class="ruby__el-text">Разработка и поддержка веб-приложений для электронной коммерции</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('website.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">CMS</div>
								<div class="ruby__el-text">Установка, конфигурация и поддержка веб-сайтов CMS</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('wireframe.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Техническое обслуживание веб-сайта</div>
								<div class="ruby__el-text">Поддержка, оптимизация и продвижение SEO веб -сайтов</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('browser.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Экономически эффективны</div>
								<div class="ruby__el-text">Мы разработаем эффективные инструменты для вашего онлайн-бизнеса</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Позвоните нам</div>
							<div class="footer__subtitle">Наши специалисты ответят на все ваши вопросы</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Рабочее время</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									ПН: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ВТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СР: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ЧТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ПТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СБ - ВС: Выходной
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Консультационный центр</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Доменные имена</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Хостинг</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS хостинг</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Выделенный сервер</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Фото</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138">
						<%= image_tag(asset_path('fozzy_button.png')) %>
						</a>
					</div>
					<div class="footer__post">Разработано <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
