	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"class="header__icon-link">biuro@profistyle.group</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=en">Home</a></li>
								<li><a href="/about_us?lang=en">About Us</a></li>
								<li><a href="/services?lang=en">Services</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=en">RoR development</a>
										<a href="/services_cms?lang=en">CMS Development</a>
										<a href="/services_seo?lang=en">SEO Promotion</a>
									</div>
								</li>
								<li><a href="/blog?lang=en">Blog</a></li>
								<li><a href="/portfolio?lang=en">Portfolio</a></li>
								<li><a href="/contacts?lang=en">Contact Us</a></li>
								<li><a href="/contacts?lang=pl"><%= image_tag(asset_path('pl-24.webp')) %></a></li>
								<li><a href="/contacts?lang=ru"><%= image_tag(asset_path('rus-24.webp')) %></a></li>
								<li><a href="/contacts?lang=en"><%= image_tag(asset_path('eng-24.webp')) %></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=en" class="jaw__link">Home</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=en" class="jaw__link">About Us</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=en" class="jaw__link">Services</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=en" class="jaw__link">RoR development</a>
									<a href="/services_cms?lang=en" class="jaw__link">CMS Development</a>
									<a href="/services_seo?lang=en" class="jaw__link">SEO Promotion</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=en" class="jaw__link">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=en" class="jaw__link">Portfolio</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=en" class="jaw__link active">Contact Us</a>
							</div>
							<div class="jaw__el">
								<a href="contacts/?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="contacts/?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="contacts/?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Contact Us
						</div>
					</div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<div class="contact__row">
						<div class="contact__label">CONTACT US</div>
						<div class="contact__block">
							<div class="contact__el">
								<div class="contact__el-pic-1"></div>
								<div class="contact__el-title">ADDRESS</div>
								<div class="contact__el-subtitle">Str. Ludwika Rydygiera 16/1, 50-249, Wroclaw</div>
							</div>
							<div class="contact__el">
								<div class="contact__el-pic-2"></div>
								<div class="contact__el-title">EMAIL</div>
								<div class="contact__el-subtitle">biuro@profistyle.group</div>
							</div>
							<div class="contact__el">
								<div class="contact__el-pic-3"></div>
								<div class="contact__el-title">PHONE</div>
								<div class="contact__el-subtitle">+48795124042</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="map">
				<div class="container">
					<div class="map__row">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.4527232934106!2d17.031335115947144!3d51.11855684687939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9ddeb36c739%3A0x4ec13f63aa25c2e!2zUnlkeWdpZXJhIDE2LCA1MC0yNTAgV3JvY8WCYXcsINCf0L7Qu9GM0YjQsA!5e0!3m2!1sru!2sua!4v1661431326620!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
			<div class="touch">
				<div class="container">
					<form action="" class="touch">
						<div class="touch__title">GET IN TOUCH</div>
						<div class="touch__subtitle">Your message is very important to us. We will answer it as soon as possible.</div>
						<div class="touch__body">
							<div class="touch__rank">
								<div class="touch__el">
									<label for="" class="touch__label">Your Name *</label>
									<input type="text" class="touch__input">
								</div>
								<div class="touch__el">
									<label for="" class="touch__label">Your Email*</label>
									<input type="text" class="touch__input">
								</div>
								<div class="touch__el">
									<label for="" class="touch__label">Subject</label>
									<input type="text" class="touch__input">
								</div>
							</div>
							<div class="touch__el-textarea">
								<label for="" class="touch__label">Messages</label>
								<textarea name="" id="" rows="20" class="touch__el-textarea"></textarea>
							</div>
							<button class="touch__btn">SEND</button>
						</div>
					</form>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Call us</div>
							<div class="footer__subtitle">Our specialists will answer all your questions</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Working hours</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Advice Center</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Photos</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138">
						<%= image_tag(asset_path('fozzy_button.webp')) %>
						</a>
					</div>
					<div class="footer__post">Created by <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>