<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Skontaktuj się z nami w jakikolwiek sposób</title>
    <meta name="description" content="Skontaktuj się z nami w dowolny dogodny dla Ciebie sposób.">
	<meta property="og:title" content="Skontaktuj się z nami w jakikolwiek sposób">
    <meta property="og:description" content="Skontaktuj się z nami w dowolny dogodny dla Ciebie sposób.">
    <meta property="og:image" content="<%= (asset_path('cropped-icon2.png')) %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Skontaktuj się z nami
						</div>
					</div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<div class="contact__row">
						<div class="contact__label"><h1>SKONTAKTUJ SIĘ Z NAMI</h1></div>
						<div class="contact__block">
							<div class="contact__el">
								<div class="contact__el-pic-1"><%= image_tag(asset_path('loc-100-aq.png'), alt: "adres") %></div>
								<div class="contact__el-title">ADRES</div>
								<div class="contact__el-subtitle">Str. Ludwika Rydygiera 16/1, 50-249, Wroclaw</div>
							</div>
							<div class="contact__el">
								<div class="contact__el-pic-2"><%= image_tag(asset_path('en-100-aq.png'), alt: "email") %></div>
								<div class="contact__el-title">EMAIL</div>
								<div class="contact__el-subtitle">biuro@profistyle.group</div>
							</div>
							<div class="contact__el">
								<div class="contact__el-pic-3"><%= image_tag(asset_path('tl-100-aq.png'), alt: "telefon") %></div>
								<div class="contact__el-title">TELEFON</div>
								<div class="contact__el-subtitle">+48795124042</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="map">
				<div class="container">
					<div class="map__row">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.4527232934106!2d17.031335115947144!3d51.11855684687939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9ddeb36c739%3A0x4ec13f63aa25c2e!2zUnlkeWdpZXJhIDE2LCA1MC0yNTAgV3JvY8WCYXcsINCf0L7Qu9GM0YjQsA!5e0!3m2!1sru!2sua!4v1661431326620!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
			<div class="touch">
				<div class="container">
					<%= form_with url: "/admin_panel/create_message?lang=#{params[:lang]}", class: "touch", :html => { :onsubmit => "submit_form()" }  do |form| %>
						<div class="touch__title"><h2>Napisz do nas</h2></div>
						<div class="touch__subtitle" style="margin-bottom: 20px !important;">Twoja wiadomość jest dla nas bardzo ważna. Odpowiemy jak najszybciej.</div>
						<div class="touch__subtitle" id="enter_info"><strong>Proszę wypełnić wszystkie pola.</strong></div>
						<div class="touch__body">
							<div class="touch__rank">
								<div class="touch__el">
									<label for="" class="touch__label">Twoje imię</label>
									<%= form.text_field :name, class: "touch__input", id: "name" %>
								</div>
								<div class="touch__el">
									<label for="" class="touch__label">Twój email</label>
									<%= form.text_field :email, class: "touch__input", id: "email", type: "email" %>
								</div>
								<div class="touch__el">
									<label for="" class="touch__label">Motyw</label>								
									<%= form.text_field :subject, class: "touch__input", id: "subject" %>
								</div>
							</div>
							<div class="touch__el-textarea">
								<label for="" class="touch__label">Wiadomość</label>
								<%= form.text_area :message, class: "touch__el-textarea", rows: 25, id: "text" %>
							</div>
							<div class="touch__subtitle not-show" id="send_info"><strong>Twoja wiadomość została wysłana. Wkrótce się z Tobą skontaktujemy.</strong></div>
							<%= form.submit "Wysłać", class: "touch__btn", id: "send_btn" %>
						</div>
					<% end %>
  					</div>
				</div>
			</div>
		</main>

		<style>
			.not-show{
				display: none;
			}

			.success-btn{
				background-color: #198754;
			}
		</style>

		<script>
			const formInput1 = document.getElementById("name");
			const formInput2 = document.getElementById("email");
			const formInput3 = document.getElementById("subject");
			const formInput4 = document.getElementById("text");
			const formButton = document.getElementById("send_btn");
			const sendInfo = document.getElementById("send_info");

			const validateEmail = (email) => {
  			return email.match(
   			  /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
 			);
			};	

			function submit_form(){
				formButton.classList.add("not-show");
				sendInfo.classList.remove("not-show");
			}

			// the default state is 'disabled'
			formButton.disabled = true; 

			// alternative is to use "change" - explained below
			formInput1.addEventListener("keyup", buttonState);
			formInput2.addEventListener("keyup", buttonState);
			formInput3.addEventListener("keyup", buttonState);
			formInput4.addEventListener("keyup", buttonState);

			function buttonState() {
    			if (document.getElementById("name").value === "" || !validateEmail(document.getElementById("email").value) || document.getElementById("subject").value === "" || document.getElementById("text").value === "") {
        			formButton.disabled = true; // return disabled as true whenever the input field is empty
					formButton.classList.remove("success-btn");
    			} else {
        			formButton.disabled = false; // enable the button once the input field has content
					formButton.classList.add("success-btn");
    			}
			}
		</script>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>