<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Способы связаться с нами</title>
    <meta name="description" content="Свяжитесь с нами любым удобным для Вас способом.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
<% end %>

<div class="wrapper">
		<main class="main" id="main_elem">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Контакты
						</div>
					</div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<div class="contact__row">
						<div class="contact__label"><h1>Свяжитесь с нами</h1></div>
						<div class="contact__block">
							<div class="contact__el">
								<div class="contact__el-pic-1"><%= image_tag(asset_path('loc-100-aq.png')) %></div>
								<div class="contact__el-title">Адрес</div>
								<div class="contact__el-subtitle">Str. Ludwika Rydygiera 16/1, 50-249, Wroclaw</div>
							</div>
							<div class="contact__el">
								<div class="contact__el-pic-2"><%= image_tag(asset_path('en-100-aq.png')) %></div>
								<div class="contact__el-title">EMAIL</div>
								<div class="contact__el-subtitle">biuro@profistyle.group</div>
							</div>
							<div class="contact__el">
								<div class="contact__el-pic-3"><%= image_tag(asset_path('tl-100-aq.png')) %></div>
								<div class="contact__el-title">Телефон</div>
								<div class="contact__el-subtitle">+48795124042</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="map">
				<div class="container">
					<div class="map__row">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.4527232934106!2d17.031335115947144!3d51.11855684687939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9ddeb36c739%3A0x4ec13f63aa25c2e!2zUnlkeWdpZXJhIDE2LCA1MC0yNTAgV3JvY8WCYXcsINCf0L7Qu9GM0YjQsA!5e0!3m2!1sru!2sua!4v1661431326620!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
			<div class="touch">
				<div class="container">
					<%= form_with url: "/contacts_form_send?lang=#{params[:lang]}", class: "touch" do |form| %>
						<div class="touch__title"><h2>Напишите нам</h2></div>
						<div class="touch__subtitle">Ваше сообщение очень важно для нас. Мы ответим на него как можно скорее.</div>
						<div class="touch__body">
							<div class="touch__rank">
								<div class="touch__el">
									<label for="" class="touch__label">Ваше имя *</label>
									<%= form.text_field :name, class: "touch__input" %>
								</div>
								<div class="touch__el">
									<label for="" class="touch__label">Ваш Email*</label>
									<%= form.text_field :email, class: "touch__input" %>
								</div>
								<div class="touch__el">
									<label for="" class="touch__label">Тема</label>								
									<%= form.text_field :subject, class: "touch__input" %>
								</div>
							</div>
							<div class="touch__el-textarea">
								<label for="" class="touch__label">Сообщение</label>
								<%= form.text_area :message, class: "touch__el-textarea", rows: 25 %>
							</div>
							<%= form.submit "Отправить", class: "touch__btn" %>
						</div>
					<% end %>
  					</div>
				</div>
			</div>
		</main>

		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
		</script>
