<%= render "admin_panel/sidebar" %>
<div class="col py-3">

    <h1 class="text-center">ПОСТЫ</h1>
    <% @posts.reverse.each do |post| %>
        <h1 class="text-center">Пост №<%= post.id %></h1>
        <h2 class="text-center">Русская версия</h2>
        <%= post.name_ru %> <br>
        <%= if post.text_ru != nil then sanitize post.text_ru end %> <br>
        <%= post.created_at %> <br>
        <%= link_to "Подробнее", "admin_panel/post/#{post.id}" %> <br>
<br>
        <h2 class="text-center">польская версия</h2> <br>
        <%= post.name_pl %> <br>
        <%= if post.text_pl != nil then sanitize post.text_pl end %> <br>
        <%= post.created_at %> <br>
        <%= link_to "Подробнее", "admin_panel/post/#{post.id}" %> <br>
<br>
        <h2 class="text-center">английская версия</h2> <br>
        <%= post.name_en %> <br>
        <%= if post.text_en != nil then sanitize post.text_en end %> <br>
        <%= post.created_at %> <br>
        <%= link_to "Подробнее", "admin_panel/post/#{post.id}" %> <br>
    <% end %>
</div>
</div>
</div>