<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов на CMS и RoR -</title>
    <meta name="description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. Настройка контекстной рекламы.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
<% end %>

<%= render "admin_panel/sidebar" %>
<div class="col py-3">
    <div class="container">
    <%= form_with url: "/admin_panel/create_post" do |f| %>
        <h2><strong>Интро поста</strong></h2>
        <%= f.file_field('post_intro') %>
        <br>
        <h2 class="text-center">РУССКАЯ ВЕРСИЯ</h2>
        <%= f.label "Имя поста RU", class: "form-label" %>: <%= f.text_field :name_ru, class: "form-control" %> <br>
        <div class="field"><%= f.label "Текст RU", class: "form-label" %>: <%= text_area_tag :text_ru, "Hello, World!", :class => "tinymce" %><%= tinymce %></div>
        <br>
        <h2 class="text-center">ПОЛЬСКАЯ ВЕРСИЯ</h2>
        <%= f.label "Имя поста PL", class: "form-label" %>: <%= f.text_field :name_pl, class: "form-control" %> <br>
        <div class="field"><%= f.label "Текст PL", class: "form-label" %>: <%= text_area_tag :text_pl, "Hello, World!", :class => "tinymce" %><%= tinymce %></div>
        <br>
        <h2 class="text-center">АНГЛИЙСКАЯ ВЕРСИЯ</h2>
         <%= f.label "Имя поста EN", class: "form-label" %>: <%= f.text_field :name_en, class: "form-control" %> <br>
        <div class="field"><%= f.label "Текст EN", class: "form-label" %>: <%= text_area_tag :text_en, "Hello, World!", :class => "tinymce" %><%= tinymce %></div>
        <br>
        <%= f.submit "Создать пост", class: "text-center btn btn-success" %>
    <% end %>
    </div>
</div>
</div>
</div>