<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов на CMS и RoR -</title>
    <meta name="description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. Настройка контекстной рекламы.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
<% end %>

<%= render "admin_panel/sidebar" %>
<div class="col py-3">
        <% @posts.each do |post| %>
        <div class="container" style="border: 4px solid ;"></div>
            <div class="container">
                <div class="row">
                    <div class="col py-3">
                        <br>
                        <h2>POST ID: <%= post.id %> <br> POST_CREATE_DATE: <%= post.created_at %> <br> NAME_RU: <%= post.name_ru %></h2>
                    </div>
                    <div class="col py-3">
                        <%= link_to 'Редактировать', "/admin_panel/post/#{post.id}/edit", class: "btn btn-primary", id: post.id %> <br> <br> <%= button_to 'Удалить пост', {controller: "admin_panel", action: "destroy_post", id: post.id} ,class: "btn btn-danger", form: { data: { turbo_confirm: 'Шо, внатуре??' } } %> <br> <br>
                    </div>
                </div>
            </div>
        
            <% if !post.post_intro.url.nil? %>
            <div class="container">
                <%= image_tag(post.post_intro.url) %>
                <br>
                <br>
            </div>
            <% end %>
            <% if post.post_intro.url.nil? %>
                <div class="alert alert-danger" role="button">
                    К посту не прикреплена фотография! Пост не отображается в блоге.
                </div>
            
            <% else %>

            <% if !check_valid_post_for_lang(post.text_ru, post.post_intro, post.name_ru, post.metatitle_ru, post.metadescription_ru) %>
                <div class="alert alert-danger" role="button" data-bs-toggle="collapse" href="#post_ru<%= post.id %>" aria-expanded="false">
                    RU Версия - Не все поля заполнены. Языковая версия не отображается в блоге!
                </div>
            <% else %>
                <div class="alert alert-success" role="button" data-bs-toggle="collapse" href="#post_ru<%= post.id %>" aria-expanded="false">
                    RU Версия отображается в блоге!
                </div>
            <% end %>
            <div class="collapse" id="post_ru<%= post.id %>">
                <br>
                <div class="card card-body">
                    <h1><%= post.name_ru %></h1>
                    <p>Meta Title:<%= post.metatitle_ru %></p>
                    <p>Meta Description:<%= post.metadescription_ru %></p>
                    <div class="blog__body">
                        <div class="blog__el-content">
                            <%= sanitize post.text_ru %>
                        </div>
                    </div>    
                </div>
                <br>
            </div>
            <% if !check_valid_post_for_lang(post.text_pl, post.post_intro, post.name_pl, post.metatitle_pl, post.metadescription_pl) %>
                <div class="alert alert-danger" role="button" data-bs-toggle="collapse" href="#post_pl<%= post.id %>" aria-expanded="false">
                    PL Версия - Не все поля заполнены. Языковая версия не отображается в блоге!
                </div>
            <% else %>
                <div class="alert alert-success" role="button" data-bs-toggle="collapse" href="#post_pl<%= post.id %>" aria-expanded="false">
                    PL Версия отображается в блоге!
                </div>
            <% end %>
            <div class="collapse" id="post_pl<%= post.id %>">
                <br>
                <div class="card card-body">
                    <h1><%= post.name_pl %></h1>
                    <p>Meta Title:<%= post.metatitle_pl %></p>
                    <p>Meta Description:<%= post.metadescription_pl %></p>
                    <div class="blog__body">
                        <div class="blog__el-content">
                            <%= sanitize post.text_pl %>
                        </div>
                    </div> 
                </div>
                <br>
            </div>
            <% if !check_valid_post_for_lang(post.text_en, post.post_intro, post.name_en, post.metatitle_en, post.metadescription_en) %>
                <div class="alert alert-danger" role="button" data-bs-toggle="collapse" href="#post_en<%= post.id %>" aria-expanded="false">
                    EN Версия - Не все поля заполнены. Языковая версия не отображается в блоге!
                </div>
            <% else %>
                <div class="alert alert-success" role="button" data-bs-toggle="collapse" href="#post_en<%= post.id %>" aria-expanded="false">
                    EN Версия отображается в блоге!
                </div>
            <% end %>
            <div class="collapse" id="post_en<%= post.id %>">
                <br>
                <div class="card card-body">
                    <h1><%= post.name_en %></h1>
                    <p>Meta Title:<%= post.metatitle_en %></p>
                    <p>Meta Description:<%= post.metadescription_en %></p>
                    <div class="blog__body">
                        <div class="blog__el-content">
                            <%= sanitize post.text_en %>
                        </div>
                    </div> 
                </div>
                <br>
            </div>
            <% end %>

        <% end %>
</div>
</div>
</div>