	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Who We Are
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label">WE HAVE SKILLED & EXPERIENCED</div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Ruslan</div>
									<div class="staff__body-subtitle">Web developer</div>
									<div class="staff__body-text">Frontend developer. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniil</div>
									<div class="staff__body-subtitle">Web Designer</div>
									<div class="staff__body-text">Frontend developer. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Dmytro</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Backend Developer, Linux, VPS configuration, Git, Ruby on Rails, .NET, C++, PHP</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Danil</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Frontend developer. HTML 5, CSS 3, SCSS, JS, Projects optimization, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Andrey</div>
									<div class="staff__body-subtitle">Project Manager</div>
									<div class="staff__body-text">Full-stack developer.
										SEO specialist.</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">SOMETHING ABOUT US</div>
						<div class="briefly__box">
							<div class="briefly__pic">
							<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Unique Designs</div>
										<div class="briefly__text">We develop a unique design for websites and logos of your company.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Standard Research</div>
										<div class="briefly__text">We conduct analytics in the development and promotion of websites.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Project Goal</div>
										<div class="briefly__text">A modern and high-quality digital product.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">WHY YOU SHOULD CHOOSE US ?</div>
							<div class="choose__vid">
							<%= image_tag(asset_path('about1.webp')) %>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Our team consists of professional programmers, designers and system
								administrators who will develop a website for you in the shortest possible time, set up domain zones,
								hosting or a VPS server.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
									</div>
									<div class="choose__tagline">CREATIVE</div>
									<div class="choose__text">Our experts will advise you on all issues. We use a creative approach in
										communicating with the customer and what he needs .</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">STANDARD</div>
									<div class="choose__text">Our specialists have the necessary qualifications to fulfill your order in
										accordance with the highest and most modern standards in the field of IT.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label">WE HAVE PRODUCT WEBSITE FOR YOU</div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png')) %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">SINCE WE LAUNCHED</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png')) %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">SATISFIED USTOMERS</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png')) %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">EMAILS SENT/MONTH</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png')) %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">TEMPLATES</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
