<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Our development team</title>
    <meta name="description" content="Our team consists of professional programmers, designers, system administrators.">
	<meta property="og:title" content="Our development team" />
    <meta property="og:description" content="Our team consists of professional programmers, designers, system administrators." />
    <meta property="og:image" content="<%= image_tag(asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; About us
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label"><h1>Our IT experts will perform work of any complexity</h1></div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp'), alt: "Web developer") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Ruslan</div>
									<div class="staff__body-subtitle">Web developer</div>
									<div class="staff__body-text"><h2>Fronted Developer. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp'), alt: "Fronted Developer") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniel</div>
									<div class="staff__body-subtitle">Web Designer</div>
									<div class="staff__body-text"><h2>Fronted Developer. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp'), alt: "Bekend Developer") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Dmitry</div>
									<div class="staff__body-subtitle">Web developer</div>
									<div class="staff__body-text"><h2>Bekend Developer, Linux, setup VPS, Git, Ruby on Rails, .NET, C++, PHP</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp'), alt: "Fronted Developer") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniel</div>
									<div class="staff__body-subtitle">Web developer</div>
									<div class="staff__body-text"><h2>Fronted Developer. HTML 5, CSS 3, SCSS, JS, Optimization of projects, Git</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp'), alt: "Full-Stack Developer") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Andrew</div>
									<div class="staff__body-subtitle">Project manager</div>
									<div class="staff__body-text"><h2>Full-Stack Developer.
SEO specialist.</h2></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label"><h2>Site Development and Support</h2></div>
							<div class="choose__vid">
								<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Our team consists of professional programmers, designers, system administrators who will develop a site for you as soon as possible, set up domain zones, hosting, VDS/VPS or DEDICATE server.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bu-50.webp'), alt: "Development") %></div>
									<div class="choose__tagline"><h3>Development</h3></div>
									<div class="choose__text">Development is carried out at our hosting, on a technical domain by several specialists.The customer has the opportunity to directly observe the process of developing a website.</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bx-50.webp'), alt: "Support") %></div>
									<div class="choose__tagline"><h3>Support</h3></div>
									<div class="choose__text">We provide services for subsequent support and maintenance of the website.We recommend reliable fast -acting hosting.Installing or transferring the site to the customer hosting, setting up the domain zone.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label"><h3>They trust us</h3></div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png'), alt: "Startups") %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">Startups are launched</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png'), alt: "Divine customers") %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">Divine customers</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png'), alt: "Letters") %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">Letters per month</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png'), alt: "templates") %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">Premium templates</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
