	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=en">Home</a></li>
								<li><a href="/about_us?lang=en">About Us</a></li>
								<li><a href="/service?lang=en">Services</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=en">RoR development</a>
										<a href="/services_cms?lang=en">CMS Development</a>
										<a href="/services_seo?lang=en">SEO Promotion</a>
									</div>
								</li>
								<li><a href="/blog?lang=en">Blog</a></li>
								<li><a href="/portfolio?lang=en">Portfolio</a></li>
								<li><a href="/contacts?lang=en">Contact Us</a></li>
								<li><a href="/about_us?lang=pl"><%= image_tag(asset_path('pl-24.webp')) %></a></li>
								<li><a href="/about_us?lang=ru"><%= image_tag(asset_path('rus-24.webp')) %></a></li>
								<li><a href="/about_us?lang=en"><%= image_tag(asset_path('eng-24.webp')) %></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=en" class="jaw__link">Home</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=en" class="jaw__link active">About Us</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=en" class="jaw__link">Services</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=en" class="jaw__link">RoR development</a>
									<a href="/services_cms?lang=en" class="jaw__link">CMS Development</a>
									<a href="/services_seo?lang=en" class="jaw__link">SEO Promotion</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=en" class="jaw__link">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=en" class="jaw__link">Portfolio</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=en" class="jaw__link">Contact Us</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Who We Are
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label">WE HAVE SKILLED & EXPERIENCED</div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Ruslan</div>
									<div class="staff__body-subtitle">Web developer</div>
									<div class="staff__body-text">Frontend developer. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniil</div>
									<div class="staff__body-subtitle">Web Designer</div>
									<div class="staff__body-text">Frontend developer. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Dmytro</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Backend Developer, Linux, VPS configuration, Git, Ruby on Rails, .NET, C++, PHP</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Danil</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Frontend developer. HTML 5, CSS 3, SCSS, JS, Projects optimization, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Andrey</div>
									<div class="staff__body-subtitle">Project Manager</div>
									<div class="staff__body-text">Full-stack developer.
										SEO specialist.</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">SOMETHING ABOUT US</div>
						<div class="briefly__box">
							<div class="briefly__pic">
							<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Unique Designs</div>
										<div class="briefly__text">We develop a unique design for websites and logos of your company.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Standard Research</div>
										<div class="briefly__text">We conduct analytics in the development and promotion of websites.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Project Goal</div>
										<div class="briefly__text">A modern and high-quality digital product.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">WHY YOU SHOULD CHOOSE US ?</div>
							<div class="choose__vid">
							<%= image_tag(asset_path('about1.webp')) %>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Our team consists of professional programmers, designers and system
								administrators who will develop a website for you in the shortest possible time, set up domain zones,
								hosting or a VPS server.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
									</div>
									<div class="choose__tagline">CREATIVE</div>
									<div class="choose__text">Our experts will advise you on all issues. We use a creative approach in
										communicating with the customer and what he needs .</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">STANDARD</div>
									<div class="choose__text">Our specialists have the necessary qualifications to fulfill your order in
										accordance with the highest and most modern standards in the field of IT.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label">WE HAVE PRODUCT WEBSITE FOR YOU</div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png')) %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">SINCE WE LAUNCHED</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png')) %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">SATISFIED USTOMERS</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png')) %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">EMAILS SENT/MONTH</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png')) %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">TEMPLATES</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Call us</div>
							<div class="footer__subtitle">Our specialists will answer all your questions</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Working hours</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Advice Center</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Photos</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Created by <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
