	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Kim jesteśmy
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label">Mieliśmy wykwalifikowane & DOŚWIADCZONY</div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Ruslan</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Frontend developer. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniil</div>
									<div class="staff__body-subtitle">Web Designer</div>
									<div class="staff__body-text">Frontend developer. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Dmytro</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Backend Developer, Linux, VPS configuration, Git, Ruby on Rails, .NET, C++, PHP</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Danil</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text">Frontend developer. HTML 5, CSS 3, SCSS, JS, Optymalizacja projektów, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Andrey</div>
									<div class="staff__body-subtitle">Menadżer projektu</div>
									<div class="staff__body-text">Full-stack developer.
										SEO specjalista.</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">COŚ O NAS</div>
						<div class="briefly__box">
							<div class="briefly__pic">
							<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Unikalne projekty</div>
										<div class="briefly__text">Opracowujemy unikalny projekt dla stron internetowych i logo Twojej firmy.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Standardowe badania</div>
										<div class="briefly__text">Prowadzimy analizy w zakresie rozwoju i promocji stron internetowych.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Cel projektu</div>
										<div class="briefly__text">Nowoczesny i wysokiej jakości produkt cyfrowy.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">Dlaczego powinieneś nas wybrać ?</div>
							<div class="choose__vid">
							<%= image_tag(asset_path('about1.webp')) %>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Nasz zespół składa się z profesjonalnych programistów, projektantów i systemu
Administratorzy, którzy opracują dla Ciebie stronę internetową w możliwie najkrótszym czasie, skonfiguruj strefy domen,
hosting lub serwer VPS.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
									</div>
									<div class="choose__tagline">TWÓRCZY</div>
									<div class="choose__text">Nasi eksperci doradzą Ci wszystkie problemy.Używamy kreatywnego podejścia
Komunikowanie się z klientem i tym, czego potrzebuje .</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">STANDARD</div>
									<div class="choose__text">Nasi specjaliści mają niezbędne kwalifikacje, aby spełnić Twoje zamówienie
zgodnie z najwyższymi i najnowocześniejszymi standardami w dziedzinie IT.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label">Mamy dla Ciebie stronę internetową produktu</div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png')) %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">Od czasu uruchomienia</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png')) %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">ZADOWOLENI KLIENCI</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png')) %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">E -maile wysyłane/miesiąc</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png')) %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">Szablony</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
