	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; O nas
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label"><h1>Nasi eksperci IT wykonają pracę o każdej złożoności</h1></div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Ruslan</div>
									<div class="staff__body-subtitle">webDeveloper</div>
									<div class="staff__body-text"><h2>Fronted Developer. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniel</div>
									<div class="staff__body-subtitle">Projektant stron internetowych</div>
									<div class="staff__body-text"><h2>Fronted Developer. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Dmitry</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text"><h2>Bekend Developer, Linux, organizować coś VPS, Git, Ruby on Rails, .NET, C++, PHP</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Daniel</div>
									<div class="staff__body-subtitle">Web Developer</div>
									<div class="staff__body-text"><h2>Fronted Developer. HTML 5, CSS 3, SCSS, JS, Optymalizacja projektów, Git</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Andrzej</div>
									<div class="staff__body-subtitle">Menadżer projektu</div>
									<div class="staff__body-text"><h2>Deweloper na pełny stos.
Specjalista SEO.</h2></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label"><h2>Rozwój i wsparcie strony</h2></div>
							<div class="choose__vid">
								<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Nasz zespół składa się z profesjonalnych programistów, projektantów, administratorów systemów, którzy jak najszybciej opracują witrynę, skonfiguruj strefy domen, hosting, VDS/VPS lub dedykowania serwera.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bu-50.webp')) %></div>
									<div class="choose__tagline"><h3>Разработка</h3></div>
									<div class="choose__text">Rozwój odbywa się w naszym hostingu, w dziedzinie technicznej przez kilku specjalistów.Klient ma możliwość bezpośredniego obserwowania procesu opracowywania strony internetowej.</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline"><h3>Поддержка</h3></div>
									<div class="choose__text">Zapewniamy usługi dotyczące późniejszego wsparcia i utrzymania strony internetowej.Zalecamy niezawodne szybkie hosting.Instalowanie lub przesyłanie witryny do hostingu klientów, konfigurując strefę domeny.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label"><h3>Ufają nam</h3></div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png')) %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">Startupy są uruchamiane</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png')) %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">Boscy klienci</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png')) %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">Listy miesięcznie</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png')) %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">Szablony premium</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
