	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=ru">Главная</a></li>
								<li><a href="/about_us?lang=ru">О нас</a></li>
								<li><a href="/service?lang=ru">Услуги</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="">RoR разработка</a>
										<a href="">CMS разработка</a>
										<a href="">SEO продвижение</a>
									</div>
								</li>
								<li><a href="/blog?lang=ru">Блог</a></li>
								<li><a href="/portfolio?lang=ru">Портфолио</a></li>
								<li><a href="/contacts?lang=ru">Контакты</a></li>
								<li><a href="/about_us?lang=pl"><%= image_tag(asset_path('pl-24.webp')) %></a></li>
								<li><a href="/about_us?lang=ru"><%= image_tag(asset_path('rus-24.webp')) %></a></li>
								<li><a href="/about_us?lang=en"><%= image_tag(asset_path('eng-24.webp')) %></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=ru" class="jaw__link">Главная</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=ru" class="jaw__link active">О нас</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=ru" class="jaw__link">Услуги</a>
								<span></span>
								<div class="jaw__poster">
									<a href="" class="jaw__link">RoR разработка</a>
									<a href="" class="jaw__link">CMS разработка</a>
									<a href="" class="jaw__link">SEO продвижение</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=ru" class="jaw__link">Блог</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=ru" class="jaw__link">Портфолио</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=ru" class="jaw__link">Контакты</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; О нас
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label">Наши специалисты креативны и профессиональны</div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Руслан</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text">Фронтенд разработчик. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Даниил</div>
									<div class="staff__body-subtitle">Веб дизайнер</div>
									<div class="staff__body-text">Фронтенд разработчик. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Дмитрий</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text">Бекенд разработчик, Linux, настройка VPS, Git, Ruby on Rails, .NET, C++, PHP</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Данил</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text">Фронтенд разработчик. HTML 5, CSS 3, SCSS, JS, оптимизация проектов, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Андрей</div>
									<div class="staff__body-subtitle">Проект-менеджер</div>
									<div class="staff__body-text">Full-stack разработчик.
										SEO специалист.</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">Подробнее о нас</div>
						<div class="briefly__box">
							<div class="briefly__pic">
							<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Техническое сопровождение</div>
										<div class="briefly__text">Наши клиенты имеют хорошие скидки на расширение/сопровождение продуктов которые мы разработали.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Мы всегда на связи</div>
										<div class="briefly__text">Пишите и звоните нам в рабочее время, мы с удовольствием проконсультируем вас по любому вопросу.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Цель проекта</div>
										<div class="briefly__text">Создание уникальных и высококачественных цифровых продуктов.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">Почему выбирают нас?</div>
							<div class="choose__vid">
							<%= image_tag(asset_path('about1.webp')) %>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Наша команда - спецаилисты не один год работающие с большим стеком современных технологий.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
									</div>
									<div class="choose__tagline">Креативность</div>
									<div class="choose__text">Мы в состоянии решить любую проблему, и помочь вам с любым вопросом. К каждому клиенту индивидульный подход.</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">Страндарты</div>
									<div class="choose__text">Наши специалисты, несмотря на свою креативность, всегда придерживаются основных стандартов, это обеспечивает расширяемость наших продуктов.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label">Нам доверяют</div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png')) %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">Стартапов запущено</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png')) %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">Довльных клиентов</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png')) %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">Писем в месяц</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png')) %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">Премиум шаблонов</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Позвоните нам</div>
							<div class="footer__subtitle">Наши специалисты ответят на все ваши вопросы</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Рабочее время</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									ПН: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ВТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СР: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ЧТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ПТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СБ - ВС: Выходной
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Консультационный центр</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Доменные имена</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Хостинги</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS хостинги</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Выделенные сервера</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны WordPress</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Фото</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Сделано <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
