<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Наша команда разработчиков</title>
    <meta name="description" content="Наша команда состоит из профессиональных программистов, дизайнеров, системных администраторов.">
	<meta property="og:title" content="Наша команда разработчиков" />
    <meta property="og:description" content="Наша команда состоит из профессиональных программистов, дизайнеров, системных администраторов." />
    <meta property="og:image" content="<%= (asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; О нас
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label"><h1>Наши IT специалисты выполнят работу любой сложности</h1></div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp'), alt: "Веб разработчик") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Руслан</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text"><h2>Фронтенд разработчик. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp'), alt: "Веб дизайнер") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Даниил</div>
									<div class="staff__body-subtitle">Веб дизайнер</div>
									<div class="staff__body-text"><h2>Фронтенд разработчик. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp'), alt: "Бекенд разработчик") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Дмитрий</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text"><h2>Бекенд разработчик, Linux, настройка VPS, Git, Ruby on Rails, .NET, C++, PHP</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp'), alt: "Фронтенд разработчик") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Данил</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text"><h2>Фронтенд разработчик. HTML 5, CSS 3, SCSS, JS, оптимизация проектов, Git</h2></div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp'), alt: "Full-stack разработчик") %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Андрей</div>
									<div class="staff__body-subtitle">Проект-менеджер</div>
									<div class="staff__body-text"><h2>Full-stack разработчик.
										SEO специалист.</h2></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label"><h2>Разработка и поддержка сайта</h2></div>
							<div class="choose__vid">
								<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Наша команда состоит из профессиональных программистов, дизайнеров, системных администраторов, 
							которые в кратчайшие сроки разработают для вас сайт, настроят доменные зоны, хостинг, VDS/VPS или Dedicated сервер.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bu-50.webp'), alt: "Разработка") %></div>
									<div class="choose__tagline"><h3>Разработка</h3></div>
									<div class="choose__text">&nbsp;Разработка ведется на нашем хостинге, на техническом домене группой специалистов. 
									Заказчик имеет возможность непосредственно наблюдать за процессом разработки веб-сайта.</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bx-50.webp'), alt: "Поддержка") %></div>
									<div class="choose__tagline"><h3>Поддержка</h3></div>
									<div class="choose__text">&nbsp;Оказываем услуги по последующей поддержке и сопровождению веб-сайта. Рекомендуем 
									надежный быстродействующий хостинг. Установка или перенос сайта на хостинг клиента, настройка доменной зоны.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label"><h3>Нам доверяют</h3></div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png'), alt: "Стартап") %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">Стартапов запущено</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png'), alt: "клиент") %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">Довльных клиентов</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png'), alt: "Писем") %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">Писем в месяц</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png'), alt: "шаблонов") %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">Премиум шаблонов</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
