	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; О нас
						</div>
					</div>
				</div>
			</div>
			<div class="staff">
				<div class="container">
					<div class="staff__row">
						<div class="staff__label">Наши специалисты креативны и профессиональны</div>
						<div class="staff__gallery">
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('ruslan.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Руслан</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text">Фронтенд разработчик. HTML5, CSS3, SCSS, JS, REACT, REDUX, GULP4, Figma, Photoshop, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('daniil-1.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Даниил</div>
									<div class="staff__body-subtitle">Веб дизайнер</div>
									<div class="staff__body-text">Фронтенд разработчик. HTML5, CSS3, SASS, SCSS, GULP, Photoshop, Figma</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('dmytro.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Дмитрий</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text">Бекенд разработчик, Linux, настройка VPS, Git, Ruby on Rails, .NET, C++, PHP</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('image.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Данил</div>
									<div class="staff__body-subtitle">Веб разработчик</div>
									<div class="staff__body-text">Фронтенд разработчик. HTML 5, CSS 3, SCSS, JS, оптимизация проектов, Git</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
							<div class="staff__el wobble">
								<div class="staff__pic">
								<%= image_tag(asset_path('andrey.webp')) %>
								</div>
								<div class="staff__body">
									<div class="staff__body-title">Андрей</div>
									<div class="staff__body-subtitle">Проект-менеджер</div>
									<div class="staff__body-text">Full-stack разработчик.
										SEO специалист.</div>
									<div class="staff__body-pic-box">
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
										<a href="#" class="staff__body-pic"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">НАСТРОЙКА КОНТЕКСТНОЙ РЕКЛАМЫ</div>
						<div class="briefly__box ru">
							<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Аналитика</div>
										<div class="briefly__text">Анализ профильных поисковых запросов на рекламной площадке.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Настройка</div>
										<div class="briefly__text">Настройка и оптимизация рекламной компании в Google Ads.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Бюджет</div>
										<div class="briefly__text">Расчет бюджета компании в контекстной рекламной сети. Оптимизация затрат</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">Разработка и поддержка сайта</div>
							<div class="choose__vid">
								<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Наша команда состоит из профессиональных программистов, дизайнеров, системных администраторов, которые в кратчайшие сроки разработают для вас сайт, настроят доменные зоны, хостинг, VDS/VPS или Dedicated сервер.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bu-50.webp')) %></div>
									<div class="choose__tagline">Разработка</div>
									<div class="choose__text">Разработка ведется на нашем хостинге, на техническом домене несколькими специалистами. Заказчик имеет возможность непосредственно наблюдать за процессом разработки веб-сайта.</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">Поддержка</div>
									<div class="choose__text">Оказываем услуги по последующей поддержке и сопровождению веб-сайта. Рекомендуем надежный быстродействующий хостинг. Установка или перенос сайта на хостинг клиента, настройка доменной зоны.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="container">
					<div class="product__row">
						<div class="product__label">Нам доверяют</div>
						<div class="product__body">
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('st-80.png')) %>
								</div>
								<div class="product__el-num">7</div>
								<div class="product__el-text">Стартапов запущено</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('gr-80.png')) %>
								</div>
								<div class="product__el-num">1204</div>
								<div class="product__el-text">Довльных клиентов</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('en-80.png')) %>
								</div>
								<div class="product__el-num">120450</div>
								<div class="product__el-text">Писем в месяц</div>
							</div>
							<div class="product__el">
								<div class="product__el-pic">
								<%= image_tag(asset_path('tp-80.png')) %>
								</div>
								<div class="product__el-num">800</div>
								<div class="product__el-text">Премиум шаблонов</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
