<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Website development, seo promotion and contextual advertising</title>
    <meta name="description" content="Website development on CMS and frameworks. Website optimization for search engines. Contextual advertising.
    Reliable and fast hosting.">
	<meta property="og:title" content="Website development, seo promotion and contextual advertising" />
    <meta property="og:description" content="Website development on CMS and frameworks. Website optimization for search engines. Contextual advertising.
    Reliable and fast hosting." />
    <meta property="og:image" content="<%= image_tag(asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; Services
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
					<div class="additional__label"><h1>Website development, SEO promotion and contextual advertising</h1></div>
						<div class="additional__label"><h2>Seo site promotion by stages</h2></div>
						<div class="additional__body">
							<div class="additional__el add__el-1">
								<div class="additional__pic">
									<%= image_tag(asset_path('mn-48.webp'), alt: "SEO analytics") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO analytics</h3></div>
									<div class="additional__subtitle">Analytics of competing sites on your subject, for SEO
optimization.</div>
								</div>
							</div>
							<div class="additional__el add__el-2">
								<div class="additional__pic">
									<%= image_tag(asset_path('et-50.webp'), alt: "Site on HTML5/CSS") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Site on HTML5/CSS</h3></div>
									<div class="additional__subtitle">Development of a website on pure HTML/CSS.One of the best solutions for
website promotion in the top.</div>
								</div>
							</div>
							<div class="additional__el add__el-3">
								<div class="additional__pic">
									<%= image_tag(asset_path('html-50.webp'), alt: "Optimization site") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Optimization site</h3></div>
									<div class="additional__subtitle">SEO Optimize the website for the requirements of search engines.Check
errors, speeds, semantics.</div>
								</div>
							</div>
							<div class="additional__el add__el-4">
								<div class="additional__pic">
									<%= image_tag(asset_path('st-50.webp'), alt: "SEO images") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO images</h3></div>
									<div class="additional__subtitle">Unique and optimization of images on the site for promotion in
search engines.</div>
								</div>
							</div>
							<div class="additional__el add__el-5">
								<div class="additional__pic">
									<%= image_tag(asset_path('lp-50.webp'), alt: "SEO promotion") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO promotion</h3></div>
									<div class="additional__subtitle">Search promotion of the website.Advertising companies on thematic
resources.Linkbuilding.</div>
								</div>
							</div>
							<div class="additional__el add__el-6">
								<div class="additional__pic">
									<%= image_tag(asset_path('pc-50.webp'), alt: "Detailed reports") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Detailed reports</h3></div>
									<div class="additional__subtitle">We provide detailed reports on the planned and planned
Work on website promotion.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label"><h2>All our websites templates are completely adaptive!</h2></div>
						<div class="always__body-s">
							<div class="always__number-text-s">Our team is developing its own adaptive websites for Joomla, WordPress and other popular CMS.We can always offer a number of ready -made solutions or develop a new unique design for the site.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label"><h2>Creative solutions in web development</h2></div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-1">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>WORDPRESS</h3></div>
									<div class="solutions__el-text">Web site with a unique design on CMS WordPress.There are many ready -made premium WordPress templates.Search optimization and CEO promoting web sites on WordPress.</div>
							</div>
							<div class="solutions__el sol__el-2">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>JOOMLA</h3></div>
									<div class="solutions__el-text">Development of websites on CMS-Joomla.A unique design or premium step for your site.We are also engaged in CEO promoting and search engine optimization on Joomla.
								</div>
							</div>
							<div class="solutions__el sol__el-3">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>HTML & CSS</h3></div>
									<div class="solutions__el-text">The Web site on the pure HTML/CSS guarantees a high page load speed, which will give high performance indicators of the site’s search performance in a row with a unique design.</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-4">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>FRAMEWORKS</h3></div>
									<div class="solutions__el-text">Sites with unique functionality on PHP and Ruby On Rails Frames.The site on the framework is distinguished by flexible functionality, high speed, expansion for any task.</div>
							</div>
							<div class="solutions__el sol__el-5">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>WEB APPLICATIONS</h3></div>
									<div class="solutions__el-text">We are developing a web applications for Ruby On Rails.Reliable, fast -acting, expanding framework.The application on Rails is an excellent and indispensable business tool.</div>
							</div>
							<div class="solutions__el sol__el-6">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>HOSTING</h3></div>
									<div class="solutions__el-text">High -quality hosting for the site.A variety of tariff plans.A round -the -clock friendly support.Aptim 99.9%.Servers on high -speed SSD.Partner program for webmasters</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>