	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Home</a> &#187; What We Do
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">WE HAVE PRODUCT WEBSITE FOR YOU</div>
						<div class="additional__body">
							<div class="additional__el">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">ONLINE RESEARCH</div>
										<div class="additional__subtitle">Analytics of competitive websites in the field of search SEO
											promotion of your queries.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">LOGO BRANDING</div>
										<div class="additional__subtitle">Logo design for your brand and website. Original and unique
											solutions.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">WEB DESIGN</div>
										<div class="additional__subtitle">Developing a unique design or connecting a ready-made template for
											a website.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO OPTIMIZATION</div>
										<div class="additional__subtitle">Website optimization. Search query promotion. Compilation of the
											semantic core.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">RESPONSIVE DESIGN</div>
										<div class="additional__subtitle">We use adaptive design when developing websites and mobile
											applications.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">PHOTOGRAPHY</div>
										<div class="additional__subtitle">We conduct photo shoots for employees and products presented on
											the website.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">We Always Provide Responsive WebsiteTemplates</div>
						<div class="always__body-s">
							<div class="always__number-text-s">Our team develops its own adaptive website templates for Joomla,
								WordPress and other popular website engines. We can always offer a number of ready-made solutions or
								develop a new unique design for a website.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label">WE MAKE CREATIVE SOLUTIONS</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-1"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">01.</div>
									<div class="solutions__el-title">WORDPRESS</div>
									<div class="solutions__el-text">Website with a unique design on CMS WordPress. There are many ready-made premium WordPress themes available. Search engine optimization and <a href="/services_cms?lang=en">SEO website promotion</a> on WordPress.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-2"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">02.</div>
									<div class="solutions__el-title">JOOMLA</div>
									<div class="solutions__el-text"><a href="/services_cms?lang=en">CMS Website Development</a> — Joomla. Unique design or premium template for your website. We are also engaged in SEO promotion and search engine optimization of websites on Joomla.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-3"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">03.</div>
									<div class="solutions__el-title">HTML & CSS</div>
									<div class="solutions__el-text">A pure HTML/CSS website guarantees high page loading speed, which, along with a unique design, will give high search engine promotion rates.</div>
								</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-4"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">04.</div>
									<div class="solutions__el-title">FRAMEWORKS</div>
									<div class="solutions__el-text">Websites with unique functionality in PHP and Ruby on rails frameworks. The site on the framework is characterized by flexible functionality, high speed, extensibility for any task.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-5"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">05.</div>
									<div class="solutions__el-title">WEB APP</div>
									<div class="solutions__el-text">We are <a href="/services_ror?lang=en">develop web applications with Ruby on Rails</a>. Reliable, fast, extensible framework. A Rails app is a great and indispensable business tool.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-6"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">06.</div>
									<div class="solutions__el-title">HOSTING</div>
									<div class="solutions__el-text"><a href="https://accounts.fozzy.com/aff.php?aff=18138">Quality website hosting.</a> Various tariff plans. 24/7 friendly support. Uptime 99.9%. Servers on high-speed SSDs. Affiliate program for webmasters.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>