	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
							<ul class="header__icon-list">
								<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
							</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=pl">Glovna</a></li>
								<li><a href="/about_us?lang=pl">O nas</a></li>
								<li><a href="/services?lang=pl">Usługi</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=pl">RoR rozwój</a>
										<a href="/services_cms?lang=pl">CMS rozwój</a>
										<a href="/services_seo?lang=pl">SEO awans</a>
									</div>
								</li>
								<li><a href="/blog?lang=pl">Blog</a></li>
								<li><a href="/portfolio?lang=pl">Teczka</a></li>
								<li><a href="/contacts?lang=pl">Skontaktuj się z nami</a></li>
								<li><a href="/services?lang=pl"><%= image_tag(asset_path('pl-24.webp')) %></a></li>
								<li><a href="/services?lang=ru"><%= image_tag(asset_path('rus-24.webp')) %></a></li>
								<li><a href="/services?lang=en"><%= image_tag(asset_path('eng-24.webp')) %></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=pl" class="jaw__link">Glovna</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=pl" class="jaw__link">O nas</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=pl" class="jaw__link active">Usługi</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=en" class="jaw__link">RoR rozwój</a>
									<a href="/services_cms?lang=en" class="jaw__link">CMS rozwój</a>
									<a href="/services_seo?lang=en" class="jaw__link">SEO awans</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=pl" class="jaw__link">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=pl" class="jaw__link">Teczka</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=pl" class="jaw__link">Skontaktuj się z nami</a>
							</div>
							<div class="jaw__el">
								<a href="services?lang=pl" class="jaw__link"><%= image_tag(asset_path('pl-24.webp')) %></a>
							</div>
							<div class="jaw__el">
								<a href="services?lang=ru" class="jaw__link"><%= image_tag(asset_path('rus-24.webp')) %></a>
							</div>
							<div class="jaw__el">
								<a href="services?lang=en" class="jaw__link"><%= image_tag(asset_path('eng-24.webp')) %></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Co robimy
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">Mamy dla Ciebie stronę internetową produktu</div>
						<div class="additional__body">
							<div class="additional__el">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Badania online</div>
										<div class="additional__subtitle">Analityka konkurencyjnych stron internetowych w dziedzinie wyszukiwania SEO
promocja zapytań.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Branding logo</div>
										<div class="additional__subtitle">Projekt logo dla Twojej marki i strony internetowej.Oryginalne i unikalne
rozwiązania.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">PROJEKTOWANIE STRON</div>
										<div class="additional__subtitle">Opracowanie unikalnego projektu lub połączenie gotowego szablonu dla
Strona internetowa.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO OPTYMALIZACJA</div>
										<div class="additional__subtitle">Optymalizacja strony internetowej.Promocja wyszukiwania zapytania.Kompilacja
Semantyczny rdzeń.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">ELASTYCZNY PROJEKT</div>
										<div class="additional__subtitle">Używamy projektowania adaptacyjnego podczas opracowywania stron internetowych i telefonu komórkowego
Aplikacje.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">FOTOGRAFIA</div>
										<div class="additional__subtitle">Prowadzimy sesje zdjęciowe dla pracowników i produktów prezentowanych
Strona internetowa.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">Zawsze dostarczamy responsywne szablony stron internetowych</div>
						<div class="always__body-s">
							<div class="always__number-text-s">Nasz zespół opracowuje własne szablony witryny adaptacyjnej dla Joomli,
WordPress i inne popularne silniki stron internetowych.Zawsze możemy zaoferować szereg gotowych rozwiązań lub
Opracuj nowy unikalny projekt strony internetowej.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label">Tworzymy kreatywne rozwiązania</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-1"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">01.</div>
									<div class="solutions__el-title">WORDPRESS</div>
									<div class="solutions__el-text">Witryna z unikalnym projektem na CMS WordPress.Dostępnych jest wiele gotowych motywów WordPress premium.Optymalizacja wyszukiwarek i <a href="/services_cms?lang=pl">SEO Promocja strony internetowej</a> na  WordPress.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-2"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">02.</div>
									<div class="solutions__el-title">JOOMLA</div>
									<div class="solutions__el-text"><a href="/services_cms?lang=pl">CMS Opracowanie strony internetowej</a> — Joomla. Unikalny szablon projektu lub premium dla Twojej witryny.Jesteśmy również zaangażowani w promocję SEO i optymalizację wyszukiwarek stron internetowych na Joomla.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-3"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">03.</div>
									<div class="solutions__el-title">HTML & CSS</div>
									<div class="solutions__el-text">Pure HTML/CSS gwarantuje wysoką prędkość ładowania strony, która wraz z unikalnym projektem zapewni wysokie prędkości promocji wyszukiwarek.</div>
								</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-4"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">04.</div>
									<div class="solutions__el-title">FRAMEWORKS</div>
									<div class="solutions__el-text">Strony internetowe z unikalną funkcjonalnością PHP i Ruby on Rails.Witryna w ramach charakteryzuje się elastyczną funkcjonalnością, dużą prędkością, rozszerzeniem dla każdego zadania.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-5"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">05.</div>
									<div class="solutions__el-title">WEB APP</div>
									<div class="solutions__el-text">Jesteśmy <a href="/services_ror?lang=pl">Opracuj aplikacje internetowe z Ruby na szynach</a>. Reliable, fast, extensible framework. A Rails app is a great and indispensable business tool.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-6"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">06.</div>
									<div class="solutions__el-title">HOSTING</div>
									<div class="solutions__el-text"><a href="https://accounts.fozzy.com/aff.php?aff=18138">Wysokiej jakości hosting stron internetowych.</a> Różne plany taryfowe.Przyjazne wsparcie 24/7.Czas pracy 99,9%.Serwery na szybkich dyskach SSD.Program partnerski dla webmasterów.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Zadzwoń do nas</div>
							<div class="footer__subtitle">Nasi specjaliści odpowiedzą na wszystkie pytania</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Godziny pracy</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Centrum porad</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Szablony Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Szablony Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Zdjęcia</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g1.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g2.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g6.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g7.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g8.webp')) %>
									</a>
								</div>
								<div class="footer__list4-el">
									<a href="#">
									<%= image_tag(asset_path('g9.webp')) %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Stworzone przez <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>