	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Co robimy
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">Mamy dla Ciebie stronę internetową produktu</div>
						<div class="additional__body">
							<div class="additional__el">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Badania online</div>
										<div class="additional__subtitle">Analityka konkurencyjnych stron internetowych w dziedzinie wyszukiwania SEO
promocja zapytań.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Branding logo</div>
										<div class="additional__subtitle">Projekt logo dla Twojej marki i strony internetowej.Oryginalne i unikalne
rozwiązania.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">PROJEKTOWANIE STRON</div>
										<div class="additional__subtitle">Opracowanie unikalnego projektu lub połączenie gotowego szablonu dla
Strona internetowa.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO OPTYMALIZACJA</div>
										<div class="additional__subtitle">Optymalizacja strony internetowej.Promocja wyszukiwania zapytania.Kompilacja
Semantyczny rdzeń.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">ELASTYCZNY PROJEKT</div>
										<div class="additional__subtitle">Używamy projektowania adaptacyjnego podczas opracowywania stron internetowych i telefonu komórkowego
Aplikacje.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">FOTOGRAFIA</div>
										<div class="additional__subtitle">Prowadzimy sesje zdjęciowe dla pracowników i produktów prezentowanych
Strona internetowa.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">Zawsze dostarczamy responsywne szablony stron internetowych</div>
						<div class="always__body-s">
							<div class="always__number-text-s">Nasz zespół opracowuje własne szablony witryny adaptacyjnej dla Joomli,
WordPress i inne popularne silniki stron internetowych.Zawsze możemy zaoferować szereg gotowych rozwiązań lub
Opracuj nowy unikalny projekt strony internetowej.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label">Tworzymy kreatywne rozwiązania</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-1"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">01.</div>
									<div class="solutions__el-title">WORDPRESS</div>
									<div class="solutions__el-text">Witryna z unikalnym projektem na CMS WordPress.Dostępnych jest wiele gotowych motywów WordPress premium.Optymalizacja wyszukiwarek i <a href="/services_cms?lang=pl">SEO Promocja strony internetowej</a> na  WordPress.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-2"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">02.</div>
									<div class="solutions__el-title">JOOMLA</div>
									<div class="solutions__el-text"><a href="/services_cms?lang=pl">CMS Opracowanie strony internetowej</a> — Joomla. Unikalny szablon projektu lub premium dla Twojej witryny.Jesteśmy również zaangażowani w promocję SEO i optymalizację wyszukiwarek stron internetowych na Joomla.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-3"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">03.</div>
									<div class="solutions__el-title">HTML & CSS</div>
									<div class="solutions__el-text">Pure HTML/CSS gwarantuje wysoką prędkość ładowania strony, która wraz z unikalnym projektem zapewni wysokie prędkości promocji wyszukiwarek.</div>
								</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-4"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">04.</div>
									<div class="solutions__el-title">FRAMEWORKS</div>
									<div class="solutions__el-text">Strony internetowe z unikalną funkcjonalnością PHP i Ruby on Rails.Witryna w ramach charakteryzuje się elastyczną funkcjonalnością, dużą prędkością, rozszerzeniem dla każdego zadania.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-5"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">05.</div>
									<div class="solutions__el-title">WEB APP</div>
									<div class="solutions__el-text">Jesteśmy <a href="/services_ror?lang=pl">Opracuj aplikacje internetowe z Ruby na szynach</a>. Reliable, fast, extensible framework. A Rails app is a great and indispensable business tool.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-6"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">06.</div>
									<div class="solutions__el-title">HOSTING</div>
									<div class="solutions__el-text"><a href="https://accounts.fozzy.com/aff.php?aff=18138">Wysokiej jakości hosting stron internetowych.</a> Różne plany taryfowe.Przyjazne wsparcie 24/7.Czas pracy 99,9%.Serwery na szybkich dyskach SSD.Program partnerski dla webmasterów.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>