<% content_for :head do %>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B0RL6D0RYM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B0RL6D0RYM');
</script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Tworzenie stron internetowych, promocja seo i reklama kontekstowa</title>
    <meta name="description" content="Tworzenie stron internetowych na CMS i frameworkach. Optymalizacja strony pod wyszukiwarki. Reklama kontekstowa.
    Niezawodny i szybki hosting.">
	<meta property="og:title" content="Tworzenie stron internetowych, promocja seo i reklama kontekstowa" />
    <meta property="og:description" content="worzenie stron internetowych na CMS i frameworkach. Optymalizacja strony pod wyszukiwarki. Reklama kontekstowa.
    Niezawodny i szybki hosting." />
    <meta property="og:image" content="<%= (asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; Usługi
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
					<div class="additional__label"><h1>Tworzenie stron internetowych, seo promocja oraz reklama kontekstowa</h1></div>
						<div class="additional__label"><h2>OFERTA NASZEGO STUDIA INTERNETOWEGO</h2></div>
						<div class="additional__body">
							<div class="additional__el add__el-1">
								<div class="additional__pic">
									<%= image_tag(asset_path('mn-48.webp'), alt: "Analityka online") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Analityka online</h3></div>
									<div class="additional__subtitle">&nbsp;Analiza konkurencyjnych stron internetowych na Twój temat w celu
									 optymalizacji SEO.
									</div>
								</div>
							</div>
							<div class="additional__el add__el-2">
								<div class="additional__pic">
									<%= image_tag(asset_path('et-50.webp'), alt: "Projekt strony") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Projekt strony</h3></div>
									<div class="additional__subtitle">&nbsp;Opracowanie unikalnego projektu Twojej strony internetowej, komunikacja
									 z designerem.</div>
								</div>
							</div>
							<div class="additional__el add__el-3">
								<div class="additional__pic">
									<%= image_tag(asset_path('html-50.webp'), alt: "Tworzenie stron internetowych") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Tworzenie stron internetowych</h3></div>
									<div class="additional__subtitle">&nbsp;Tworzenie stron internetowych o unikalnym designie lub gotowych szablonach
									 premium.</div>
								</div>
							</div>
							<div class="additional__el add__el-4">
								<div class="additional__pic">
									<%= image_tag(asset_path('st-50.webp'), alt: "Pozycjonowanie SEO") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Pozycjonowanie SEO</h3></div>
									<div class="additional__subtitle">&nbsp;Optymalizacja strony. Pozycjonowanie wyszukiwania. Kompilacja rdzenia
									 semantycznego.</div>
								</div>
							</div>
							<div class="additional__el add__el-5">
								<div class="additional__pic">
									<%= image_tag(asset_path('lp-50.webp'), alt: "Układ adaptacyjny") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Układ adaptacyjny</h3></div>
									<div class="additional__subtitle">&nbsp;Przy tworzeniu stron internetowych i aplikacji mobilnych stosujemy
									 responsywny design.</div>
								</div>
							</div>
							<div class="additional__el add__el-6">
								<div class="additional__pic">
									<%= image_tag(asset_path('pc-50.webp'), alt: "Hosting") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Hosting</h3></div>
									<div class="additional__subtitle">&nbsp;olecamy szybki i wysokiej jakości VDS/VPS oraz hosting wirtualny dla
									 Twoich stron.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label"><h2>Wszystkie nasze szablony stron internetowych są w pełni responsywne!</h2></div>
						<div class="always__body-s">
							<div class="always__number-text-s">&nbsp;Nasz zespół opracowuje własne responsywne szablony stron internetowych dla
							 Joomla, WordPress i innych popularnych CMS. Zawsze możemy zaproponować szereg gotowych rozwiązań lub opracować nowy
							  unikalny projekt strony internetowej.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label"><h2>KREATYWNE ROZWIĄZANIA PRZY TWORZENIU INTERNETOWYM</h2></div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-1">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>WORDPRESS</h3></div>
									<div class="solutions__el-text">&nbsp;Strona internetowa z unikalnym designem na CMS WordPress. Dostępnych jest
									 wiele gotowych szablonów premium WordPress. Optymalizacja wyszukiwania i <a href="services_seo?lang=pl">
									 pozycjonowanie SEO stron</a> na WordPress.
									 </div>
							</div>
							<div class="solutions__el sol__el-2">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>JOOMLA</h3></div>
									<div class="solutions__el-text">&nbsp;<a href="services_cms?lang=pl">Projektowanie stron internetowych</a> w CMS - Joomla. Unikalny design lub szablon
									 premium dla Twojej strony. Zajmujemy się również SEO pozycjonowaniem i optymalizacją wyszukiwania stron internetowych
									  na Joomla.
								</div>
							</div>
							<div class="solutions__el sol__el-3">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>HTML & CSS</h3></div>
									<div class="solutions__el-text">&nbsp;Strona internetowa na czystym HTML/CSS gwarantuje wysoką szybkość ładowania strony,
									 co w połączeniu z unikalnym designem zapewni wysokie wskaźniki pozycjonowania strony w wyszukiwarkach.</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-4">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>FRAMEWORKI</h3></div>
									<div class="solutions__el-text">&nbsp;Strony internetowe z unikalną funkcjonalnością w frameworkach PHP i Ruby on rails.
									 Strona na frameworku charakteryzuje się elastyczną funkcjonalnością, dużą szybkością działania, rozszerzalnością dla
									  każdego zadania.</div>
							</div>
							<div class="solutions__el sol__el-5">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>INTERNETOWE APLIKACJE</h3></div>
									<div class="solutions__el-text">&nbsp;<a href="services_ror?lang=pl">Tworzymy aplikacje internetowe</a>
									 z wykorzystaniem Ruby on Rails. Niezawodny,
									 szybki, rozszerzalny framework. Aplikacja na Rails to świetne i niezbędne narzędzie biznesowe.</div>
							</div>
							<div class="solutions__el sol__el-6">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>HOSTING STRONY</h3></div>
									<div class="solutions__el-text">&nbsp;<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Hosting
									 wysokiej jakości</a> stron internetowych. Różne plany taryfowe. Całodobowe 
									przyjazne wsparcie. Uptime 99,9%. Serwery na szybkich dyskach SSD. Program partnerski dla webmasterów.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>