	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=pl">Glovna</a></li>
								<li><a href="/about_us?lang=pl">O nas</a></li>
								<li><a href="/services?lang=pl">Usługi</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=pl">RoR rozwój</a>
										<a href="/services_cms?lang=pl">CMS rozwój</a>
										<a href="/services_seo?lang=pl">SEO awans</a>
									</div>
								</li>
								<li><a href="/blog?lang=pl">Blog</a></li>
								<li><a href="/portfolio?lang=pl">Teczka</a></li>
								<li><a href="/contacts?lang=pl">Skontaktuj się z nami</a></li>
								<li><a href="/services?lang=pl">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
								</li>
								<li><a href="/services?lang=ru">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
								</li>
								<li><a href="/services?lang=en">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=pl" class="jaw__link">Glovna</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=pl" class="jaw__link">O nas</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=pl" class="jaw__link active">Usługi</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=pl">RoR rozwój</a>
									<a href="/services_cms?lang=pl">CMS rozwój</a>
									<a href="/services_seo?lang=pl">SEO awans</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=pl" class="jaw__link">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=pl" class="jaw__link">Teczka</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=pl" class="jaw__link">Skontaktuj się z nami</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=pl">Glovna</a> &#187; CMS rozwój
						</div>
					</div>
				</div>
			</div>
			<div class="ruby">
				<div class="container">
					<div class="ruby__text-body">
						<div class="ruby__label">Witryny na CMS Joomla i WordPress</div>

						<div class="ruby__title">1. Co to jest CMS witryny?</div>
						<div class="ruby__text">System zarządzania treścią (CMS, Content Management System) - Jest to oprogramowanie, z którym można opracowywać i utrzymywać strony internetowe. Mówiąc prosto, jest to strona do tworzenia i edytowania witryn. Zakłada się, że użytkownik (niekoniecznie programista), posiadanie podstawowych umiejętności projektowania stron internetowych, będzie mógł samodzielnie tworzyć i utrzymywać witrynę internetową na CMS. Oczywiście, aby wdrożyć każdy poważny projekt, potrzebujesz czegoś więcej niż tylko podstawowych umiejętności, tutaj nasi eksperci w zakresie rozwoju CMS przychodzą z pomocy. Z reguły CMS ma mnóstwo tak zwanych wtyczek-gotowe rozwiązania na każdą okazję. Sudyk, galerie, formularze kontaktowe, interaktywne mapy, wielojęzyczne, a nawet całe sklepy internetowe (na przykład WooCommerce). Oczywiście, podobnie jak w każdym nieco złożonym systemie komputerowym, CMS witryny często ma problemy z kompatybilnością z tymi samymi wtyczkami. W takich sytuacjach ludzie, którzy nie mają wielu konkretnych umiejętności, są bezsilni. Pomimo faktu, że w sieci jest mnóstwo materiałów wideo na ten temat «Utwórz stronę internetową za godzinę», «Projektowanie stron internetowych w ciągu godziny», «sklep internetowy za darmo za 20 minut», ale różnica między produktem To, że zespół specjalistów pracował, a ta sama strona internetowa w ciągu godziny może być wyraźnie widoczna nawet przez osobę, która nie jest głęboko w temacie rozwoju. Zalecamy korzystanie z <a href="servicesmain.html"> usługi specjalistyczne </a>, w naszej praktyce jest wiele przypadków, gdy zwykli ludzie, aby zaoszczędzić pieniądze, próbowali stworzyć stronę na własną rękę lub zatrudnili «błotniste »Freelancerzy, a na koniec wszyscy zwrócili się do nas, ale już tracą czas i pieniądze.</div>

						<div class="ruby__title">2.Proces rozwoju CMS</div>
						<div class="ruby__subtitle">Wybór CMS dla strony</div>
						<div class="ruby__text">CMS są różne, z reguły nie różnią się zbytnio, ale wśród nich istnieją podziały w obszary: Universal CMS, CMS do tworzenia sklepów internetowych, CMS do tworzenia blogów.Mając jasne wyobrażenie o końcowym wyniku, powinieneś wybrać odpowiedni CMS dla witryny.Hammering paznokcie śrubokrętem nie jest rozsądne, chociaż jest dość realistyczne.</div>
						<div class="ruby__subtitle">Wybór lub tworzenie szablonu</div>
						<div class="ruby__text">Aby stworzyć wysokiej jakości stronę internetową, musisz jasno zrozumieć, co robisz i dlaczego.Wybór kolorów, lokalizacja przycisków, treść - wszystko to nie należy wybierać losowo.A wszystko dlatego, że jest wiele momentów psychologicznych nawet o kolorze, dobrze uformowana paleta kolorów jest już znaczącym wkładem w fakt, że klient dokona zakupu w Twojej witrynie lub zadzwoni.Stworzenie szablonu jest żmudnym i w żadnym wypadku prostym procesem, projektant i projektant układu musi ciężko pracować, aby w końcu zdobyć dobry grunt na przyszłą stronę internetową. Gdy przychodzi do gotowych szablonów, wielu projektantów stron internetowych zarabia po prostu, tworząc po prostu tworzenie iSprzedawanie szablonów innym programistom.Jeśli nie masz czasu ani funduszy na utworzenie całkowicie unikalnego szablonu, wówczas gotowe rozwiązania dla strony internetowej w CMS są Twoim wyborem.</div>
						<div class="ruby__subtitle">Umieszczenie treści</div>
						<div class="ruby__text">Po przygotowaniu szablonu specjaliści zaczynają publikować wymagane treści, w rzeczywistości wszystko, co zobaczysz na swojej stronie.To również zajmuje trochę czasu, ale ten etap jest znacznie łatwiejszy niż tworzenie szablonu, więc nie musisz być programistą pierwszej klasy, aby sobie z tym poradzić.Osoba, która przeszła odpowiednie kursy, będzie mogła sobie poradzić.</div>
						<div class="ruby__subtitle">Przesyłanie gotowej witryny do hostingu</div>
						<div class="ruby__text">Kiedy strona jest gotowa, jedyne, co pozostało do zrobienia, to kupić nazwę domeny, <a href="https://accounts.fozzy.com/aff.php?aff=18138"> wynajęcie hostingu </a> i Put Putt i Put Puttto wszystko razem.Tylko specjalista radzi sobie z tym etapem, prosty użytkownik spędzi dużo czasu i wysiłku, a ostatecznie będzie zwrócił się do specjalisty o pomoc.</div>

						<div class="ruby__title">3.Jakich CM używamy i dlaczego?</div>
						<div class="ruby__text">Z reguły używają nasi specjaliści witryn CMS <a href="https://en.wordpress.org/">WordPress</a> and <a href="https://www.joomla.org/">Joomla</a>, Są to najpopularniejsze i wszechstronne narzędzia.Nasi programiści mają duże doświadczenie w rozwoju CMS, a na przestrzeni lat strony CMS WordPress i Joomla udowodniły swoją niezawodność i prostotę.</div>

						<div class="ruby__title">4. Plusy i wady rozwoju CMS</div>
						<div class="ruby__subtitle">Gadżety</div>
						<div class="ruby__text">
							<ul class="ruby__text-list">
								<li class="ruby__text-el">Szybkość rozwoju-za pomocą CMS i gotowego szablonu, wielofunkcyjna strona internetowa może zostać wdrożona za kilka dni</li>
								<li class="ruby__text-el">Duża społeczność programistów - Większość problemów można rozwiązać poprzez komunikację z kolegami łatwą do towarzyszenia - nawet osoba bez konkretnych umiejętności może administrować treścią</li>
							</ul>
						</div>

						<div class="ruby__subtitle">minusi</div>
						<div class="ruby__text">
							<ul class="ruby__text-list">
								<li class="ruby__text-el">Wydajność jest głównym problemem wszystkich witryn CMS, każda strona internetowa utworzona bez użycia CMS będzie znacznie szybsza, a zatem wyższa w wynikach wyszukiwania.</li>
								<li class="ruby__text-el"><a href="/services_seo?lang=pl">SEO awans</a> Witryna CMS jest bardziej wymagająca do optymalizacji.</li>
								<li class="ruby__text-el">Jakość wtyczek-obfitość gotowych rozwiązań jest dobra, ale prawie połowa z nich ma wyjątkowo słabą jakość.</li>
							</ul>
						</div>
					</div>
					<div class="ruby__gallery">
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('php.webp')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Rozwój aplikacji</div>
								<div class="ruby__el-text">Opracowanie aplikacji internetowych komputerowych i mobilnych</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('ui.webp')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Portal internetowy</div>
								<div class="ruby__el-text">Tworzenie, wspieranie i promocja portali internetowych SEO</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('mockup.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Otwarte źródło</div>
								<div class="ruby__el-text">Projekty są dostępne do przeglądania i analizy GitHub</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('responsive.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">CRM</div>
								<div class="ruby__el-text">Instalacja, konfiguracja i obsługa aplikacji CRM</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('brainstorm.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Portal korporacyjny</div>
								<div class="ruby__el-text">Tworzenie i wsparcie portali korporacyjnych</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('web-design.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Niestandardowe e-commerce</div>
								<div class="ruby__el-text">Opracowanie i wspieranie aplikacji internetowych dla handlu elektronicznego</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('website.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">CMS</div>
								<div class="ruby__el-text">Instalacja, konfiguracja i obsługa stron internetowych CMS</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('wireframe.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Konserwacja strony internetowej</div>
								<div class="ruby__el-text">Wspieranie, optymalizacja i promocja stron SEO</div>
							</div>
						</div>
						<div class="ruby__el">
							<div class="ruby__el-pic">
							<%= image_tag(asset_path('browser.png')) %>
							</div>
							<div class="ruby__el-body">
								<div class="ruby__el-title">Opłacalne</div>
								<div class="ruby__el-text">Opracujemy skuteczne narzędzia dla Twojej firmy online</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Zadzwoń do nas</div>
							<div class="footer__subtitle">Nasi specjaliści odpowiedzą na wszystkie pytania</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Godziny pracy</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Centrum porad</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Szablony WordPress</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Szablony Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Zdjęcia</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138">
						<%= image_tag(asset_path('fozzy_button.png')) %>
						</a>
					</div>
					<div class="footer__post">Stworzone przez <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
