	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Услуги
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label"><h2>SEO ПРОДВИЖЕНИЕ САЙТА ПО ЭТАПАМ</h2></div>
						<div class="additional__body">
							<div class="additional__el add__el-1">
								<div class="additional__pic">
									<%= image_tag(asset_path('mn-48.webp')) %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO аналитика</h3></div>
									<div class="additional__subtitle">Аналитика сайтов-конкурентов по вашей тематике, на предмет SEO
										оптимизации.</div>
								</div>
							</div>
							<div class="additional__el add__el-2">
								<div class="additional__pic">
									<%= image_tag(asset_path('et-50.webp')) %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Сайт на HTML5/CSS</h3></div>
									<div class="additional__subtitle">Разработка веб-сайта на чистом HTML/CSS. Одно из лучших решений для
										продвижения сайта в ТОП.</div>
								</div>
							</div>
							<div class="additional__el add__el-3">
								<div class="additional__pic">
									<%= image_tag(asset_path('html-50.webp')) %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Оптимизация сайта</h3></div>
									<div class="additional__subtitle">SEO оптимизаия веб-сайта под требования поисковых систем. Чек
										ошибок, быстродействия, семантики.</div>
								</div>
							</div>
							<div class="additional__el add__el-4">
								<div class="additional__pic">
									<%= image_tag(asset_path('st-50.webp')) %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO изображений</h3></div>
									<div class="additional__subtitle">Уникализация и оптимизация изображений на сайте для продвижения в
										поисковых системах.</div>
								</div>
							</div>
							<div class="additional__el add__el-5">
								<div class="additional__pic">
									<%= image_tag(asset_path('lp-50.webp')) %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO продвижение</h3></div>
									<div class="additional__subtitle">Поисковое продвижение веб-сайта. Рекламные компании на тематических
										ресурсах. Линкбилдинг.</div>
								</div>
							</div>
							<div class="additional__el add__el-6">
								<div class="additional__pic">
									<%= image_tag(asset_path('pc-50.webp')) %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Развернутые отчеты</h3></div>
									<div class="additional__subtitle">Предоставляем развернутые отчеты о проделанной и запланированной
										работе по продвижению сайта.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label"><h2>Все наши шаблоны веб-сайтов полностью адаптивны!</h2></div>
						<div class="always__body-s">
							<div class="always__number-text-s">Наша команда разрабатывает собственные адаптивные шаблоны веб-сайтов для Joomla, WordPress и других популярных CMS. Мы всегда можем предложить ряд готовых решений или разработать новый уникальный дизайн для сайта.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label"><h2>КРЕАТИВНЫЕ РЕШЕНИЯ В ВЕБ-РАЗРАБОТКЕ</h2></div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-1">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>WORDPRESS</h3></div>
									<div class="solutions__el-text">Веб-сайт с уникальным дизайном на CMS WordPress. В наличии много готовых премиумных шаблонов WordPress. Поисковая оптимизация и СЕО продвижение веб сайтов на  WordPress.</div>
							</div>
							<div class="solutions__el sol__el-2">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>JOOMLA</h3></div>
									<div class="solutions__el-text">Разработка веб-сайтов на CMS — Joomla. Уникальный дизайн или премиум-шаблон для вашего сайта. Также мы занимаемся СЕО продвижением и поисковой оптимизацией веб-сайтов на Joomla.
								</div>
							</div>
							<div class="solutions__el sol__el-3">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>HTML & CSS</h3></div>
									<div class="solutions__el-text">Веб-сайт на чистом HTML/CSS гарантирует высокую скорость загрузки страниц, что на ряду с уникальным дизайном даст высокие показатели поискового продвижения сайта.</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-4">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>ФРЕЙМВОРКИ</h3></div>
									<div class="solutions__el-text">Сайты с уникальным функционалом на PHP и Ruby on rails фреймворках. Сайт на фреймворке отличается гибким функционалом, высоким быстродействием, расширяемостью под любые задачи.</div>
							</div>
							<div class="solutions__el sol__el-5">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>ВЕБ ПРИЛОЖЕНИЯ</h3></div>
									<div class="solutions__el-text">Мы разрабатываем веб-приложения на Ruby on Rails. Надежный, быстродействующий, расширяемый фреймворк. Приложение на Rails — это отличный и незаменимый инструмент для бизнеса.</div>
							</div>
							<div class="solutions__el sol__el-6">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>ХОСТИНГ</h3></div>
									<div class="solutions__el-text">Качественный хостинг для сайта. Разнообразные тарифные планы. Круглосуточная дружественная поддержка. Аптайм 99,9%. Серверы на быстродействующих SSD. Партнерская программа для веб-мастеров</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>