	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Услуги
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">Дополнительные услуги</div>
						<div class="additional__body">
							<div class="additional__el ru">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Онлайн аналитика</div>
										<div class="additional__subtitle">Планируете купить коммерческий веб-сайт? Мы проведём аналитику конкуренции, и создатим план продвижения.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Дизайн логотипов</div>
										<div class="additional__subtitle">Для ваших сайтов и брендов, наши дизайнеры могут создать уникальный и креативный логотип.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Веб-дизайн</div>
										<div class="additional__subtitle">Разработка уникального дизайна, с последующей вёрсткой и доведением продукта до финиша.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO оптимизация</div>
										<div class="additional__subtitle">Ваш сайт не видно в поиске? Наши SEO специалисты гарантированно выведут вас в TOP-10.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Адаптивный дизайн</div>
										<div class="additional__subtitle">Наши продукты хорошо адаптированны под любые устройства.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Фотография</div>
										<div class="additional__subtitle">Создадим медиа-базу ваших продуктов, или уникализируем фото.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">Наши сайты всегда адаптивны!</div>
						<div class="always__body-s">
							<div class="always__number-text-s">Наша команда разрабатывает свои собственные адаптивные шаблоны веб-сайтов для Joomla,
WordPress и других популярных движков. Мы всегда можем предложить ряд готовых решений или
Разработать новый уникальный дизайн для веб-сайта.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label">WE MAKE CREATIVE SOLUTIONS</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-1"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">01.</div>
									<div class="solutions__el-title">WORDPRESS</div>
									<div class="solutions__el-text">Веб-сайт с уникальным дизайном на CMS WordPress. Доступно много готовых премиальных шаблонов. Поисковая оптимизация и <a href="/services_cms?lang=ru">SEO продвижение сайта</a> на WordPress.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-2"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">02.</div>
									<div class="solutions__el-title">JOOMLA</div>
									<div class="solutions__el-text"><a href="/services_cms?lang=ru">Разработка сайта на CMS</a> — Joomla. Уникальный дизайн или премиальный шаблон для вашего сайта. Мы также занимаемся продвижением SEO и поисковой оптимизацией веб-сайтов на Joomla.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-3"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">03.</div>
									<div class="solutions__el-title">HTML & CSS</div>
									<div class="solutions__el-text">Сайт на нативных HTML/CSS гарантирует высокую скорость загрузки страниц, которая, наряду с уникальным дизайном, даст высокие показатели продвижения в поисковых системах.</div>
								</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-4"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">04.</div>
									<div class="solutions__el-title">ФРЕЙМВОРКИ</div>
									<div class="solutions__el-text">Веб-сайты с уникальной функциональностью на PHP и Ruby on Rails фреймворках. Сайт написанный на фреймворке характеризуется гибкой функциональностью, высокой скоростью, расширяемостью для любой задачи.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-5"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">05.</div>
									<div class="solutions__el-title">ВЕБ ПРИЛОЖЕНИЯ</div>
									<div class="solutions__el-text">Мы <a href="/services_ror?lang=ru">разрабатываем веб-приложения на Ruby On Rails</a>. Надёжном, быстром, расширяемом фреймворке. Rails приложение - отличный и незаменимый бизнес-инструмент.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-6"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">06.</div>
									<div class="solutions__el-title">ХОСТИНГ</div>
									<div class="solutions__el-text"><a href="https://accounts.fozzy.com/aff.php?aff=18138">Качественный хостинг.</a> Различные тарифные планы. 24/7 дружественная поддержка. Аптайм 99,9%. Серверы на высокоскоростных SSD. Партнерская программа для веб-мастеров.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>