	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Услуги
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">НАША ВЕБ-СТУДИЯ ПРЕДЛАГАЕТ</div>
						<div class="additional__body">
							<div class="additional__el ru">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Онлайн аналитика</div>
										<div class="additional__subtitle">Аналитика сайтов-конкурентов по вашей тематике, на предмет SEO оптимизации.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Дизайн сайта</div>
										<div class="additional__subtitle">Разработка уникального дизайна для вашего сайта, консультации с дизайнером.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Веб-разработка</div>
										<div class="additional__subtitle">Разработка веб-сайтов с уникальным дизайном или на готовых премиумных шаблонах.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO продвижение</div>
										<div class="additional__subtitle">Оптимизация сайта. Поисковое продвижение. Составление семантического ядра.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Адаптивная верстка</div>
										<div class="additional__subtitle">Мы используем адаптивный дизайн при разработке ваших сайтов и мобильных приложений.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Хостинг</div>
										<div class="additional__subtitle">Рекомендуем быстрый и качественный VDS/VPS и виртуальный хостинг для ваших сайтов.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">Все наши шаблоны веб-сайтов полностью адаптивны!</div>
						<div class="always__body-s">
							<div class="always__number-text-s">Наша команда разрабатывает собственные адаптивные шаблоны веб-сайтов для Joomla, WordPress и других популярных CMS. Мы всегда можем предложить ряд готовых решений или разработать новый уникальный дизайн для сайта.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label">КРЕАТИВНЫЕ РЕШЕНИЯ В ВЕБ-РАЗРАБОТКЕ</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-1"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">01.</div>
									<div class="solutions__el-title">WORDPRESS</div>
									<div class="solutions__el-text">Веб-сайт с уникальным дизайном на CMS WordPress. В наличии много готовых премиумных шаблонов WordPress. Поисковая оптимизация и СЕО продвижение веб сайтов на  WordPress.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-2"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">02.</div>
									<div class="solutions__el-title">JOOMLA</div>
									<div class="solutions__el-text">Разработка веб-сайтов на CMS — Joomla. Уникальный дизайн или премиум-шаблон для вашего сайта. Также мы занимаемся СЕО продвижением и поисковой оптимизацией веб-сайтов на Joomla.
</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-3"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">03.</div>
									<div class="solutions__el-title">HTML & CSS</div>
									<div class="solutions__el-text">Веб-сайт на чистом HTML/CSS гарантирует высокую скорость загрузки страниц, что на ряду с уникальным дизайном даст высокие показатели поискового продвижения сайта.</div>
								</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el">
								<div class="solutions__el-bg1-4"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">04.</div>
									<div class="solutions__el-title">ФРЕЙМВОРКИ</div>
									<div class="solutions__el-text">Сайты с уникальным функционалом на PHP и Ruby on rails фреймворках. Сайт на фреймворке отличается гибким функционалом, высоким быстродействием, расширяемостью под любые задачи.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-5"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">05.</div>
									<div class="solutions__el-title">ВЕБ ПРИЛОЖЕНИЯ</div>
									<div class="solutions__el-text">Мы разрабатываем веб-приложения на Ruby on Rails. Надежный, быстродействующий, расширяемый фреймворк. Приложение на Rails — это отличный и незаменимый инструмент для бизнеса.</div>
								</div>
							</div>
							<div class="solutions__el">
								<div class="solutions__el-bg1-6"></div>
								<div class="solutions__el-bg2"></div>
								<div class="solutions__el-body">
									<div class="solutions__el-label">06.</div>
									<div class="solutions__el-title">ХОСТИНГ</div>
									<div class="solutions__el-text">Качественный хостинг для сайта. Разнообразные тарифные планы. Круглосуточная дружественная поддержка. Аптайм 99,9%. Серверы на быстродействующих SSD. Партнерская программа для веб-мастеров</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>