<% content_for :head do %>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-180YW2DXHG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-180YW2DXHG');
</script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов, сео продвижение и контекстная реклама</title>
    <meta name="description" content="Разработка веб-сайтов на CMS и фреймворках. Оптимизация сайта под поисковые системы. Контекстная реклама.
	Надежный и быстрый хостинг.">
	<meta property="og:title" content="Разработка веб-сайтов, сео продвижение и контекстная реклама" />
    <meta property="og:description" content="Разработка веб-сайтов на CMS и фреймворках. Оптимизация сайта под поисковые системы. Контекстная реклама.
	Надежный и быстрый хостинг." />
    <meta property="og:image" content="<%= (asset_path('cropped-icon2.png')) %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Услуги
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label"><h1>Разработка веб-сайтов, SEO продвижение и контекстная реклама</h1></div>
						<div class="additional__label"><h2>НАША ВЕБ-СТУДИЯ ПРЕДЛАГАЕТ</h2></div>
						<div class="additional__body">
							<div class="additional__el add__el-1">
								<div class="additional__pic">
									<%= image_tag(asset_path('mn-48.webp'), alt: "Онлайн аналитика") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Онлайн аналитика</h3></div>
									<div class="additional__subtitle">&nbsp;Аналитика сайтов-конкурентов по вашей тематике, на предмет SEO оптимизации.</div>
								</div>
							</div>
							<div class="additional__el add__el-2">
								<div class="additional__pic">
									<%= image_tag(asset_path('et-50.webp'), alt: "Дизайн сайта") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Дизайн сайта</h3></div>
									<div class="additional__subtitle">&nbsp;Разработка уникального дизайна для вашего сайта, общение с дизайнером.</div>
								</div>
							</div>
							<div class="additional__el add__el-3">
								<div class="additional__pic">
									<%= image_tag(asset_path('html-50.webp'), alt: "Веб-разработка") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Веб-разработка</h3></div>
									<div class="additional__subtitle">&nbsp;Разработка веб-сайтов с уникальным дизайном или на готовых премиумных шаблонах.
									</div>
								</div>
							</div>
							<div class="additional__el add__el-4">
								<div class="additional__pic">
									<%= image_tag(asset_path('st-50.webp'), alt: "SEO продвижение") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>SEO продвижение</h3></div>
									<div class="additional__subtitle">&nbsp;Оптимизация сайта. Поисковое продвижение. Составление семантического ядра.</div>
								</div>
							</div>
							<div class="additional__el add__el-5">
								<div class="additional__pic">
									<%= image_tag(asset_path('lp-50.webp'), alt: "Адаптивная верстка") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Адаптивная верстка</h3></div>
									<div class="additional__subtitle">&nbsp;Мы используем адаптивный дизайн при разработке ваших сайтов и мобильных
									 приложений.</div>
								</div>
							</div>
							<div class="additional__el add__el-6">
								<div class="additional__pic">
									<%= image_tag(asset_path('pc-50.webp'), alt: "Хостинг") %>
								</div>
								<div class="additional__text">
									<div class="additional__title"><h3>Хостинг</h3></div>
									<div class="additional__subtitle">&nbsp;Рекомендуем быстрый и качественный VDS/VPS и виртуальный хостинг для ваших
									 сайтов.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"> </span>
				<div class="container">
					<div class="always__row">
						<div class="always__label"><h2>Все наши шаблоны веб-сайтов полностью адаптивны!</h2></div>
						<div class="always__body-s">
							<div class="always__number-text-s">&nbsp;Наша команда разрабатывает собственные адаптивные шаблоны веб-сайтов для Joomla,
							 WordPress и других популярных CMS. Мы всегда можем предложить ряд готовых решений или разработать новый уникальный
							  дизайн для сайта.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solutions">
				<div class="container">
					<div class="solutions__row">
						<div class="solutions__label"><h2>КРЕАТИВНЫЕ РЕШЕНИЯ В ВЕБ-РАЗРАБОТКЕ</h2></div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-1">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>WORDPRESS</h3></div>
									<div class="solutions__el-text">&nbsp;Веб-сайт с уникальным дизайном на CMS WordPress. В наличии много готовых
									 премиумных шаблонов WordPress. Поисковая оптимизация и <a href="services_seo?lang=ru">СЕО продвижение
									  веб сайтов</a> на  WordPress.</div>
							</div>
							<div class="solutions__el sol__el-2">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>JOOMLA</h3></div>
									<div class="solutions__el-text">&nbsp;<a href="services_cms?lang=ru">Разработка веб-сайтов на CMS</a>
									 — Joomla. Уникальный дизайн или премиум-шаблон для вашего сайта. Также мы занимаемся СЕО продвижением и поисковой
									  оптимизацией веб-сайтов на Joomla.
								</div>
							</div>
							<div class="solutions__el sol__el-3">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>HTML & CSS</h3></div>
									<div class="solutions__el-text">&nbsp;Веб-сайт на чистом HTML/CSS гарантирует высокую скорость загрузки страниц, что
									 на ряду с уникальным дизайном даст высокие показатели поискового продвижения сайта.</div>
							</div>
						</div>
						<div class="solutions__rank">
							<div class="solutions__el sol__el-4">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>ФРЕЙМВОРКИ</h3></div>
									<div class="solutions__el-text">&nbsp;Сайты с уникальным функционалом на PHP и Ruby on rails фреймворках. Сайт на
									 фреймворке отличается гибким функционалом, высоким быстродействием, расширяемостью под любые задачи.</div>
							</div>
							<div class="solutions__el sol__el-5">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>ВЕБ ПРИЛОЖЕНИЯ</h3></div>
									<div class="solutions__el-text">&nbsp;Мы <a href="services_ror?lang=ru">разрабатываем веб-приложения
									 на Ruby on Rails.</a> Надежный, быстродействующий, расширяемый фреймворк. Приложение на Rails — это отличный и
									  незаменимый инструмент для бизнеса.</div>
							</div>
							<div class="solutions__el sol__el-6">
									<div class="solutions__el-label"></div>
									<div class="solutions__el-title"><h3>ХОСТИНГ</h3></div>
									<div class="solutions__el-text">&nbsp;<a href="https://accounts.fozzy.com/aff.php?aff=18138" target="_blank">Качественный
									 хостинг для сайта.</a> Разнообразные тарифные планы. Круглосуточная дружественная поддержка. Аптайм 99,9%. Серверы на
									  быстродействующих SSD. Партнерская программа для веб-мастеров</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>