<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Development of websites in CMS and RoR</title>
    <meta name="description" content="Development of websites in CMS Wordpress, Joomla and in Ruby on Rails. SEO website promotion.
	 Contextual advertising.">
    <meta property="og:title" content="Development of websites in CMS and RoR">
    <meta property="og:description" content="Development of websites in CMS Wordpress, Joomla and in Ruby on Rails. SEO website promotion.
	 Contextual advertising.">
    <meta property="og:image" content="<%= (asset_path('cropped-icon2.png')) %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
	<% puts current_path %>
	<% if params[:lang] == "en" %>
		<link rel="canonical" href="<%= root_path %>"/>
	<% end %>
<% end %>

<div class="wrapper">
	<main class="main">
		<div class="carousel" style="height: 750px;">
			<div class="slider">
				<div class="slider__item ops" style="height: 750px;">
					<span class="slider__item-bg1" style="max-height: 100%;"></span>
					<%= image_tag(asset_path('Sl1.webp'), alt: "Development of websites", class: "slider__item-pic" ) %>
						<div class="slider__item-box" style="max-height: 100%;">
							<div class="slider__item-label"><h1>Development of websites<br> Any complexity</h1></div>
							<div class="slider__item-sublabel">We quickly and effectively implement your web project in the form of a web application
On Ruby On Rails.We will develop a website with a unique design or on the finished template of the most popular CMS
- WordPress, Joomla, Modx or any other.</div>
							<a href="/services_ror?lang=en" class="slider__item-btn">Read more</a>
						</div>
				</div>
				<div class="slider__item ops" style="height: 750px;">
					<span class="slider__item-bg2" style="max-height: 100%;"></span>
					<%= image_tag(asset_path('Sl2.webp'), alt: "Contribution of contextual advertising", class: "slider__item-pic" ) %>
						<div class="slider__item-box" style="max-height: 100%;">
							<div class="slider__item-label"><h1>Contribution of contextual advertising</h1></div>
							<div class="slider__item-sublabel">Create and set up an advertising company for your business in contextual
Google ADS advertising network.</div>
							<a href="/services_seo?lang=en" class="slider__item-btn">Read more</a>
						</div>
				</div>
				<div class="slider__item ops" style="height: 750px;">
					<span class="slider__item-bg3" style="max-height: 100%;"></span>
					<%= image_tag(asset_path('Sl3.webp'), alt: "SEO promotion", class: "slider__item-pic" ) %>
						<div class="slider__item-box" style="max-height: 100%;">
							<div class="slider__item-label"><h1>SEO website promotion<br> In Top Google</h1></div>
							<div class="slider__item-sublabel">We will carry out SEO analytics of competitors of your site.We optimize your site
for search engines.Modified the semantic core under SEO.We will carry out the promotion of the site in the top
Yandex and Google search engines.We will provide detailed reports on analytics and promotion.</div>
							<a href="/services_seo?lang=en" class="slider__item-btn">Read more</a>
						</div>
				</div>
			</div>
		</div>
		<div class="roll">
			<div class="container">
				<div class="roll__row">
					<div class="roll__coll roll__coll-1">
						<div class="roll__coll-title"><h2>Development of websites</h2></div>
						<div class="roll__coll-text">One of the areas of the work of our web studio is the development of websites and
web applications.We will quickly and efficiently create a site, online store or portal for you.Our studio
It develops both simple proctates on pure HTML/CSS or any CMS, and complex, using
Framivar Ruby on Rails.Create a unique design for your website.</div>
					</div>
					<div class="roll__coll roll__coll-2">
						<div class="roll__coll-title"><h2>SEO promotion</h2></div>
						<div class="roll__coll-text">We complete the SEO promotion of your site in the TOP search engines Yandex and Google.
We will conduct analytics on competitive sites, optimizing the code of your site to the requirements of search engines.
We will form the correct semantic core.We will conduct advertising companies to increase the weight of the site and its
visibility in search engines.</div>
					</div>
					<div class="roll__coll roll__coll-3">
						<div class="roll__coll-title"><h2>Contextual advertising</h2></div>
						<div class="roll__coll-text">We set up and optimize advertising companies in contextual advertising networks
Yandex Direct and Google ADS.Create and configure your advertising account.Correct configuration contextual
Advertising will allow you to quickly and economically effectively attract customers for your services, customers for your
goods and visitors to your thematic site.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="choose">
			<div class="container">
				<div class="choose__row rob">
					<div class="choose__col">
						<div class="choose__label"><h2>Site Development and Support</h2></div>
						<div class="choose__vid">
							<%= image_tag(asset_path('usl.webp'), alt: "Site Development and Support") %>
						</div>
					</div>
					<div class="choose__col">
						<div class="choose__title">Our team consists of professional programmers, designers, systemic
Administrators who will develop a site for you as soon as possible, configure domain zones, hosting,
VDS/VPS or DEDICATE server.</div>
						<div class="choose__body">
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp'), alt: "Development") %>
								</div>
								<div class="choose__tagline"><h3>Development</h3></div>
								<div class="choose__text">Development is carried out at our hosting, on a technical domain of several
specialists.The customer has the opportunity to directly observe the process of developing a website.
								</div>
							</div>
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp'), alt: "Support") %>
								</div>
								<div class="choose__tagline"><h3>Support</h3></div>
								<div class="choose__text">We provide services for subsequent support and maintenance of the website.
We recommend reliable fast -acting hosting.Installing or transferring a site to a customer hosting,
Setting up the domain zone.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="additional">
			<div class="container">
				<div class="additional__row rob">
					<div class="additional__label"><h2>Seo site promotion by stages</h2></div>
					<div class="additional__body">
						<div class="additional__el add__el-1">
							<div class="additional__pic">
								<%= image_tag(asset_path('mn-48.webp'), alt: "SEO analytics") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO analytics</h3></div>
								<div class="additional__subtitle">Analytics of competing sites on your subject, for SEO
optimization.</div>
							</div>
						</div>
						<div class="additional__el add__el-2">
							<div class="additional__pic">
								<%= image_tag(asset_path('et-50.webp'), alt: "Site on HTML5/CSS") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Site on HTML5/CSS</h3></div>
								<div class="additional__subtitle">Development of a website on pure HTML/CSS.One of the best solutions for
website promotion in the top.</div>
							</div>
						</div>
						<div class="additional__el add__el-3">
							<div class="additional__pic">
								<%= image_tag(asset_path('html-50.webp'), alt: "Optimization site") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Optimization site</h3></div>
								<div class="additional__subtitle">SEO Optimize the website for the requirements of search engines.Check
errors, speeds, semantics.</div>
							</div>
						</div>
						<div class="additional__el add__el-4">
							<div class="additional__pic">
								<%= image_tag(asset_path('st-50.webp'), alt: "SEO images") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO images</h3></div>
								<div class="additional__subtitle">Unique and optimization of images on the site for promotion in
search engines.</div>
							</div>
						</div>
						<div class="additional__el add__el-5">
							<div class="additional__pic">
								<%= image_tag(asset_path('lp-50.webp'), alt: "SEO promotion") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO promotion</h3></div>
								<div class="additional__subtitle">Search promotion of the website.Advertising companies on thematic
resources.Linkbuilding.</div>
							</div>
						</div>
						<div class="additional__el add__el-6">
							<div class="additional__pic">
								<%= image_tag(asset_path('pc-50.webp'), alt: "Detailed reports") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Detailed reports</h3></div>
								<div class="additional__subtitle">We provide detailed reports on the planned and planned
Work on website promotion.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Portfolio</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp'), alt: "Web site of the electric company") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of the Polish electric company</h3></div>
							<div class="portfolio__text">This web site was developed on the Ruby On Rails Framivork, the administrative part
Contains a CRM system for doing business (accounting, accounting, personnel, etc.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.webp'), alt: "CRM for a electric company") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CRM for a Polish electric company</h3></div>
							<div class="portfolio__text">This project was written on Ruby On Rails.The application helps the entrepreneur
Lead accounting.
							</div>
							<a href="/services_ror?lang=en" class="portfolio__btn" target="blank">Read more</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp'), alt: "Web site of the nursery of animals") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of the Ukrainian nursery of animals</h3></div>
							<div class="portfolio__text">This site was created by our team on CMS WordPress.</div>
							<a href="http://worldanimals.ml/" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.webp'), alt: "Web site of teaspoon") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of English teaspoon</h3></div>
							<div class="portfolio__text">The site is designed with a unique design on CMS WordPress.</div>
							<a href="http://greentea.cf" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.webp'), alt: "Web site of the agricultural company") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Web site of the Ukrainian agricultural company</h3></div>
							<div class="portfolio__text">The site is designed on pure HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp'), alt: "SEO promoting the company's website") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>SEO promoting the company's website for the sale of spare parts and repairing industrial refrigeration equipment</h3>
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="https://torosspb.ru" class="portfolio__btn" target="blank">Look</a>
						</div>
					</div>
					<a href="/portfolio?lang=en" class="portfolio__butt" target="blank">
						More of our work
					</a>
				</div>
			</div>
		</div>
		<div class="briefly">
			<div class="container">
				<div class="briefly__row">
					<div class="briefly__label"><h2>Contribution of contextual advertising</h2></div>
					<div class="briefly__box ru">
						<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp'), alt: "Contribution of contextual advertising") %>
						</div>
						<div class="briefly__el-box">
							<div class="briefly__el">
								<div class="briefly__pic-1"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Analytics</h3></div>
									<div class="briefly__text">Analysis of specialized search queries on the advertising site.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-2"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Setup</h3></div>
									<div class="briefly__text">Setting up and optimizing an advertising company in Google ADS.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-3"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Budget</h3></div>
									<div class="briefly__text">Calculation of the company's budget in the contextual advertising network.Cost optimization
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="always">
			<span class="always__bg"></span>
			<div class="container">
				<div class="always__row">
					<div class="always__label text-center">Have questions?</div>
					<div class="always__body">
						<div class="always__number">
							<div class="always__number-pic"></div>
							<div class="always__number-text">Contact us: +48795124042</div>
						</div>
						<a href="/contacts?lang=en" class="always__btn wobble">Contacts</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	var strGET = window.location.search.replace('?', '');

	if (strGET != "") {
		if (window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
	};
</script>