	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
							<ul class="header__icon-list">
								<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
							</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
							<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about_us">About Us</a></li>
								<li><a href="/services">Services</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="servicesRoR.html">RoR development</a>
										<a href="servicesCMS.html">CMS Development</a>
										<a href="servicesSEO.html">SEO Promotion</a>
									</div>
								</li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="/portfolio">Portfolio</a></li>
								<li><a href="/contacts">Contact Us</a></li>
								<li><a href="#"><%= image_tag(asset_path('pl-24.webp')) %></a></li>
								<li><a href="#"><%= image_tag(asset_path('rus-24.webp')) %></a></li>
								<li><a href="#"><%= image_tag(asset_path('eng-24.webp')) %></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/" class="jaw__link active">Home</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us" class="jaw__link">About Us</a>
							</div>
							<div class="jaw__el">
								<a href="/services" class="jaw__link">Services</a>
								<span></span>
								<div class="jaw__poster">
									<a href="servicesRoR.html" class="jaw__link">RoR development</a>
									<a href="servicesCMS.html" class="jaw__link">CMS Development</a>
									<a href="servicesSEO.html" class="jaw__link">SEO Promotion</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog" class="jaw__link">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio" class="jaw__link">Portfolio</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts" class="jaw__link">Contact Us</a>
							</div>
							<div class="jaw__el">
								<a href="#" class="jaw__link"><%= image_tag(asset_path('pl-24.webp')) %></a>
							</div>
							<div class="jaw__el">
								<a href="#" class="jaw__link"><%= image_tag(asset_path('rus-24.webp')) %></a>
							</div>
							<div class="jaw__el">
								<a href="#" class="jaw__link"><%= image_tag(asset_path('eng-24.webp')) %></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel">
				<div class="slider">
					<div class="slider__item ops">
						<span class="slider__item-bg1"></span>
						<%= image_tag(asset_path('Sl1.jpg'), class: "slider__item-pic") %>
						<div class="slider__item-box">
							<div class="slider__item-label">Solution Website For you HTML5 RESPONSIVE</div>
							<div class="slider__item-sublabel">We use the most modern adaptability solutions for mobile devices to
								develop websites.</div>
							<a href="about.html" class="slider__item-btn">Read more</a>
						</div>
					</div>
					<div class="slider__item ops">
						<span class="slider__item-bg2"></span>
						<%= image_tag(asset_path('Sl2.webp'), class: "slider__item-pic") %>
						<div class="slider__item-box">
							<div class="slider__item-label">Professional <br> web and graphic design</div>
							<div class="slider__item-sublabel">Our team consists of specialists in the field of programming, web
								design,
								system administration, graphic design and Internet advertising.</div>
							<a href="about.html" class="slider__item-btn">Read more</a>
						</div>
					</div>
					<div class="slider__item ops">
						<span class="slider__item-bg3"></span>
						<%= image_tag(asset_path('Sl3.webp'), class: "slider__item-pic") %>
						<div class="slider__item-box">
							<div class="slider__item-label">Website Development team With Good Skills</div>
							<div class="slider__item-sublabel">We quickly and efficiently implement your web project in the form of a
								web application or a website with a unique design</div>
							<a href="contact.html" class="slider__item-btn">Contact us</a>
						</div>
					</div>
				</div>
			</div>
			<div class="roll">
				<div class="container">
					<div class="roll__row">
						<div class="roll__coll">
							<span class="roll__coll-wall1-1"></span>
							<span class="roll__coll-wall2"></span>
							<div class="roll__coll-body">
								<div class="roll__coll-label">01.</div>
								<div class="roll__coll-title">WORDPRESS CMS</div>
								<div class="roll__coll-text">Website development with a unique design on the WordPress engine. We have a
									lot of ready-made premium WordPress templates. Optimization for search engine promotion is also
									included</div>
							</div>
						</div>
						<div class="roll__coll">
							<span class="roll__coll-wall1-2"></span>
							<span class="roll__coll-wall2"></span>
							<div class="roll__coll-body">
								<div class="roll__coll-label">02.</div>
								<div class="roll__coll-title">JOOMLA CMS</div>
								<div class="roll__coll-text">Website development on one of the most popular engines — Joomla. You can
									choose between your own unique design or using a ready-made premium template. Optimization for search
									engine promotion is also included</div>
							</div>
						</div>
						<div class="roll__coll">
							<span class="roll__coll-wall1-3"></span>
							<span class="roll__coll-wall2"></span>
							<div class="roll__coll-body">
								<div class="roll__coll-label">03.</div>
								<div class="roll__coll-title">HTML & CSS</div>
								<div class="roll__coll-text">Pure HTML/ CSS development, which guarantees high performance, unique
									design, high indicators of search engine promotion of the website.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">WHY YOU SHOULD CHOOSE US ?</div>
							<div class="choose__vid">
								<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Our team consists of professional programmers, designers and system
								administrators who will develop a website for you in the shortest possible time, set up domain zones,
								hosting or a VPS server.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bu-50.webp')) %></div>
									<div class="choose__tagline">CREATIVE</div>
									<div class="choose__text">Our experts will advise you on all issues. We use a creative approach in
										communicating with the customer and what he needs .</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">STANDARD</div>
									<div class="choose__text">Our specialists have the necessary qualifications to fulfill your order in
										accordance with the highest and most modern standards in the field of IT.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">ADDITIONAL SERVICES</div>
						<div class="additional__body">
							<div class="additional__el">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">ONLINE RESEARCH</div>
										<div class="additional__subtitle">Analytics of competitive websites in the field of search SEO
											promotion of your queries.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">LOGO BRANDING</div>
										<div class="additional__subtitle">Logo design for your brand and website. Original and unique
											solutions.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">WEB DESIGN</div>
										<div class="additional__subtitle">Developing a unique design or connecting a ready-made template for
											a website.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO OPTIMIZATION</div>
										<div class="additional__subtitle">Website optimization. Search query promotion. Compilation of the
											semantic core.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">RESPONSIVE DESIGN</div>
										<div class="additional__subtitle">We use adaptive design when developing websites and mobile
											applications.</div>
									</div>
								</div>
							</div>
							<div class="additional__el">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">PHOTOGRAPHY</div>
										<div class="additional__subtitle">We conduct photo shoots for employees and products presented on
											the website.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio">
				<span class="portfolio__bg"></span>
				<div class="container">
					<div class="portfolio__row">
						<div class="portfolio__label">ARE YOU IMPRESSED WITH OUR AMAZING PORTFOLIO?</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('usl.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of the Polish electric company</div>
								<div class="portfolio__text">This project was built on one of our frontend templates. Serious work has
									been done on SEO optimization and setting up backend functionality.
								</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('an.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of the Ukrainian animal nursery</div>
								<div class="portfolio__text">This website was built on wordpress engine by our team.</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('toros.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">
									SEO optimization of the company's website for the sale of spare parts and repair of refrigeration
									equipment</div>
								<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
									TOP30 - 28 keys</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('tea.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Website of a England tea market</div>
								<div class="portfolio__text">Website created with unique design on wordpress engine.</div>
								<a href="#" class="portfolio__btn">View</a>
							</div>
						</div>
						<a href="portfolio.html" class="portfolio__butt">
							More works
						</a>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">SOMETHING ABOUT US</div>
						<div class="briefly__box">
							<div class="briefly__pic">
								<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Unique Designs</div>
										<div class="briefly__text">We develop a unique design for websites and logos of your company.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Standard Research</div>
										<div class="briefly__text">We conduct analytics in the development and promotion of websites.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Project Goal</div>
										<div class="briefly__text">A modern and high-quality digital product.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"></span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">We Always Provide Responsive WebsiteTemplates</div>
						<div class="always__body">
							<div class="always__number">
								<div class="always__number-pic"></div>
								<div class="always__number-text">Call us: +48795124042</div>
							</div>
							<a href="contact.html" class="always__btn wobble">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
			<div class="news">
				<div class="container">
					<div class="news__row">
						<div class="news__label">PUBLISHING OUR LATEST NEWS</div>
						<div class="news__el">
							<div class="news__pic">
								<a href="blogPostHost.html" class="news__pic-bg1"></a>
								<span class="news__pic-bg2"></span>
								<%= image_tag(asset_path('hosting.png')) %>
							</div>
							<div class="news__body">
								<div class="news__title"><a href="blogPostHost.html">Host Services</a></div>
								<div class="news__subtitle"><a href="blogAutorAdmin.html"><span class="news__span-pic"></span> admin</a> •<span
										class="news__span-pic-2"></span> 16 января, 2022</div>
								<div class="news__text">Promo code for a 10% discount on hosting services When ordering Fozzy …</div>
							</div>
						</div>
						<div class="news__el">
							<div class="news__pic">
								<a href="blogPostRuby.html" class="news__pic-bg1"></a>
								<span class="news__pic-bg2"></span>
								<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.webp')) %>
							</div>
							<div class="news__body">
								<div class="news__title"><a href="blogPostRuby.html">Ruby on Rails web applications</a></div>
								<div class="news__subtitle"><a href="blogAutorAdmin.html"><span class="news__span-pic"></span> admin</a> •<span
										class="news__span-pic-2"></span> 6 марта, 2021</div>
								<div class="news__text">Why do we need web applications? Today, the Internet occupies a significant …
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Call us</div>
							<div class="footer__subtitle">Our specialists will answer all your questions</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Working hours</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Advice Center</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Templates Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Photos</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Created by <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>
