<div class="wrapper">
	<main class="main">
		<div class="carousel">
			<div class="slider">
				<div class="slider__item ops">
					<span class="slider__item-bg1"></span>
					<%= image_tag(asset_path('Sl1.jpg'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label"><h1>Opracowanie stron internetowych<br> Każda złożoność</h1></div>
							<div class="slider__item-sublabel">Szybko i skutecznie wdrażamy Twój projekt internetowy w formie aplikacji internetowej
Na Ruby na szynach.Opracujemy stronę internetową z unikalnym projektem lub na gotowym szablonie najpopularniejszych CMS
- WordPress, Joomla, Modx lub dowolne inne.</div>
							<a href="/about_us?lang=pl" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg2"></span>
					<%= image_tag(asset_path('Sl2.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label"><h1>Wkład reklamy kontekstowej</h1></div>
							<div class="slider__item-sublabel">Utwórz i skonfiguruj firmę reklamową swojej firmy w kontekście
Sieć reklamowa reklam Google.</div>
							<a href="/about_us?lang=pl" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg3"></span>
					<%= image_tag(asset_path('Sl3.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label"><h1>Promocja strony internetowej SEO<br> W najlepszych Google</h1></div>
							<div class="slider__item-sublabel">Będziemy przeprowadzać SEO Analytics of Competitors of Twojej witryny.Optymalizujemy Twoją witrynę
dla wyszukiwarek.Zmodyfikowano rdzeń semantyczny pod SEO.Wykonamy promocję witryny na górze
Wyszukiwarki Yandex i Google.Zapewnimy szczegółowe raporty dotyczące analizy i promocji.</div>
							<a href="/about_us?lang=pl" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
			</div>
		</div>
		<div class="roll">
			<div class="container">
				<div class="roll__row">
					<div class="roll__coll roll__coll-1">
						<div class="roll__coll-title"><h2>Opracowanie stron internetowych</h2></div>
						<div class="roll__coll-text">Jednym z obszarów pracy naszego studia internetowego jest opracowanie stron internetowych i
Aplikacje internetowe.Szybko i wydajnie utworzymy dla Ciebie witrynę, sklep internetowy lub portal.Nasze studio
Opracowuje zarówno proste proktaty na czystym HTML/CSS lub dowolnym CMS, jak i złożone, używając
Framivar Ruby na szynach.Utwórz unikalny projekt swojej witryny.</div>
					</div>
					<div class="roll__coll roll__coll-2">
						<div class="roll__coll-title"><h2>Promocja SEO</h2></div>
						<div class="roll__coll-text">Ukończamy promocję SEO Twojej witryny w najlepszych wyszukiwarkach Yandex i Google.
Będziemy przeprowadzać analityki w konkurencyjnych witrynach, optymalizując kod Twojej witryny do wymagań wyszukiwarek.
Utworzymy prawidłowy rdzeń semantyczny.Przeprowadzimy firmy reklamowe, aby zwiększyć wagę witryny i jej
Widoczność w wyszukiwarkach.</div>
					</div>
					<div class="roll__coll roll__coll-3">
						<div class="roll__coll-title"><h2>Reklama kontekstowa</h2></div>
						<div class="roll__coll-text">Konfigurujemy i optymalizujemy firmy reklamowe w kontekstowych sieciach reklamowych
Reklamy Yandex Direct i Google.Utwórz i skonfiguruj swoje konto reklamowe.Poprawna konfiguracja kontekstowa
Reklama pozwoli ci szybko i ekonomicznie skutecznie przyciągnąć klientów do twoich usług, klientów dla Twoich
Towary i odwiedzający twoją stronę tematyczną.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="choose">
			<div class="container">
				<div class="choose__row rob">
					<div class="choose__col">
						<div class="choose__label"><h2>Rozwój i wsparcie strony</h2></div>
						<div class="choose__vid">
							<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="choose__col">
						<div class="choose__title">Nasz zespół składa się z profesjonalnych programistów, projektantów, systemowych
Administratorzy, którzy opracują dla Ciebie witrynę tak szybko, jak to możliwe, skonfigurują strefy domeny, hosting,
VDS/VPS lub SERWER DEDICE.</div>
						<div class="choose__body">
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
								</div>
								<div class="choose__tagline"><h3>Rozwój</h3></div>
								<div class="choose__text">Rozwój odbywa się w naszym hostingu, w dziedzinie technicznej kilku
Specjaliści.Klient ma możliwość bezpośredniego obserwowania procesu opracowywania strony internetowej.
								</div>
							</div>
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %>
								</div>
								<div class="choose__tagline"><h3>Wspierać się</h3></div>
								<div class="choose__text">Zapewniamy usługi dotyczące późniejszego wsparcia i utrzymania strony internetowej.
Zalecamy niezawodne szybkie hosting.Instalowanie lub przesyłanie witryny do hostingu klienta,
Konfigurowanie strefy domeny.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="additional">
			<div class="container">
				<div class="additional__row rob">
					<div class="additional__label"><h2>Promocja witryny SEO według etapów</h2></div>
					<div class="additional__body">
						<div class="additional__el add__el-1">
							<div class="additional__pic">
								<%= image_tag(asset_path('mn-48.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO Analytics</h3></div>
								<div class="additional__subtitle">Analityka konkurencyjnych witryn na Twój temat, dla SEO
optymalizacja.</div>
							</div>
						</div>
						<div class="additional__el add__el-2">
							<div class="additional__pic">
								<%= image_tag(asset_path('et-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Witryna na HTML5 / CSS</h3></div>
								<div class="additional__subtitle">Opracowanie strony internetowej na Pure HTML/CSS.Jedno z najlepszych rozwiązań dla
Promocja strony internetowej na szczycie.</div>
							</div>
						</div>
						<div class="additional__el add__el-3">
							<div class="additional__pic">
								<%= image_tag(asset_path('html-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Witryna optymalizacji</h3></div>
								<div class="additional__subtitle">SEO zoptymalizuj stronę internetową pod kątem wymagań wyszukiwarek.Sprawdzać
Błędy, prędkości, semantyka.</div>
							</div>
						</div>
						<div class="additional__el add__el-4">
							<div class="additional__pic">
								<%= image_tag(asset_path('st-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Obrazy SEO</h3></div>
								<div class="additional__subtitle">Unikalna i optymalizacja obrazów na stronie w celu promocji w
Wyszukiwarki.</div>
							</div>
						</div>
						<div class="additional__el add__el-5">
							<div class="additional__pic">
								<%= image_tag(asset_path('lp-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Promocja SEO</h3></div>
								<div class="additional__subtitle">Wyszukaj promocję witryny.Firmy reklamowe w tematyce
Surowce.Budynek łączący.</div>
							</div>
						</div>
						<div class="additional__el add__el-6">
							<div class="additional__pic">
								<%= image_tag(asset_path('pc-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Szczegółowe raporty</h3></div>
								<div class="additional__subtitle">Podajemy szczegółowe raporty dotyczące planowanych i planowanych
Pracuj nad promocją strony internetowej.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Teczka</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ta strona internetowa została opracowana na Ruby on Rails Framiivork, części administracyjnej
Zawiera system CRM do prowadzenia działalności (rachunkowość, rachunkowość, personel itp.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CMR dla polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ten projekt został napisany na Ruby on Rails.Aplikacja pomaga przedsiębiorcy
Rachunkowość ołowiu.
							</div>
							<a href="#" class="portfolio__btn">Czytaj więcej</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa ukraińskiego szkółki zwierząt</h3></div>
							<div class="portfolio__text">Ta strona została stworzona przez nasz zespół w CMS WordPress.</div>
							<a href="#" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa łyżeczki angielskiej</h3></div>
							<div class="portfolio__text">Witryna została zaprojektowana z unikalnym projektem CMS WordPress.</div>
							<a href="greentea.cf" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa ukraińskiej firmy rolniczej</h3></div>
							<div class="portfolio__text">Witryna jest zaprojektowana na czystym HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>SEO promujący stronę internetową firmy do sprzedaży części zamiennych i naprawy przemysłowych urządzeń chłodniczych</h3>
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="torosspb.ru" class="portfolio__btn">Patrzeć</a>
						</div>
					</div>
					<a href="/portfolio?lang=pl" class="portfolio__butt">
						Więcej niż nasze prace
					</a>
				</div>
			</div>
		</div>
		<div class="briefly">
			<div class="container">
				<div class="briefly__row">
					<div class="briefly__label"><h2>Wkład reklamy kontekstowej</h2></div>
					<div class="briefly__box ru">
						<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp')) %>
						</div>
						<div class="briefly__el-box">
							<div class="briefly__el">
								<div class="briefly__pic-1"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Analityka</h3></div>
									<div class="briefly__text">Analiza wyspecjalizowanych zapytań na stronie reklamowej.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-2"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Organizować coś</h3></div>
									<div class="briefly__text">Konfigurowanie i optymalizacja firmy reklamowej w reklamach Google.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-3"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Budżet</h3></div>
									<div class="briefly__text">Obliczanie budżetu firmy w kontekstowej sieci reklamowej.Optymalizacja kosztów
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="always">
			<span class="always__bg"></span>
			<div class="container">
				<div class="always__row">
					<div class="always__label text-center">Mieć pytania?</div>
					<div class="always__body">
						<div class="always__number">
							<div class="always__number-pic"></div>
							<div class="always__number-text">Skontaktuj się z nami: +48795124042</div>
						</div>
						<a href="/contacts?lang=pl" class="always__btn wobble">Łączność</a>
					</div>
				</div>
			</div>
		</div>
		<div class="news">
			<div class="container">
				<div class="news__row">
					<div class="news__label"><h2>Aktualności</h2></div>
					<div class="news__el">
						<div class="news__pic">
							<a href="/blog?lang=pl" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<%= image_tag(asset_path('hosting.png')) %>
						</div>
						<div class="news__body">
							<div class="news__title"><a href="/blog?lang=pl"><h3>Usługi dedykowanych serwerów</h3></a></div>
							<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
									class="news__span-pic-2"></span></div>
							<div class="news__text">10% zniżki kodu promocyjnego przy wynajmu serwera od Fozzy Hoster …</div>
						</div>
					</div>
					<div class="news__el">
						<div class="news__pic">
							<a href="/blog?lang=en" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.webp')) %>
						</div>
						<div class="news__body">
							<div class="news__title"><a href="/blog?lang=pl"><h3>Ruby on Rails Aplikacje internetowe</h3></a></div>
							<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
									class="news__span-pic-2"></span></div>
							<div class="news__text">Dlaczego potrzebujemy aplikacji internetowych?Dziś Internet jest znaczący ...
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	var strGET = window.location.search.replace('?', '');

	if (strGET != "") {
		if (window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
	};
</script>