<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Tworzenie stron internetowych CMS oraz RoR</title>
    <meta name="description" content="Tworzenie stron internetowych CMS Wordpress, Joomla oraz Ruby on Rails. SEO Pozycjonowanie. 
	Reklama kontekstowa.">
	<meta property="og:title" content="Tworzenie stron internetowych CMS oraz RoR" />
    <meta property="og:description" content="Tworzenie stron internetowych CMS Wordpress, Joomla oraz Ruby on Rails. SEO Pozycjonowanie. 
	Reklama kontekstowa." />
    <meta property="og:image" content="" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
<% end %>

<div class="wrapper">
	<main class="main">
		<div class="carousel">
			<div class="slider">
				<div class="slider__item ops">
					<span class="slider__item-bg1"></span>
					<%= image_tag(asset_path('Sl1.jpg'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label"><h1>TWORZENIE STRON INTERNETOWYCH<br> O DOWOLNEJ ZŁOŻONOŚCI</h1></div>
							<div class="slider__item-sublabel">&nbsp;Szybko i sprawnie realizujemy Twój projekt webowy jako aplikację webową w Ruby on Rails. Opracujemy stronę internetową o unikalnym designie lub na gotowym szablonie najpopularniejszego CMS - WordPress, Joomla, ModX lub dowolny inny.</div>
							<a href="/services_ror?lang=pl" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg2"></span>
					<%= image_tag(asset_path('Sl2.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label"><h1>KONFIGURACJA REKLAMY KONTEKSTOWEJ</h1></div>
							<div class="slider__item-sublabel">&nbsp;Stworzymy i skonfigurujemy kampanię reklamową dla Twojej firmy w sieci reklamy kontekstowej Google Ads.</div>
							<a href="/services_seo?lang=pl" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg3"></span>
					<%= image_tag(asset_path('Sl3.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label"><h1>SEO POZYCJONOWANIE<br>STRON INTERNETOWYCH<br> W TOP GOOGLE</h1></div>
							<div class="slider__item-sublabel">&nbsp;Przeprowadzimy SEO analizę konkurencji Twojej strony internetowej. Optymalizujemy Twoją stronę internetową pod wyszukiwarki. Modyfikujemy rdzeń semantyczny pod SEO. Wykonamy pozycjonowanie strony w TOP wyszukiwarki Google. Dostarczymy szczegółowe raporty dotyczące analityki i promocji.</div>
							<a href="/services_seo?lang=pl" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
			</div>
		</div>
		<div class="roll">
			<div class="container">
				<div class="roll__row">
					<div class="roll__coll roll__coll-1">
						<div class="roll__coll-title"><h2 align="center">Tworzenie stron internetowych</h2></div>
						<div class="roll__coll-text">&nbsp;Jednym z obszarów pracy naszego studia internetowego jest tworzenie stron i aplikacji
						 internetowych. Szybko i sprawnie stworzymy dla Ciebie bloga, sklep internetowy lub portal. Nasze studio tworzy zarówno
						  złożone projekty na czystym HTML/CSS lub dowolnym CMS, jak i złożone, z użyciem framework’a. Stworzymy unikalny design
						   Twojej strony internetowej.</div>
					</div>
					<div class="roll__coll roll__coll-2">
						<div class="roll__coll-title"><h2 align="center">SEO Pozycjonowanie</h2></div>
						<div class="roll__coll-text">&nbsp;Wykonamy promocję SEO Twojej strony w TOP wyszukiwarki Google. Przeprowadzimy analitykę
						 na konkurencyjnych stronach, zoptymalizujemy kod Twojej witryny zgodnie z wymaganiami wyszukiwarek. Stworzymy poprawny
						  rdzeń semantyczny. Będziemy prowadzić kampanie reklamowe mające na celu zwiększenie wagi strony i jej widoczności
						   w wyszukiwarkach.</div>
					</div>
					<div class="roll__coll roll__coll-3">
						<div class="roll__coll-title"><h2 align="center">Reklama kontekstowa</h2></div>
						<div class="roll__coll-text">&nbsp;Konfigurujemy i optymalizujemy kampanie reklamowe w sieci reklamy kontekstowej Google Ads.
						 Stworzymy i skonfigurujemy Twoje konto reklamowe. Prawidłowe ustawienie reklamy kontekstowej pozwoli Ci szybko i oszczędnie
						  przyciągnąć klientów na Twoje usługi, kupujących Twoje produkty oraz odwiedzających Twoją tematyczną stronę internetową.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="choose">
			<div class="container">
				<div class="choose__row rob">
					<div class="choose__col">
						<div class="choose__label"><h2>Tworzenie i wsparcie strony internetowej</h2></div>
						<div class="choose__vid">
							<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="choose__col">
						<div class="choose__title">&nbsp;Nasz zespół składa się z profesjonalnych programistów, projektantów, administratorów systemów,
						 którzy w jak najkrótszym czasie opracują dla Ciebie stronę internetową, skonfigurują strefy domen, hosting, VDS/VPS czy
						  serwer dedykowany.</div>
						<div class="choose__body">
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
								</div>
								<div class="choose__tagline"><h3>Tworzenie</h3></div>
								<div class="choose__text">&nbsp;Tworzenie odbywa się na naszym hostingu, na domenie technicznej przez grupę specjalistów.
								 Klient ma możliwość bezpośredniego obserwowania procesu tworzenia strony internetowej.
								</div>
							</div>
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %>
								</div>
								<div class="choose__tagline"><h3>Wsparcie</h3></div>
								<div class="choose__text">&nbsp;Świadczymy usługi późniejszego wsparcia i utrzymania serwisu. Polecamy niezawodny, szybki
								 hosting. Zainstalujemy lub przeniesiemy stronę na hosting klienta, ustawimy strefy domen..</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="additional">
			<div class="container">
				<div class="additional__row rob">
					<div class="additional__label"><h2>SEO POZYCJONOWANIE STRONY INTERNETOWEJ STOPNIOWO</h2></div>
					<div class="additional__body">
						<div class="additional__el add__el-1">
							<div class="additional__pic">
								<%= image_tag(asset_path('mn-48.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Analityka SEO</h3></div>
								<div class="additional__subtitle">&nbsp;Analiza konkurencyjnych stron internetowych na Twój temat w celu optymalizacji SEO.
								</div>
							</div>
						</div>
						<div class="additional__el add__el-2">
							<div class="additional__pic">
								<%= image_tag(asset_path('et-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Strona internetowa w HTML5/CSS</h3></div>
								<div class="additional__subtitle">&nbsp;Tworzenie stron internetowych w czystym HTML/CSS. Jedno z najlepszych rozwiązań
								 pozycjonowania strony w TOP.</div>
							</div>
						</div>
						<div class="additional__el add__el-3">
							<div class="additional__pic">
								<%= image_tag(asset_path('html-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Optymalizacja strony</h3></div>
								<div class="additional__subtitle">&nbsp;Optymalizacja SEO strony internetowej zgodnie z wymaganiami wyszukiwarek.
								 Sprawdzenie błędów, wydajności, semantyki.</div>
							</div>
						</div>
						<div class="additional__el add__el-4">
							<div class="additional__pic">
								<%= image_tag(asset_path('st-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Seo obrazów</h3></div>
								<div class="additional__subtitle">&nbsp;Unikatowanie i optymalizacja obrazów na stronie w celu promocji w wyszukiwarkach.
								</div>
							</div>
						</div>
						<div class="additional__el add__el-5">
							<div class="additional__pic">
								<%= image_tag(asset_path('lp-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO pozycjonowanie</h3></div>
								<div class="additional__subtitle">&nbsp;Pozycjonowanie wyszukiwania strony internetowej. Kampanie reklamowe na zasobach
								 tematycznych. Linkowanie.</div>
							</div>
						</div>
						<div class="additional__el add__el-6">
							<div class="additional__pic">
								<%= image_tag(asset_path('pc-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Rozszerzone raporty</h3></div>
								<div class="additional__subtitle">&nbsp;Dostarczamy szczegółowe raporty z wykonanych i planowanych prac w celu
								 pozycjonowania strony internetowej.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Portfolio</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ta strona jest zbudowana na frameworku Ruby on Rails, część administracyjna zawiera system CRM
							 do prowadzenia biznesu (ewidencja, księgowość, kadra itp.).</div>
							<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CRM dla polskiej firmy elektrycznej</h3></div>
							<div class="portfolio__text">Ten projekt został napisany na Ruby on Rails. Aplikacja pomaga przedsiębiorcy Rachunkowość ołowiu.
							</div>
							<a href="/services_ror?lang=pl" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa Ukraińskiej Szkółki Zwierząt</h3></div>
							<div class="portfolio__text">Ta strona została stworzona przez nasz zespół na CMS WordPress.</div>
							<a href="http://worldanimals.ml" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona internetowa angielskiego sklepu herbaciany</h3></div>
							<div class="portfolio__text">Strona została opracowana z unikalnym designem na CMS WordPress.</div>
							<a href="http://greentea.cf" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Strona ukraińskiej agrofirmy</h3></div>
							<div class="portfolio__text">Strona jest tworzona w czystym HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>Pozycjonowanie strony SEO dla firmy zajmującej się sprzedażą części zamiennych i naprawą przemysłowych urządzeń
								 chłodniczych</h3>
							</div>
							<div class="portfolio__text">Google TOP1 – 17 kluczy, TOP3 – 21 kluczy, TOP5 – 24 kluczy, TOP10 – 25 kluczy, TOP30 – 28 kluczy
							</div>
							<a href="https://torosspb.ru" class="portfolio__btn" target="blank">Patrzeć</a>
						</div>
					</div>
					<a href="/portfolio?lang=pl" class="portfolio__butt">
						Więcej niż nasze prace
					</a>
				</div>
			</div>
		</div>
		<div class="briefly">
			<div class="container">
				<div class="briefly__row">
					<div class="briefly__label"><h2>KONFIGURACJA REKLAMY KONTEKSTOWEJ</h2></div>
					<div class="briefly__box ru">
						<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp')) %>
						</div>
						<div class="briefly__el-box">
							<div class="briefly__el">
								<div class="briefly__pic-1"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Analityka</h3></div>
									<div class="briefly__text">Analiza profilowych wyszukiwań na platformie reklamowej.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-2"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Ustawienie</h3></div>
									<div class="briefly__text">Konfiguracja i optymalizacja kampanii reklamowej w Google Ads.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-3"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Budżet</h3></div>
									<div class="briefly__text">Kalkulacja budżetu kampanii w sieci reklamy kontekstowej. Optymalizacja kosztów.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="always">
			<span class="always__bg"></span>
			<div class="container">
				<div class="always__row">
					<div class="always__label text-center">Masz pytania?</div>
					<div class="always__body">
						<div class="always__number">
							<div class="always__number-pic"></div>
							<div class="always__number-text">Skontaktuj się z nami: +48795124042</div>
						</div>
						<a href="/contacts?lang=pl" class="always__btn wobble">Łączność</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	var strGET = window.location.search.replace('?', '');

	if (strGET != "") {
		if (window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
	};
</script>