<div class="wrapper">
	<main class="main">
		<div class="carousel">
			<div class="slider">
				<div class="slider__item ops">
					<span class="slider__item-bg1"></span>
					<%= image_tag(asset_path('Sl1.jpg'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label">Witryna rozwiązania dla Ciebie HTML5 Responsive</div>
							<div class="slider__item-sublabel">Używamy najnowocześniejszych rozwiązań dostosowawczych dla urządzeń
								mobilnych
								Opracuj strony internetowe.</div>
							<a href="about.html" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg2"></span>
					<%= image_tag(asset_path('Sl2.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label">Profesjonalny <br> projekt internetowy i graficzny</div>
							<div class="slider__item-sublabel">Nasz zespół składa się ze specjalistów w dziedzinie programowania, Web
								projekt,
								Administracja systemu, projektowanie graficzne i reklama internetowa.</div>
							<a href="about.html" class="slider__item-btn">Czytaj więcej</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg3"></span>
					<%= image_tag(asset_path('Sl3.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label">Zespół rozwoju strony internetowej z dobrymi umiejętnościami</div>
							<div class="slider__item-sublabel">Szybko i wydajnie wdrażamy Twój projekt internetowy w formie
								Aplikacja internetowa lub strona internetowa z unikalnym projektem</div>
							<a href="contact.html" class="slider__item-btn">Skontaktuj się z nami</a>
						</div>
				</div>
			</div>
		</div>
		<div class="roll">
			<div class="container">
				<div class="roll__row">
					<div class="roll__coll roll__coll-1">
						<div class="roll__coll-label">01.</div>
						<div class="roll__coll-title">WordPress CMS</div>
						<div class="roll__coll-text">Opracowywanie strony internetowej z unikalnym projektem silnika WordPress.Mamy
							Wiele gotowych szablonów WordPress premium.Optymalizacja promocji wyszukiwarek jest również
							w zestawie</div>
					</div>
					<div class="roll__coll roll__coll-2">
						<div class="roll__coll-label">02.</div>
						<div class="roll__coll-title">JOOMLA CMS</div>
						<div class="roll__coll-text">Opracowanie strony internetowej na jednym z najpopularniejszych silników -
							Joomla.Możesz
							Wybierz między własnym unikalnym projektem lub za pomocą gotowego szablonu premium.Optymalizacja do
							wyszukiwania
							Uwzględniona jest również promocja silnika</div>
					</div>
					<div class="roll__coll roll__coll-3">
						<div class="roll__coll-label">03.</div>
						<div class="roll__coll-title">HTML & CSS</div>
						<div class="roll__coll-text">Czysty HTML/ CSS Rozwój, który gwarantuje wysokowydajny, unikalny
							Projektowanie, wysokie wskaźniki promocji wyszukiwarek strony internetowej.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="choose">
			<div class="container">
				<div class="choose__row rob">
					<div class="choose__col">
						<div class="choose__label">Dlaczego powinieneś nas wybrać ?</div>
						<div class="choose__vid">
							<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="choose__col">
						<div class="choose__title">Nasz zespół składa się z profesjonalnych programistów, projektantów i systemu
							Administratorzy, którzy opracują dla Ciebie stronę internetową w możliwie najkrótszym czasie, skonfiguruj
							strefy domen,
							hosting lub serwer VPS.</div>
						<div class="choose__body">
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
								</div>
								<div class="choose__tagline">TWÓRCZY</div>
								<div class="choose__text">Nasi eksperci doradzą Ci wszystkie problemy.Używamy kreatywnego podejścia
									Komunikowanie się z klientem i tym, czego potrzebuje .</div>
							</div>
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %>
								</div>
								<div class="choose__tagline">STANDARD</div>
								<div class="choose__text">Nasi specjaliści mają niezbędne kwalifikacje, aby spełnić Twoje zamówienie
									zgodnie z najwyższymi i najnowocześniejszymi standardami w IT.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="additional">
			<div class="container">
				<div class="additional__row rob">
					<div class="additional__label">DODATKOWE USŁUGI</div>
					<div class="additional__body">
						<div class="additional__el add__el-1">
							<div class="additional__pic">
								<%= image_tag(asset_path('mn-48.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">Badania online</div>
								<div class="additional__subtitle">Analityka konkurencyjnych stron internetowych w dziedzinie
									wyszukiwania SEO
									promocja zapytań.</div>
							</div>
						</div>
						<div class="additional__el add__el-2">
							<div class="additional__pic">
								<%= image_tag(asset_path('et-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">Branding logo</div>
								<div class="additional__subtitle">Projekt logo dla Twojej marki i strony internetowej.Oryginalne i
									unikalne
									rozwiązania.</div>
							</div>
						</div>
						<div class="additional__el add__el-3">
							<div class="additional__pic">
								<%= image_tag(asset_path('html-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">PROJEKTOWANIE STRON</div>
								<div class="additional__subtitle">Opracowanie unikalnego projektu lub połączenie gotowego szablonu dla
									Strona internetowa.</div>
							</div>
						</div>
						<div class="additional__el add__el-4">
							<div class="additional__pic">
								<%= image_tag(asset_path('st-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">SEO OPTYMALIZACJA</div>
								<div class="additional__subtitle">Optymalizacja strony internetowej.Promocja wyszukiwania
									zapytania.Kompilacja
									Semantyczny rdzeń.</div>
							</div>
						</div>
						<div class="additional__el add__el-5">
							<div class="additional__pic">
								<%= image_tag(asset_path('lp-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">ELASTYCZNY PROJEKT</div>
								<div class="additional__subtitle">Używamy projektowania adaptacyjnego podczas opracowywania stron
									internetowych i telefonu komórkowego
									Aplikacje.</div>
							</div>
						</div>
						<div class="additional__el add__el-6">
							<div class="additional__pic">
								<%= image_tag(asset_path('pc-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">FOTOGRAFIA</div>
								<div class="additional__subtitle">Prowadzimy sesje zdjęciowe dla pracowników i produktów
									prezentowanych
									Strona internetowa.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label">Czy jesteś pod wrażeniem naszego niesamowitego portfolio?</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Strona internetowa polskiej firmy elektrycznej</div>
							<div class="portfolio__text">Ten projekt został zbudowany na jednym z naszych szablonów
								frontendowych.Poważna praca ma
								zostały wykonane po optymalizacji SEO i konfiguracji funkcjonalności zaplecza.
							</div>
							<a href="#" class="portfolio__btn">Pogląd</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">CMR dla polskiej firmy elektrycznej</div>
							<div class="portfolio__text">Ten projekt został zbudowany na ramie Ruby on Rails.Aplikacja pomaga
								przedsiębiorcy w utrzymaniu kont.
							</div>
							<a href="#" class="portfolio__btn">Więcej</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Strona internetowa ukraińskiego szkółki dla zwierząt</div>
							<div class="portfolio__text">Ta strona została zbudowana na silniku WordPress przez nasz zespół.</div>
							<a href="#" class="portfolio__btn">Pogląd</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								SEO Optymalizacja strony internetowej firmy do sprzedaży części zamiennych i naprawy chłodzenia
								ekwipunek</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="#" class="portfolio__btn">Pogląd</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Strona internetowa na rynku herbaty w Anglii</div>
							<div class="portfolio__text">Witryna stworzona z unikalnego projektu w WordPress Engine.</div>
							<a href="#" class="portfolio__btn">Pogląd</a>
						</div>
					</div>
					<a href="portfolio.html" class="portfolio__butt">
						Więcej prac
					</a>
				</div>
			</div>
		</div>
		<div class="briefly">
			<div class="container">
				<div class="briefly__row">
					<div class="briefly__label">COŚ O NAS</div>
					<div class="briefly__box">
						<div class="briefly__pic">
							<%= image_tag(asset_path('banner1.webp')) %>
						</div>
						<div class="briefly__el-box">
							<div class="briefly__el">
								<div class="briefly__pic-1"></div>
								<div class="briefly__el-body">
									<div class="briefly__title">Unikalne projekty</div>
									<div class="briefly__text">Opracowujemy unikalny projekt dla stron internetowych i logo Twojej firmy.
									</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-2"></div>
								<div class="briefly__el-body">
									<div class="briefly__title">Standardowe badania</div>
									<div class="briefly__text">Prowadzimy analizy w zakresie rozwoju i promocji stron internetowych.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-3"></div>
								<div class="briefly__el-body">
									<div class="briefly__title">Cel projektu</div>
									<div class="briefly__text">Nowoczesny i wysokiej jakości produkt cyfrowy.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="always">
			<span class="always__bg"></span>
			<div class="container">
				<div class="always__row">
					<div class="always__label">Zawsze dostarczamy responsywne szablony stron internetowych</div>
					<div class="always__body">
						<div class="always__number">
							<div class="always__number-pic"></div>
							<div class="always__number-text">Zadzwoń do nas: +48795124042</div>
						</div>
						<a href="contact.html" class="always__btn wobble">Skontaktuj się z nami</a>
					</div>
				</div>
			</div>
		</div>
		<div class="news">
			<div class="container">
				<div class="news__row">
					<div class="news__label">Publikowanie naszych najnowszych wiadomości</div>
					<div class="news__el">
						<div class="news__pic">
							<a href="/blog?lang=pl" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<%= image_tag(asset_path('hosting.png')) %>
						</div>
						<div class="news__body">
							<div class="news__title"><a href="/blog?lang=pl">Host Services</a></div>
							<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
									class="news__span-pic-2"></span></div>
							<div class="news__text">Promo code for a 10% discount on hosting services When ordering Fozzy …</div>
						</div>
					</div>
					<div class="news__el">
						<div class="news__pic">
							<a href="/blog?lang=pl" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.webp')) %>
						</div>
						<div class="news__body">
							<div class="news__title"><a href="/blog?lang=pl">Ruby on Rails web applications</a></div>
							<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
									class="news__span-pic-2"></span></div>
							<div class="news__text">Why do we need web applications? Today, the Internet occupies a significant …
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	var strGET = window.location.search.replace('?', '');

	if (strGET != "") {
		if (window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
	};
</script>