<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов на CMS и RoR</title>
    <meta name="description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. 
	Настройка контекстной рекламы.">
	<meta property="og:title" content="Разработка веб-сайтов на CMS и RoR">
    <meta property="og:description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. 
	Настройка контекстной рекламы">
    <meta property="og:image" content="<%= (asset_path('cropped-icon2.png')) %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
<% end %>

<div class="wrapper">
	<main class="main">
		<div class="carousel" style="height: 750px;">
			<div class="slider">
				<div class="slider__item ops" style="height: 750px;">
					<span class="slider__item-bg1" style="max-height: 100%;"></span>
						<div class="slider__item-box" style="max-height: 100%;">
							<div class="slider__item-label"><h1>РАЗРАБОТКА ВЕБ-САЙТОВ<br> ЛЮБОЙ СЛОЖНОСТИ</h1></div>
							<div class="slider__item-sublabel">Мы быстро и эффективно реализуем Ваш веб-проект в виде веб-приложения
								на Ruby on Rails. Разработаем веб-сайт с уникальным дизайном или на готовом шаблоне самых популярных CMS
								- WordPress, Joomla, ModX или любой другой.</div>
							<a href="/services_ror?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
				</div>
				<div class="slider__item ops" style="height: 750px;">
					<span class="slider__item-bg2" style="max-height: 100%;"></span>
						<div class="slider__item-box" style="max-height: 100%;">
							<div class="slider__item-label"><h1>НАСТРОЙКА КОНТЕКСТНОЙ РЕКЛАМЫ</h1></div>
							<div class="slider__item-sublabel">Создадим и настроим рекламную компанию для Вашего бизнеса в контекстной
								рекламной сети Google Ads.</div>
							<a href="/services_seo?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
				</div>
				<div class="slider__item ops" style="height: 750px;">
					<span class="slider__item-bg3" style="max-height: 100%;"></span>
						<div class="slider__item-box" style="max-height: 100%;">
							<div class="slider__item-label"><h1>SEO ПРОДВИЖЕНИЕ САЙТОВ<br> В ТОП GOOGLE</h1></div>
							<div class="slider__item-sublabel">Проведем SEO аналитику конкурентов вашего сайта. Оптимизируем ваш сайт
								под поисковые системы. Модифицируем семантическое ядро под SEO. Выполним продвижение сайта в ТОП
								поисковых систем Яндекс и Google. Предоставим развернутые отчеты по аналитике и продвижению.</div>
							<a href="/services_seo?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
				</div>
			</div>
		</div>
		<div class="roll">
			<div class="container">
				<div class="roll__row">
					<div class="roll__coll roll__coll-1">
						<div class="roll__coll-title"><h2 align="center">Разработка веб-сайтов</h2></div>
						<div class="roll__coll-text">&nbsp;Одно из направлений работы нашей веб-студии — разработка веб-сайтов и
							веб-приложений. Быстро и качественно создадим для Вас сайт, интернет-магазин или портал. Наша студия
							разрабатывает как простые проэкты на чистом HTML/CSS или любых CMS, так и сложные, с применением
							фреймворка Ruby on Rails. Создадим уникальный дизайн для вашего веб-сайта.</div>
					</div>
					<div class="roll__coll roll__coll-2">
						<div class="roll__coll-title"><h2 align="center">SEO продвижение сайта</h2></div>
						<div class="roll__coll-text">&nbsp;Выполним SEO продвижение Вашего сайта в ТОП поисковых систем Яндекс и Google.
							Проведем аналитику по конкурентным сайтам, оптимизацию кода Вашего сайта под требования поисковых систем.
							Сформируем правильное семантическое ядро. Проведем рекламные компании для увеличения веса сайта и его
							видимости в поисковых системах.</div>
					</div>
					<div class="roll__coll roll__coll-3">
						<div class="roll__coll-title"><h2 align="center">Контекстная реклама</h2></div>
						<div class="roll__coll-text">&nbsp;Настраиваем и оптимизируем рекламные компании в сетях контекстной рекламы
							Яндекс Директ и Google Ads. Создадим и настроим Ваш рекламный аккаунт. Правильная настройка контекстной
							рекламы позволит быстро и экономически эффективно привлечь клиентов для ваших услуг, покупателей для ваших
							товаров и посетителей на ваш тематический сайт.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="choose">
			<div class="container">
				<div class="choose__row rob">
					<div class="choose__col">
						<div class="choose__label"><h2>Разработка и поддержка сайта</h2></div>
						<div class="choose__vid">
							<%= image_tag(asset_path('usl.webp'), alt: "разработка сайта") %>
						</div>
					</div>
					<div class="choose__col">
						<div class="choose__title">&nbsp;Наша команда состоит из профессиональных программистов, дизайнеров, системных
							администраторов, которые в кратчайшие сроки разработают для вас сайт, настроят доменные зоны, хостинг,
							VDS/VPS или Dedicated сервер.</div>
						<div class="choose__body">
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp'), alt: "разработка") %>
								</div>
								<div class="choose__tagline"><h3>Разработка</h3></div>
								<div class="choose__text">&nbsp;Разработка ведется на нашем хостинге, на техническом домене несколькими
									специалистами. Заказчик имеет возможность непосредственно наблюдать за процессом разработки веб-сайта.
								</div>
							</div>
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp'), alt: "поддержка") %>
								</div>
								<div class="choose__tagline"><h3>Поддержка</h3></div>
								<div class="choose__text">&nbsp;Оказываем услуги по последующей поддержке и сопровождению веб-сайта.
									Рекомендуем надежный быстродействующий хостинг. Установка или перенос сайта на хостинг клиента,
									настройка доменной зоны.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="additional">
			<div class="container">
				<div class="additional__row rob">
					<div class="additional__label"><h2>SEO ПРОДВИЖЕНИЕ САЙТА ПО ЭТАПАМ</h2></div>
					<div class="additional__body">
						<div class="additional__el add__el-1">
							<div class="additional__pic">
								<%= image_tag(asset_path('mn-48.webp'), alt: "сео аналитика") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO аналитика</h3></div>
								<div class="additional__subtitle">&nbsp;Аналитика сайтов-конкурентов по вашей тематике, на предмет SEO
									оптимизации.</div>
							</div>
						</div>
						<div class="additional__el add__el-2">
							<div class="additional__pic">
								<%= image_tag(asset_path('et-50.webp'), alt: "сайт на html/css") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Сайт на HTML5/CSS</h3></div>
								<div class="additional__subtitle">&nbsp;Разработка веб-сайта на чистом HTML/CSS. Одно из лучших решений для
									продвижения сайта в ТОП.</div>
							</div>
						</div>
						<div class="additional__el add__el-3">
							<div class="additional__pic">
								<%= image_tag(asset_path('html-50.webp'), alt: "оптимизация сайта") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Оптимизация сайта</h3></div>
								<div class="additional__subtitle">&nbsp;SEO оптимизаия веб-сайта под требования поисковых систем. Чек
									ошибок, быстродействия, семантики.</div>
							</div>
						</div>
						<div class="additional__el add__el-4">
							<div class="additional__pic">
								<%= image_tag(asset_path('st-50.webp'), alt: "СЕО изображений") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO изображений</h3></div>
								<div class="additional__subtitle">&nbsp;Уникализация и оптимизация изображений на сайте для продвижения в
									поисковых системах.</div>
							</div>
						</div>
						<div class="additional__el add__el-5">
							<div class="additional__pic">
								<%= image_tag(asset_path('lp-50.webp'), alt: "СЕО продвижение") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>SEO продвижение</h3></div>
								<div class="additional__subtitle">&nbsp;Поисковое продвижение веб-сайта. Рекламные компании на тематических
									ресурсах. Линкбилдинг.</div>
							</div>
						</div>
						<div class="additional__el add__el-6">
							<div class="additional__pic">
								<%= image_tag(asset_path('pc-50.webp'), alt: "отчеты") %>
							</div>
							<div class="additional__text">
								<div class="additional__title"><h3>Развернутые отчеты</h3></div>
								<div class="additional__subtitle">&nbsp;Предоставляем развернутые отчеты о проделанной и запланированной
									работе по продвижению сайта.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label"><h2>Портфолио</h2></div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp'), alt: "сайт электрика") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Веб-сайт польской электрической фирмы</h3></div>
							<div class="portfolio__text">Этот веб-сайт разработан на фреймворке Ruby on Rails, административная часть
								содержит CRM систему для ведения бизнеса (учет, бухгалтерия, кадры и т.п.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn" target="blank">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.webp'), alt: "CRM для электрической компании") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>CRM для польской электрической компании</h3></div>
							<div class="portfolio__text">Этот проект был написан на Ruby On Rails. Приложение помогает предпринимателю
								вести бухгалтерию.
							</div>
							<a href="/services_ror?lang=ru" class="portfolio__btn" target="blank">Подробнее</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp'), alt: "Веб-сайт питомника животных") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Веб-сайт украинского питомника животных</h3></div>
							<div class="portfolio__text">Этот сайт был создан нашей командой на CMS WordPress.</div>
							<a href="http://worldanimals.ml" class="portfolio__btn" target="blank">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.webp'), alt: "Веб-сайт чайной лавки") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Веб-сайт английской чайной лавки</h3></div>
							<div class="portfolio__text">Сайт разработан с уникальным дизайном на CMS WordPress.</div>
							<a href="http://greentea.cf" class="portfolio__btn" target="blank">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.webp'), alt: "Веб-сайт агрофирмы") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title"><h3>Веб-сайт украинской агрофирмы</h3></div>
							<div class="portfolio__text">Сайт разработан на чистом HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn" target="blank">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp'), alt: "сео сайта") %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								<h3>SEO продвижение сайта компании по продаже запчастей и ремонту промышленного холодильного оборудования</h3>
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="https://torosspb.ru" class="portfolio__btn" target="blank">Посмотреть</a>
						</div>
					</div>
					<a href="/portfolio?lang=ru" class="portfolio__butt">
						Больше наших работ
					</a>
				</div>
			</div>
		</div>
		<div class="briefly">
			<div class="container">
				<div class="briefly__row">
					<div class="briefly__label"><h2>НАСТРОЙКА КОНТЕКСТНОЙ РЕКЛАМЫ</h2></div>
					<div class="briefly__box ru">
						<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp'), alt: "контекстная реклама") %>
						</div>
						<div class="briefly__el-box">
							<div class="briefly__el">
								<div class="briefly__pic-1"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Аналитика</h3></div>
									<div class="briefly__text">Анализ профильных поисковых запросов на рекламной площадке.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-2"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Настройка</h3></div>
									<div class="briefly__text">Настройка и оптимизация рекламной компании в Google Ads.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-3"></div>
								<div class="briefly__el-body">
									<div class="briefly__title"><h3>Бюджет</h3></div>
									<div class="briefly__text">Расчет бюджета компании в контекстной рекламной сети. Оптимизация затрат
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="always__row">
					<div class="always__label text-center">Есть вопросы?</div>
					<div class="always__body">
						<div class="always__number">
							<div class="always__number-pic"></div>
							<div class="always__number-text">Свяжитесь с нами: +48795124042</div>
						</div>
						<a href="/contacts?lang=ru" class="always__btn wobble">Контакты</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	var strGET = window.location.search.replace('?', '');

	if (strGET != "") {
		if (window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
	};
</script>