<div class="wrapper">
	<main class="main">
		<div class="carousel">
			<div class="slider">
				<div class="slider__item ops">
					<span class="slider__item-bg1"></span>
					<%= image_tag(asset_path('Sl1.jpg'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label">РАЗРАБОТКА ВЕБ-САЙТОВ<br> ЛЮБОЙ СЛОЖНОСТИ</div>
							<div class="slider__item-sublabel">Мы быстро и эффективно реализуем Ваш веб-проект в виде веб-приложения
								на Ruby on Rails. Разработаем веб-сайт с уникальным дизайном или на готовом шаблоне самых популярных CMS
								- WordPress, Joomla, ModX или любой другой.</div>
							<a href="/about_us?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg2"></span>
					<%= image_tag(asset_path('Sl2.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label">НАСТРОЙКА КОНТЕКСТНОЙ РЕКЛАМЫ</div>
							<div class="slider__item-sublabel">Создадим и настроим рекламную компанию для Вашего бизнеса в контекстной
								рекламной сети Google Ads.</div>
							<a href="/about_us?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
				</div>
				<div class="slider__item ops">
					<span class="slider__item-bg3"></span>
					<%= image_tag(asset_path('Sl3.webp'), class: "slider__item-pic" ) %>
						<div class="slider__item-box">
							<div class="slider__item-label">SEO ПРОДВИЖЕНИЕ САЙТОВ<br> В ТОП GOOGLE</div>
							<div class="slider__item-sublabel">Проведем SEO аналитику конкурентов вашего сайта. Оптимизируем ваш сайт
								под поисковые системы. Модифицируем семантическое ядро под SEO. Выполним продвижение сайта в ТОП
								поисковых систем Яндекс и Google. Предоставим развернутые отчеты по аналитике и продвижению.</div>
							<a href="/contacts?lang=ru" class="slider__item-btn">Контакты</a>
						</div>
				</div>
			</div>
		</div>
		<div class="roll">
			<div class="container">
				<div class="roll__row">
					<div class="roll__coll roll__coll-1">
						<div class="roll__coll-label">01.</div>
						<div class="roll__coll-title">Разработка веб-сайтов</div>
						<div class="roll__coll-text">Одно из направлений работы нашей веб-студии — разработка веб-сайтов и
							веб-приложений. Быстро и качественно создадим для Вас сайт, интернет-магазин или портал. Наша студия
							разрабатывает как простые проэкты на чистом HTML/CSS или любых CMS, так и сложные, с применением
							фреймворка Ruby on Rails. Создадим уникальный дизайн для вашего веб-сайта.</div>
					</div>
					<div class="roll__coll roll__coll-2">
						<div class="roll__coll-label">02.</div>
						<div class="roll__coll-title">SEO продвижение</div>
						<div class="roll__coll-text">Выполним SEO продвижение Вашего сайта в ТОП поисковых систем Яндекс и Google.
							Проведем аналитику по конкурентным сайтам, оптимизацию кода Вашего сайта под требования поисковых систем.
							Сформируем правильное семантическое ядро. Проведем рекламные компании для увеличения веса сайта и его
							видимости в поисковых системах.</div>
					</div>
					<div class="roll__coll roll__coll-3">
						<div class="roll__coll-label">03.</div>
						<div class="roll__coll-title">Контекстная реклама</div>
						<div class="roll__coll-text">Настраиваем и оптимизируем рекламные компании в сетях контекстной рекламы
							Яндекс Директ и Google Ads. Создадим и настроим Ваш рекламный аккаунт. Правильная настройка контекстной
							рекламы позволит быстро и экономически эффективно привлечь клиентов для ваших услуг, покупателей для ваших
							товаров и посетителей на ваш тематический сайт.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="choose">
			<div class="container">
				<div class="choose__row rob">
					<div class="choose__col">
						<div class="choose__label">Разработка и поддержка сайта</div>
						<div class="choose__vid">
							<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="choose__col">
						<div class="choose__title">Наша команда состоит из профессиональных программистов, дизайнеров, системных
							администраторов, которые в кратчайшие сроки разработают для вас сайт, настроят доменные зоны, хостинг,
							VDS/VPS или Dedicated сервер.</div>
						<div class="choose__body">
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bu-50.webp')) %>
								</div>
								<div class="choose__tagline">Разработка</div>
								<div class="choose__text">Разработка ведется на нашем хостинге, на техническом домене несколькими
									специалистами. Заказчик имеет возможность непосредственно наблюдать за процессом разработки веб-сайта.
								</div>
							</div>
							<div class="choose__el">
								<div class="choose__pic">
									<%= image_tag(asset_path('bx-50.webp')) %>
								</div>
								<div class="choose__tagline">Поддержка</div>
								<div class="choose__text">Оказываем услуги по последующей поддержке и сопровождению веб-сайта.
									Рекомендуем надежный быстродействующий хостинг. Установка или перенос сайта на хостинг клиента,
									настройка доменной зоны.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="additional">
			<div class="container">
				<div class="additional__row rob">
					<div class="additional__label">SEO ПРОДВИЖЕНИЕ САЙТА ПО ЭТАПАМ</div>
					<div class="additional__body">
						<div class="additional__el add__el-1">
							<div class="additional__pic">
								<%= image_tag(asset_path('mn-48.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">SEO аналитика</div>
								<div class="additional__subtitle">Аналитика сайтов-конкурентов по вашей тематике, на предмет SEO
									оптимизации.</div>
							</div>
						</div>
						<div class="additional__el add__el-2">
							<div class="additional__pic">
								<%= image_tag(asset_path('et-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">Сайт на HTML5/CSS</div>
								<div class="additional__subtitle">Разработка веб-сайта на чистом HTML/CSS. Одно из лучших решений для
									продвижения сайта в ТОП.</div>
							</div>
						</div>
						<div class="additional__el add__el-3">
							<div class="additional__pic">
								<%= image_tag(asset_path('html-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">Оптимизация сайта</div>
								<div class="additional__subtitle">SEO оптимизаия веб-сайта под требования поисковых систем. Чек
									ошибок, быстродействия, семантики.</div>
							</div>
						</div>
						<div class="additional__el add__el-4">
							<div class="additional__pic">
								<%= image_tag(asset_path('st-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">SEO изображений</div>
								<div class="additional__subtitle">Уникализация и оптимизация изображений на сайте для продвижения в
									поисковых системах.</div>
							</div>
						</div>
						<div class="additional__el add__el-5">
							<div class="additional__pic">
								<%= image_tag(asset_path('lp-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">SEO продвижение</div>
								<div class="additional__subtitle">Поисковое продвижение веб-сайта. Рекламные компании на тематических
									ресурсах. Линкбилдинг.</div>
							</div>
						</div>
						<div class="additional__el add__el-6">
							<div class="additional__pic">
								<%= image_tag(asset_path('pc-50.webp')) %>
							</div>
							<div class="additional__text">
								<div class="additional__title">Развернутые отчеты</div>
								<div class="additional__subtitle">Предоставляем развернутые отчеты о проделанной и запланированной
									работе по продвижению сайта.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<span class="portfolio__bg"></span>
			<div class="container">
				<div class="portfolio__row">
					<div class="portfolio__label">Портфолио</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('usl.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Веб-сайт польской электрической фирмы</div>
							<div class="portfolio__text">Этот веб-сайт разработан на фреймворке Ruby on Rails, административная часть
								содержит CRM систему для ведения бизнеса (учет, бухгалтерия, кадры и т.п.)</div>
							<a href="https://profistylegroup.com" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">CMR для польской электрической компании</div>
							<div class="portfolio__text">Этот проект был написан на Ruby On Rails. Приложение помогает предпринимателю
								вести бухгалтерию.
							</div>
							<a href="#" class="portfolio__btn">Подробнее</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('an.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Веб-сайт украинского питомника животных</div>
							<div class="portfolio__text">Этот сайт был создан нашей командой на CMS WordPress.</div>
							<a href="#" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('tea.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Веб-сайт английской чайной лавки</div>
							<div class="portfolio__text">Сайт разработан с уникальным дизайном на CMS WordPress.</div>
							<a href="greentea.cf" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('agroseller.png')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">Веб-сайт украинской агрофирмы</div>
							<div class="portfolio__text">Сайт разработан на чистом HTML/CSS</div>
							<a href="http://agroseller.tk/" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<div class="portfolio__el">
						<div class="portfolio__pic">
							<%= image_tag(asset_path('toros.webp')) %>
						</div>
						<div class="portfolio__body">
							<div class="portfolio__title">
								SEO продвижение сайта компании по продаже запчастей и ремонту промышленного холодильного оборудования
							</div>
							<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
								TOP30 - 28 keys</div>
							<a href="torosspb.ru" class="portfolio__btn">Посмотреть</a>
						</div>
					</div>
					<a href="/portfolio?lang=ru" class="portfolio__butt">
						Больше наших работ
					</a>
				</div>
			</div>
		</div>
		<div class="briefly">
			<div class="container">
				<div class="briefly__row">
					<div class="briefly__label">НАСТРОЙКА КОНТЕКСТНОЙ РЕКЛАМЫ</div>
					<div class="briefly__box ru">
						<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp')) %>
						</div>
						<div class="briefly__el-box">
							<div class="briefly__el">
								<div class="briefly__pic-1"></div>
								<div class="briefly__el-body">
									<div class="briefly__title">Аналитика</div>
									<div class="briefly__text">Анализ профильных поисковых запросов на рекламной площадке.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-2"></div>
								<div class="briefly__el-body">
									<div class="briefly__title">Настройка</div>
									<div class="briefly__text">Настройка и оптимизация рекламной компании в Google Ads.</div>
								</div>
							</div>
							<div class="briefly__el">
								<div class="briefly__pic-3"></div>
								<div class="briefly__el-body">
									<div class="briefly__title">Бюджет</div>
									<div class="briefly__text">Расчет бюджета компании в контекстной рекламной сети. Оптимизация затрат
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="always">
			<span class="always__bg"></span>
			<div class="container">
				<div class="always__row">
					<div class="always__label text-center">Есть вопросы?</div>
					<div class="always__body">
						<div class="always__number">
							<div class="always__number-pic"></div>
							<div class="always__number-text">Свяжитесь с нами: +48795124042</div>
						</div>
						<a href="/contacts?lang=ru" class="always__btn wobble">Контакты</a>
					</div>
				</div>
			</div>
		</div>
		<div class="news">
			<div class="container">
				<div class="news__row">
					<div class="news__label">Новости</div>
					<div class="news__el">
						<div class="news__pic">
							<a href="/blog?lang=ru" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<%= image_tag(asset_path('hosting.png')) %>
						</div>
						<div class="news__body">
							<div class="news__title"><a href="/blog?lang=ru">Услуги выделенных серверов</a></div>
							<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
									class="news__span-pic-2"></span></div>
							<div class="news__text">Промо-код на 10% скидку при аренде сервера у хостера Fozzy …</div>
						</div>
					</div>
					<div class="news__el">
						<div class="news__pic">
							<a href="/blog?lang=en" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.webp')) %>
						</div>
						<div class="news__body">
							<div class="news__title"><a href="/blog?lang=ru">Ruby on Rails web applications</a></div>
							<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
									class="news__span-pic-2"></span></div>
							<div class="news__text">Зачем нам нужны веб-приложения? Сегодня Интернет занимает значительный ...
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	var strGET = window.location.search.replace('?', '');

	if (strGET != "") {
		if (window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
	};
</script>