	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
							<ul class="header__icon-list">
								<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
								<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
							</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
							<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=ru">Главная</a></li>
								<li><a href="/about_us?lang=ru">О нас</a></li>
								<li><a href="/services?lang=ru">Услуги</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=ru">RoR разработка</a>
										<a href="/services_cms?lang=ru">CMS разработка</a>
										<a href="/services_seo?lang=ru">SEO продвижение</a>
									</div>
								</li>
								<li><a href="/blog?lang=ru">Блог</a></li>
								<li><a href="/portfolio?lang=ru">Портфолио</a></li>
								<li><a href="/contacts?lang=ru">Контакты</a></li>
								<li><a href="/?lang=pl"><%= image_tag(asset_path('pl-24.webp')) %></a></li>
								<li><a href="/?lang=ru"><%= image_tag(asset_path('rus-24.webp')) %></a></li>
								<li><a href="/?lang=en"><%= image_tag(asset_path('eng-24.webp')) %></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic"><%= image_tag(asset_path('cropped-logo.webp')) %></div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=ru" class="jaw__link active">Главная</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=ru" class="jaw__link">О нас</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=ru" class="jaw__link">Услуги</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=ru" class="jaw__link">RoR разработка</a>
									<a href="/services_cms?lang=ru" class="jaw__link">CMS разработка</a>
									<a href="/services_seo?lang=ru" class="jaw__link">SEO продвижение</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=ru" class="jaw__link">Блог</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=ru" class="jaw__link">Портфолио</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=ru" class="jaw__link">Контакты</a>
							</div>
							<div class="jaw__el">
								<a href="/?lang=pl" class="jaw__link"><%= image_tag(asset_path('pl-24.webp')) %></a>
							</div>
							<div class="jaw__el">
								<a href="/?lang=ru" class="jaw__link"><%= image_tag(asset_path('rus-24.webp')) %></a>
							</div>
							<div class="jaw__el">
								<a href="/?lang=en" class="jaw__link"><%= image_tag(asset_path('eng-24.webp')) %></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel">
				<div class="slider">
					<div class="slider__item ops">
						<span class="slider__item-bg1"></span>
						<%= image_tag(asset_path('Sl1.jpg'), class: "slider__item-pic") %>
						<div class="slider__item-box">
							<div class="slider__item-label">Нужен быстрый и адаптивный сайт?</div>
							<div class="slider__item-sublabel">Мы используем самые современные технологии для разрабоки адаптивных и быстрых сайтов.</div>
							<a href="/about_us?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
					</div>
					<div class="slider__item ops">
						<span class="slider__item-bg2"></span>
						<%= image_tag(asset_path('Sl2.webp'), class: "slider__item-pic") %>
						<div class="slider__item-box">
							<div class="slider__item-label">Профессиональный <br> графический дизайн</div>
							<div class="slider__item-sublabel">Наша команда состоит из квалифицированных специалистов в областях веб-программирования, графического дизайна, вёрстки, SEO продвижения.</div>
							<a href="/about_us?lang=ru" class="slider__item-btn">Подробнее</a>
						</div>
					</div>
					<div class="slider__item ops">
						<span class="slider__item-bg3"></span>
						<%= image_tag(asset_path('Sl3.webp'), class: "slider__item-pic") %>
						<div class="slider__item-box">
							<div class="slider__item-label">Профессиональный веб-сайт быстро, по доступным ценам</div>
							<div class="slider__item-sublabel">В короткие сроки мы сможем создать для вас уникальный дизайн сайта, или предложим на выбор множество премиум-шаблонов.</div>
							<a href="/contacts?lang=ru" class="slider__item-btn">Контакты</a>
						</div>
					</div>
				</div>
			</div>
			<div class="roll">
				<div class="container">
					<div class="roll__row">
						<div class="roll__coll">
							<span class="roll__coll-wall1-1"></span>
							<span class="roll__coll-wall2"></span>
							<div class="roll__coll-body">
								<div class="roll__coll-label">01.</div>
								<div class="roll__coll-title">WORDPRESS CMS</div>
								<div class="roll__coll-text">Наши специалисты быстро создадут и настроят для вас сайт на движке WordPress</div>
							</div>
						</div>
						<div class="roll__coll">
							<span class="roll__coll-wall1-2"></span>
							<span class="roll__coll-wall2"></span>
							<div class="roll__coll-body">
								<div class="roll__coll-label">02.</div>
								<div class="roll__coll-title">JOOMLA CMS</div>
								<div class="roll__coll-text">Под ключ сделаем и настроим веб-сайт на движке joomla</div>
							</div>
						</div>
						<div class="roll__coll">
							<span class="roll__coll-wall1-3"></span>
							<span class="roll__coll-wall2"></span>
							<div class="roll__coll-body">
								<div class="roll__coll-label">03.</div>
								<div class="roll__coll-title">HTML & CSS</div>
								<div class="roll__coll-text">Разработаем для вас уникальный дизайн, и реализуем его без использования сторонних движков, это гарантирует феноменальное быстродействие и оптимизацию. Лучший выбор для коммерческих проектов..</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="choose">
				<div class="container">
					<div class="choose__row rob">
						<div class="choose__col">
							<div class="choose__label">Почему выбирают нас?</div>
							<div class="choose__vid">
								<iframe class="choose__vid-frame" src="https://www.youtube.com/embed/NM2rx3dJbvc?controls=0"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="choose__col">
							<div class="choose__title">Наша команда - спецаилисты не один год работающие с большим стеком современных технологий.</div>
							<div class="choose__body">
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bu-50.webp')) %></div>
									<div class="choose__tagline">Креативность</div>
									<div class="choose__text">Мы в состоянии решить любую проблему, и помочь вам с любым вопросом. К каждому клиенту индивидульный подход.</div>
								</div>
								<div class="choose__el">
									<div class="choose__pic"><%= image_tag(asset_path('bx-50.webp')) %></div>
									<div class="choose__tagline">Стандарты</div>
									<div class="choose__text">Наши специалисты, несмотря на свою креативность, всегда придерживаются основных стандартов, это обеспечивает расширяемость наших продуктов.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="additional">
				<div class="container">
					<div class="additional__row rob">
						<div class="additional__label">Дополнительные услуги</div>
						<div class="additional__body">
							<div class="additional__el ru">
								<span class="additional__el-wall1-1"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('mn-48.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Онлайн аналитика</div>
										<div class="additional__subtitle">Планируете купить коммерческий веб-сайт? Мы проведём аналитику конкуренции, и создатим план продвижения.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-2"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('et-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Дизайн логотипов</div>
										<div class="additional__subtitle">Для ваших сайтов и брендов, наши дизайнеры могут создать уникальный и креативный логотип.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-3"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('html-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Веб-дизайн</div>
										<div class="additional__subtitle">Разработка уникального дизайна, с последующей вёрсткой и доведением продукта до финиша.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-4"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('st-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">SEO оптимизация</div>
										<div class="additional__subtitle">Ваш сайт не видно в поиске? Наши SEO специалисты гарантированно выведут вас в TOP-10.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-5"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('lp-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Адаптивный дизайн</div>
										<div class="additional__subtitle">Наши продукты хорошо адаптированны под любые устройства.</div>
									</div>
								</div>
							</div>
							<div class="additional__el ru">
								<span class="additional__el-wall1-6"></span>
								<span class="additional__el-wall2"></span>
								<div class="additional__el-body">
									<div class="additional__pic"><%= image_tag(asset_path('pc-50.webp')) %></div>
									<div class="additional__text">
										<div class="additional__title">Фотография</div>
										<div class="additional__subtitle">Создадим медиа-базу ваших продуктов, или уникализируем фото.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio">
				<span class="portfolio__bg"></span>
				<div class="container">
					<div class="portfolio__row">
						<div class="portfolio__label">Ознакомитесь с нашим портфолио?</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('usl.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Вебсайт польской электрической фирмы</div>
								<div class="portfolio__text">Визуальная часть проекта была выполнена при помощи премиум-шаблона, так же была разработана программа для удобного ведения бизнес-бухгалтерии.
								</div>
								<a href="#" class="portfolio__btn">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
							<%= image_tag(asset_path('cmr.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">CMR для польской электрической компании</div>
								<div class="portfolio__text">Этот проект был написан на Ruby On Rails. Приложение помогает предпринимателю вести бухгалтерию.
								</div>
								<a href="#" class="portfolio__btn">Подробнее</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('an.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Сайт питомника</div>
								<div class="portfolio__text">На движке WordPress наш специалист настроил сайт всего за один день.</div>
								<a href="#" class="portfolio__btn">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('toros.webp')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">
									SEO оптимизация веб-сайта компании, продающей запчасти к промышленному холодильному оборудованию.</div>
								<div class="portfolio__text">Google TOP1 - 17 keys, TOP3 - 21 keys, TOP5 - 24 keys, TOP10 - 25 keys,
									TOP30 - 28 keys</div>
								<a href="#" class="portfolio__btn">Посмотреть</a>
							</div>
						</div>
						<div class="portfolio__el">
							<div class="portfolio__pic">
								<%= image_tag(asset_path('tea.png')) %>
							</div>
							<div class="portfolio__body">
								<div class="portfolio__title">Сайт чайной лавки</div>
								<div class="portfolio__text">Один из наших премиум-шаблонов для движка WordPress.</div>
								<a href="#" class="portfolio__btn">Посмотреть</a>
							</div>
						</div>
						<a href="/portfolio?lang=ru" class="portfolio__butt">
							Больше наших работ
						</a>
					</div>
				</div>
			</div>
			<div class="briefly">
				<div class="container">
					<div class="briefly__row">
						<div class="briefly__label">Хотите узнать о нас ещё больше?</div>
						<div class="briefly__box ru">
							<div class="briefly__pic ru">
							<%= image_tag(asset_path('banner1.webp')) %>
							</div>
							<div class="briefly__el-box">
								<div class="briefly__el">
									<div class="briefly__pic-1"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Техническое сопровождение</div>
										<div class="briefly__text">Наши клиенты имеют хорошие скидки на расширение/сопровождение продуктов которые мы разработали.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-2"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Мы всегда на связи</div>
										<div class="briefly__text">Пишите и звоните нам в рабочее время, мы с удовольствием проконсультируем вас по любому вопросу.</div>
									</div>
								</div>
								<div class="briefly__el">
									<div class="briefly__pic-3"></div>
									<div class="briefly__el-body">
										<div class="briefly__title">Цель проекта</div>
										<div class="briefly__text">Создание уникальных и высококачественных цифровых продуктов.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="always">
				<span class="always__bg"></span>
				<div class="container">
					<div class="always__row">
						<div class="always__label">Вы заинтересованы?</div>
						<div class="always__body">
							<div class="always__number">
								<div class="always__number-pic"></div>
								<div class="always__number-text">Позвоните нам: +48795124042</div>
							</div>
							<a href="/contacts?lang=ru" class="always__btn wobble">Контакты</a>
						</div>
					</div>
				</div>
			</div>
			<div class="news">
				<div class="container">
					<div class="news__row">
						<div class="news__label">Новости</div>
						<div class="news__el">
							<div class="news__pic">
								<a href="/blog?lang=ru" class="news__pic-bg1"></a>
								<span class="news__pic-bg2"></span>
								<%= image_tag(asset_path('hosting.png')) %>
							</div>
							<div class="news__body">
								<div class="news__title"><a href="/blog?lang=ru">Услуги выделенных серверов</a></div>
								<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
										class="news__span-pic-2"></span></div>
								<div class="news__text">Промо-код на 10% скидку при аренде сервера у хостера Fozzy …</div>
							</div>
						</div>
						<div class="news__el">
							<div class="news__pic">
								<a href="/blog?lang=en" class="news__pic-bg1"></a>
								<span class="news__pic-bg2"></span>
								<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.webp')) %>
							</div>
							<div class="news__body">
								<div class="news__title"><a href="/blog?lang=ru">Ruby on Rails web applications</a></div>
								<div class="news__subtitle"><a href=""><span class="news__span-pic"></span></a><span
										class="news__span-pic-2"></span></div>
								<div class="news__text">Зачем нам нужны веб-приложения? Сегодня Интернет занимает значительный ...
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Позвоните нам</div>
							<div class="footer__subtitle">Наши специалисты ответят на все ваши вопросы</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Рабочее время</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									ПН: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ВТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СР: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ЧТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ПТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СБ - ВС: Выходной
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Консультационный центр</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Доменные имена</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Хостинги</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS хостинги</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Выделенные сервера</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны Joomla</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны WordPress</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Фото</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138"><%= image_tag(asset_path('fozzy_button.webp')) %></a>
					</div>
					<div class="footer__post">Created by <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>