	<% content_for :head do %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Web developer blog page</title>
    <meta name="description" content="Our web development blog.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
<% end %>
	
	<div class="wrapper">
		<main class="main" style="margin-top: 100px;">
			<div class="blog">
			<div class="blog__el-label"><h1 class="text-center">Our last news</h1></div>
				<div class="container">
					<% @posts.each do |post| %>
					  <% if check_valid_post_for_lang(post.text_en, post.post_intro, post.name_en, post.metatitle_en, post.metadescription_en) %>
					  <div class="news__el" style="padding-top: 1%; padding-bottom: 1%; padding-left: 17%; padding-right: 15%;">
						<div class="news__pic">
							<a href="<%= "/blog/post/#{post.id}?lang=en" %>" class="news__pic-bg1"></a>
							<span class="news__pic-bg2"></span>
							<img src="<%= "#{post.post_intro.url}" %>" alt="">
						</div>
						<div class="news__body">
							<div class="news__title"><a href="<%= "/blog/post/#{post.id}?lang=en" %>"><%= post.name_en %></a></div>
							<div class="news__subtitle"><a href="<%= "/blog/post/#{post.id}?lang=en" %>"><span class="news__span-pic"></span> admin</a> •<span
									class="news__span-pic-2"></span><%= post.created_at %></div>
							<% if post.text_en.index("</h2>") %>
								<div class="news__text"><%= sanitize post.text_en[0..post.text_en.index("</h2>")+1]+"…" %></div>
							<% elsif post.text_en.index("</h3>") %>
								<div class="news__text"><%= sanitize post.text_en[0..post.text_en.index("</h3>")+1]+"…" %></div>
							<% else %>
								<div class="news__text"><%= sanitize post.text_en[0..post.text_en.index("</p>")+1]+"…" %></div>
							<% end %>
					    </div>
					  </div>
					  <% end %>
					<% end %>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
