	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
							<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=pl">Glovna</a></li>
								<li><a href="/about_us?lang=pl">O nas</a></li>
								<li><a href="/services?lang=pl">Usługi</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="">RoR rozwój</a>
										<a href="">CMS rozwój</a>
										<a href="">SEO awans</a>
									</div>
								</li>
								<li><a href="/blog?lang=pl">Blog</a></li>
								<li><a href="/portfolio?lang=pl">Teczka</a></li>
								<li><a href="/contacts?lang=pl">Skontaktuj się z nami</a></li>
								<li><a href="/blog?lang=pl">
								<%= image_tag(asset_path('pl-24.png')) %>
								</a></li>
								<li><a href="/blog?lang=ru">
								<%= image_tag(asset_path('rus-24.png')) %>
								</a></li>
								<li><a href="/blog?lang=en">
								<%= image_tag(asset_path('eng-24.png')) %>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=pl" class="jaw__link">Glovna</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=pl" class="jaw__link">O nas</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=pl" class="jaw__link">Usługi</a>
								<span></span>
								<div class="jaw__poster">
									<a href="" class="jaw__link">RoR rozwój</a>
									<a href="" class="jaw__link">CMS rozwój</a>
									<a href="" class="jaw__link">SEO awans</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=pl" class="jaw__link active">Blog</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=pl" class="jaw__link">Teczka</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=pl" class="jaw__link">Skontaktuj się z nami</a>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=en">Glovna</a> &#187; Blog
						</div>
					</div>
				</div>
			</div>
			<div class="blog">
				<div class="container">
					<div class="blog__row">
						<div class="blog__label"></div>
						<div class="blog__el">
							<a href="blogPostHost.html" class="blog__el-label">Usługi hosta</a>
							<div class="blog__el-pic">
								<a href="blogPostHost.html" class="blog__el-pic-bg"></a>
								<a href="blogPostHost.html">
								<%= image_tag(asset_path('hosting.png')) %>
								</a>
							</div>
							<div class="blog__body">
								<div class="blog__el-content">
									<div class="blog__el-title">Kod promocyjny dla 10% zniżki na usługi hostingowe</div>
									<div class="blog__el-text">Podczas zamawiania <a href="https://accounts.fozzy.com/aff.php?aff=18138">Fozzy</a> hosting services, use this promo code —
										PROFISTYLE i uzyskaj 10% zniżki.</div>

									<div class="blog__el-title">Niezawodny hosting</div>
									<div class="blog__el-text">Fozzy zapewnia ochronę przed nieautoryzowanym dostępem do hostingu..
Obfitość centrów danych na całym świecie nie pozwoli Twojej witrynie „zderzyć się” na minutę.
Centra danych są chronione nie tylko na poziomowym sprzęcie i oprogramowaniu, ale także fizycznie.
Dane klienta Fozzy są bezpiecznie chronione pod względem bezpieczeństwa informacji.We wszystkich centrach danych
Ważne certyfikaty ISO 27001: 2013 i PCI DSS.</div>

									<div class="blog__el-title">Potężny hosting dla WordPress, Joomla, Modx, Drupal, Bitrix.</div>
									<div class="blog__el-text">Jako twórcy stron internetowych możemy zapewnić, że witryny w WordPress i innych CMS
Silniki są dość wymagające zasobów, a ich lokalizacja na niewystarczająco potężnym hostingu prowadzi do
długi ładunek i
W rezultacie obniża witrynę w wynikach wyszukiwania
systemy.W przypadku takich projektów zalecamy korzystanie z potężnych serwerów.
Fozzy zapewnia szeroką gamę rozwiązań, w tym gotowe plany dla silnika strony internetowej i nasz
Specjaliści są zawsze gotowi doradzić w zakresie wyboru zdolności hostingowej.</div>

									<div class="blog__el-title">Twój osobisty VPS</div>
									<div class="blog__el-text">Fozzy zapewnia możliwość wynajęcia osobistego serwera VPS.VPS - to jest
Twój osobisty komputer serwerowy, w którym możesz hostować wszystko.Zwróć uwagę na zestaw
gotowe rozwiązania do twoich zadań.Istnieje BitrixVM (specjalnie skonfigurowany serwer dla 1C-bitrix
Produkty), Windows VPS (zdalny pulpit oparty na systemie Windows Server), VPS Forex (Windows VPS z zestawem
programów do nieprzerwanego handlu Forex), Linux Server (zarówno czysty, jak i już skonfigurowany).</div>

									<div class="blog__el-title">Sprzedawaj produkty online</div>
									<div class="blog__el-text">Kultura konsumpcji od dawna powstała w społeczeństwie światowym.
Miliony produktów są kupowane każdego dnia.W XXI wieku wszystko zaczyna się przechodzić
«Online», więc właściciele sklepów internetowych mają maksymalne perspektywy rozwoju.Nasz zespół specjalistów
może stworzyć gotowy sklep internetowy dla Ciebie, a także poradzić sobie z promocją IT.</div>

									<div class="blog__el-title">Wygodny konstruktor stron internetowych</div>
									<div class="blog__el-text">Jeśli chcesz nauczyć się umiejętności tworzenia stron internetowych, możesz spróbować
Utwórz samodzielną stronę internetową za pomocą bezpłatnego konstruktora witryn Fozzy.</div>

									<div class="blog__el-title">Uruchom swój sklep internetowy za kilka dni!</div>
									<div class="blog__el-text">Fozzy zapewnia gotowy sklep internetowy na OpenCart, możesz zacząć
Praca za kilka dni nasi specjaliści mogą ci pomóc
lądowanie sklepu na temat hostingu, konfigurowanie go i promowanie.</div>

									<div class="blog__el-title">Czy Twój hosting jest często niedostępny?</div>
									<div class="blog__el-text">Na rynku jest wielu hosterów, ale tylko nieliczni było w stanie
Udowodnij swoją niezawodność.Nasze studio stało się również ofiarą niewiarygodnym dostawcą hostingu, więc my
my sami wiedzą, jak dobrze
Wtedy praca nie zatrzymuje się z naszej winy.Wybierając Fozzy, wybierasz niezawodny
partner, którym od dawna ufał tak giganty
Popularne portale internetowe.</div>

									<div class="blog__el-title">Czy masz wątpliwości co do wyboru usługi hostingowej?</div>
									<div class="blog__el-text">Nasze studio korzysta z usług Fozzy i jesteśmy pewni, że
Nasze zasoby będą zawsze dostępne.Fozzy Centra danych mają
Tier III (czas Uptime 99,982%) i poziom IV (czas Uptime 99,995%) wydane przez Uptime Institute
i certyfikowane przez SSAE 16 SOC 2,
Typ II.Nasi eksperci mogą pomóc w wyborze i konfiguracji
hosting.Skontaktuj się z nami w celu uzyskania jakiejkolwiek porady!</div>

									<div class="blog__el-title">Tech.Czy wsparcie hostingowe nie reaguje przez długi czas?</div>
									<div class="blog__el-text">Wiemy o złych usługach, więc dla naszych klientów zalecamy tylko hosting
Że osobiście zweryfikowaliśmy, Fozzy jest jednym z nich.
Wsparcie techniczne jest zawsze w kontakcie, a na każde pytanie jest odpowiedzią
w ciągu godziny.Dlatego w przypadku trudności możesz mieć pewność, że ci pomogą.</div>
								</div>
							</div>
						</div>
						<div class="blog__el">
							<a href="blogPostRuby.html" class="blog__el-label">Ruby on Rails Aplikacje internetowe</a>
							<div class="blog__el-pic">
								<a href="blogPostRuby.html" class="blog__el-pic-bg"></a>
								<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.png')) %>
							</div>
							<div class="blog__body">
								<div class="blog__el-content">
									<div class="blog__el-title">Dlaczego potrzebujemy aplikacji internetowych?</div>
									<div class="blog__el-text">Dziś Internet zajmuje znaczącą niszę w życiu każdego
osoba.Ludzie kupują, sprzedają, komunikują, relaksują się i rozwijają za pomocą Internetu.Biorąc to pod uwagę dzisiaj
Każdy ma w kieszeni smartfon, wszelkie aplikacje, w tym aplikacje internetowe na podstawie
Ruby on Rails stały się bardziej odpowiednie niż kiedykolwiek.Co może być wygodniejsze niż społeczne
Sieć czy usługa dostawy bezpośrednio na ekranie smartfona?A poza tym nie w przeglądarce, ale
jako niezależna aplikacja.</div>

									<div class="blog__el-title">Różnorodne narzędzia programistyczne</div>
									<div class="blog__el-text">Wraz z popularyzacją aplikacji internetowych pojawiła się różnorodne rozwój
Narzędzia, dziś programista ma tysiące narzędzi do pracy z czymkolwiek, od edycji zdjęć po
Pisanie kodu.Wśród programistów często pojawiają się spory o tym, które narzędzia są lepsze, bardziej wydajne.
Wielu profesjonalistów wybiera Ruby w rozwój Rails ze względu na jego prostotę i wydajność.jakiś
Doświadczony programista wie, że każde narzędzie ma własną wyraźną funkcję, nie będziesz prowadzić paznokci z
śrubokręt, czy ty?</div>

									<div class="blog__el-title">Dlaczego nasi eksperci pracują z Ruby na szynach?</div>
									<div class="blog__el-text">Ruby on Rails jest rodzajem multitoolla programisty, to narzędzie pochłonęło
Wszystkiego najlepszego z innych narzędzi programistycznych.ROR pozwala na zwiększenie funkcjonalności
Zastosowanie w ciągu kilku minut bez nabywania tak zwanych „kul”.Rozwijanie się z Ruby
na szynach jest wygodne i dlatego szybkie.Wszyscy rozumiemy, że po jakości główny czynnik
Rozwój to szybkość.Z Ruby na szynach, programista może pisać wydajnie i szybko pisać.</div>

									<div class="blog__el-title">Proces tworzenia aplikacji internetowej za pomocą Ruby on Rails</div>
									<div class="blog__el-text">Przede wszystkim specjalista musi przestudiować obszar tematyczny.Dlaczego on
Tworzenie aplikacji?Po deweloperie, podobnie jak malarz portretowy, tworzy układ aplikacji,
Musi nakreślić główne funkcjonalne części aplikacji.Jeśli weźmiemy pod uwagę widok modelu
Model kontrolera, a następnie zwykle wśród nich są podmioty aplikacyjne, ich kontrolery i co
Użytkownik widzi - widoki.Następnie następnym krokiem jest napisanie, debugowanie kodu programu i Ruby on Rails
Aplikacja internetowa jest gotowa.Doświadczony programista wie, że im więcej czasu poświęca na projekt,
mniej złożoność pojawi się podczas fazy wdrażania aplikacji.</div>

									<div class="blog__el-title">Czy jesteś właścicielem wielkiej firmy i nadal nie masz swojej aplikacji?</div>
									<div class="blog__el-text">Potem dotarłeś we właściwe miejsce, nasi specjaliści mogą opracować
Aplikacja na Ruby na szynach dla każdego smaku, niezależnie od tego, czy jest to prosta aplikacja zapasów, czy
Cały sklep internetowy.Będziesz mógł śledzić etapy rozwoju, aby upewnić się, że aplikacja
jest niezawodny.Najważniejsze do zapamiętania jest to, że z ekonomicznego punktu widzenia jest aplikacja internetowa
Właściwa inwestycja, ponieważ w przyszłości przyniesie lub zwiększy twoje dochody.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Zadzwoń do nas</div>
							<div class="footer__subtitle">Nasi specjaliści odpowiedzą na wszystkie pytania</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Godziny pracy</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									Mon: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Tue: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Wed: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Thu: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Fri: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									Sat - Sun: Off
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Centrum porad</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Domain name</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS hosting</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Dedicated server</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Szablony WordPress</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Szablony Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Zdjęcia</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138">
						<%= image_tag(asset_path('fozzy_button.webp')) %>
						</a>
					</div>
					<div class="footer__post">Stworzone przez <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>