	<div class="wrapper">
		<header class="header" id="header">
			<div class="container">
				<div class="header__row ops">
					<div class="header__rank">
						<div class="header__body">
						<ul class="header__icon-list">
							<li class="header__icon-el"><%= image_tag(asset_path('fb-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('tw-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('ut-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('in-24.webp')) %></li>
							<li class="header__icon-el"><%= image_tag(asset_path('vk-24.webp')) %></li>
						</ul>
							<ul class="header__text-list">
								<li class="header__icon-box">
									<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48795124042" class="header__icon-link">+48795124042</a>
									</div>
								</li>
								<li class="header__icon-box">
								<%= image_tag(asset_path('ph-24.webp')) %>
									<div class="header__icon-text"><a href="tel:+48796128406" class="header__icon-link">+48796128406</a>
									</div>
								</li>
								<li class="header__icon-box">
									<%= image_tag(asset_path('en-24.webp')) %>
									<div class="header__icon-text"><a href="mailto:biuro@profistyle.group"
											class="header__icon-link">biuro@profistyle.group</a></div>
								</li>
							</ul>
						</div>
						<div class="header__logo">
							<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="menu-btn ">
							<span></span>
						</div>
					</div>
					<div class="menu">
						<nav class="nav mon">
							<ul>
								<li><a href="/?lang=ru">Главная</a></li>
								<li><a href="/about_us?lang=ru">О нас</a></li>
								<li><a href="/services?lang=ru">Услуги</a>
									<button class="collapsible"></button>
									<div class="collapsible-content">
										<a href="/services_ror?lang=ru">RoR разработка</a>
										<a href="/services_cms?lang=ru">CMS разработка</a>
										<a href="/services_seo?lang=ru">SEO продвижение</a>
									</div>
								</li>
								<li><a href="/blog?lang=ru">Блог</a></li>
								<li><a href="/portfolio?lang=ru">Портфолио</a></li>
								<li><a href="/contacts?lang=ru">Контакты</a></li>
								<li><a href="/blog?lang=pl">
								<%= image_tag(asset_path('pl-24.png')) %>
								</a></li>
								<li><a href="/blog?lang=ru">
								<%= image_tag(asset_path('rus-24.png')) %>
								</a></li>
								<li><a href="/blog?lang=en">
								<%= image_tag(asset_path('eng-24.png')) %>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="jaw bg">
				<div class="container">
					<div class="jaw__row mon">
						<div class="jaw__pic">
						<%= image_tag(asset_path('cropped-logo.webp')) %>
						</div>
						<div class="jaw__list">
							<div class="jaw__el">
								<a href="/?lang=ru" class="jaw__link">Главная</a>
							</div>
							<div class="jaw__el">
								<a href="/about_us?lang=ru" class="jaw__link">О нас</a>
							</div>
							<div class="jaw__el">
								<a href="/services?lang=ru" class="jaw__link">Услуги</a>
								<span></span>
								<div class="jaw__poster">
									<a href="/services_ror?lang=ru" class="jaw__link">RoR разработка</a>
									<a href="/services_cms?lang=ru" class="jaw__link">CMS разработка</a>
									<a href="/services_seo?lang=ru" class="jaw__link">SEO продвижение</a>
								</div>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=ru" class="jaw__link active">Блог</a>
							</div>
							<div class="jaw__el">
								<a href="/portfolio?lang=ru" class="jaw__link">Портфолио</a>
							</div>
							<div class="jaw__el">
								<a href="/contacts?lang=ru" class="jaw__link">Контакты</a>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=pl" class="jaw__link">
								<%= image_tag(asset_path('pl-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=ru" class="jaw__link">
								<%= image_tag(asset_path('rus-24.webp')) %>
								</a>
							</div>
							<div class="jaw__el">
								<a href="/blog?lang=en" class="jaw__link">
								<%= image_tag(asset_path('eng-24.webp')) %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Блог
						</div>
					</div>
				</div>
			</div>
			<div class="blog">
				<div class="container">
					<div class="blog__row">
						<div class="blog__label"></div>
						<div class="blog__el">
							<a href="" class="blog__el-label">Услуги по предоставлению хостинга</a>
							<div class="blog__el-pic">
								<a href="" class="blog__el-pic-bg"></a>
								<a href="">
								<%= image_tag(asset_path('hosting.png')) %>
								</a>
							</div>
							<div class="blog__body">
								<div class="blog__el-content">
									<div class="blog__el-title">Промо-код для 10% скидки на услуги хостинга</div>
									<div class="blog__el-text">При заказе хостинга от <a href="https://accounts.fozzy.com/aff.php?aff=18138">Fozzy</a>, используйте промокод PROFISTYLE и получите скидку 10%.</div>

									<div class="blog__el-title">Хостинг с надежной защитой</div>
									<div class="blog__el-text">Fozzy предоставляет защиту от несанкционированного доступа к вашему
хостингу. Обилие дата центров по всему миру не позволит вашему сайту
«упасть» ни на минуту. Дата-центры защищены не только на уровне
аппаратного и программного обеспечения, но и физически. Данные клиентов
Fozzy надежно защищены с точки зрения информационной безопасности. У
всех дата-центров есть действующие сертификаты ISO 27001:2013 и PCI DSS..</div>

									<div class="blog__el-title">Мощный хостинг для WordPress, Joomla, ModX, Drupal, Bitrix.</div>
									<div class="blog__el-text">Как специалисты в области веб-разработки можем вас заверить, что
сайты «на WordPress» и других движках сайтов достаточно ресурсозатратны, и их расположение на недостаточно мощных хостингах приводит к долгой загрузке и,
как следствие, понижает ваш сайт в выдаче поиковых
систем. Для таких проектов мы рекомендуем использовать мощные сервера.
Fozzy представляет широкий выбор решений включая готовые планы для вашего движка сайтов, а наши специалисты всгда
готовы проконсультировать вас по вопросам выбора мощности..</div>

									<div class="blog__el-title">Ваш личный VPS</div>
									<div class="blog__el-text">Fozzy предоставляет возможность аренды личного VPS сервера. VPS —
это ваша личная серверная машина, на которой вы можете размещать все что
вам угодно. Обратите ваше внимание на набор готовых решений под ваши задачи. Это BitrixVM (специально настроеный сервер для работы продуктов 1C-Bitrix), Windows VPS (удаленный рабочий стол на базе Windows Server), Forex VPS (Windows VPS с набором программ для бесперебойной торговли на бирже Forex), Linux server (как чистый, так и уже настроенный).</div>

									<div class="blog__el-title">Продавайте товары онлайн</div>
									<div class="blog__el-text">Культура потребления уже давно устоялась в мировом обществе, люди
каждый день покупают миллионы товаров. В 21 веке все начинает переходить
«в онлайн», следовательно владельцы интернет магазинов имеют
максимальные перспективы развития. Команда наших специалистов может с
нуля создать для вас готовый интернет магазин, а так же заниматься его
продвижением.</div>

									<div class="blog__el-title">Удобный конструктор для создания сайтов</div>
									<div class="blog__el-text">Если вы хотите получить навыки в веб разработке, вы можете попробовать
своими силами создать веб сайт средствами бесплатного конструктора
сайтов от Fozzy.</div>

									<div class="blog__el-title">Запустите свой интернет магазин в теченни пары дней!</div>
									<div class="blog__el-text">Fozzy предоставляет готовый интернет магазин на Opencart, вы сможете начать
работу уже через несколько дней, наши специалисты могут помочь вам с
посадкой магазина на хостинг, его настройкой и продвижением.</div>

									<div class="blog__el-title">Ваш хостинг часто недоступен?</div>
									<div class="blog__el-text">На рынке достаточно много хостеров, но лишь немногие смогли
доказать свою надежность. Наша студия тоже стала жертвой
неблагонадежного хостинг-провайдера, поэтому мы сами прекрасно знаем как
это, когда работа стоит не по нашей вине. Выбирая Fozzy вы выбираете
надежного партнера, которому уже давно доверяет даже такой гигант как
инвестиционная биржа Forex, и многие другие популярные интернет-порталы.</div>

									<div class="blog__el-title">Сомневаетесь в выборе хостинга?</div>
									<div class="blog__el-text">Наша студия пользуется услугами Fozzy, и мы уверены что
наши ресурсы обязательно будут доступны всегда. У дата-центров Fozzy есть
сертификаты стандартов Tier III (uptime 99,982%) и Tier IV (uptime
99.995%), выданные Uptime Institute, а также сертификат SSAE 16 SOC 2,
Type II. Наши специалисты могут помочь вам в выборе, и настройке
хостинга, свяжитесь с нами! </div>

									<div class="blog__el-title">Тех. поддержка вашего хостинга подолгу не отвечает?</div>
									<div class="blog__el-text">Мы знаем что такое плохое обслуживание, поэтому своим клиентам
рекомендуем только проверенные лично нами хостинги, Fozzy один из таких.
Техническая поддержка всегда на связи, а на любой тикет отвечают в
течении часа. Поэтому в случае возниковение трудностей, вы можете быть
уверенны что вам помогут.</div>
								</div>
							</div>
						</div>
						<div class="blog__el">
							<a href="" class="blog__el-label">Веб приложения на Ruby on Rails</a>
							<div class="blog__el-pic">
								<a href="" class="blog__el-pic-bg"></a>
								<%= image_tag(asset_path('Ruby_On_Rails_Logo.svg_.png')) %>
							</div>
							<div class="blog__body">
								<div class="blog__el-content">
									<div class="blog__el-title">Почему веб приложения нужны?</div>
									<div class="blog__el-text">На сегодняшний день, интернет занимает весомую нишу в жизни каждого человека.
Люди покупают, продают, общаются, отдыхают и развиваются с помощью интернета. Учитывая то что сегодня у каждого в кармане есть смартфон, любые приложения, а в том числе и веб приложения на Ruby on Rails стали актуальны как никогда. Что может быть удобнее чем социальная сеть, или служба доставки прямо на экране смартфона? И к тому же не в браузере, а в виде независимого приложения.</div>

									<div class="blog__el-title">Разнообразие инструментов разработки</div>
									<div class="blog__el-text">С популяризацией веб приложений, пришло разнообразие средств разработки, сегодня у разработчика есть тысячи инструментов для работы с чем угодно, от редактирования фото, до написания программного кода. Среди разработчиков часто возникают споры о том, какие средства лучше, эффективнее. Множество специалистов выбирают разработку на Ruby on Rails, за простоту и эффективность. Опытный разработчик знает, что у каждого инструмента есть своя четкая функция, вы ведь не будете забивать гвоздь шуруповёртом?</div>

									<div class="blog__el-title">Почему наши специалисты работают с Ruby on Rails?</div>
									<div class="blog__el-text">Ruby on Rails — своеобразный мультитул разработчика, этот инструмент вобрал в себя все лучшее от других средств разработки. RoR позволяет в считаные минуты наращивать функционал приложения, не обрастая при этом так называемыми «костылями». Разрабатывать на Ruby on Rails удобно, а значит быстро. Все мы понимаем что после качества, главным фактором в разработке является скорость. С Ruby on Rails разработчик может писать качественно и быстро..</div>

									<div class="blog__el-title">Процесс создания веб приложения на Ruby on Rails</div>
									<div class="blog__el-text">В первую очередь специалисту необходимо изучить предметную область. Для чего он делает приложение? После этого, разработчик, словно художник-портретист создает макет приложения, он должен очертить основные функциональные части приложения. Если рассматривать Model Viev Controller model, то обычно среди них сущности приложения, их контроллеры, и то что видит пользователь — представления. Дальше дело за малым, написать, отладить код программы и веб приложение на Ruby on Rails готово. Опытный разработчик знает, что чем больше времени он уделит проектированию, тем меньше сложностей возникнет на этапе реализации приложения. </div>

									<div class="blog__el-title">Вы крупный предприниматель, и все еще не имеете своего приложения?</div>
									<div class="blog__el-text">Тогда вы попали по адресу, наши специалисты могут разработать приложение на Ruby on Rails на любой вкус, будь то простое приложение по учёту товаров, или целый интернет магазин. Вы сможете проследить за этапами разработки, что бы убедиться в надежности вашего приложения. Главное помните, с экономической точки зрения, веб приложение — это правильное вложение, потому что оно, в перспективе, будет приумножать ваш доход.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row ops">
					<div class="footer__rank">
						<div class="footer__coll">
							<div class="footer__title">Позвоните нам</div>
							<div class="footer__subtitle">Наши специалисты ответят на все ваши вопросы</div>
							<div class="footer__list1">
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48795124042">+ 48 795 124 042</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+380687120756">+ 38 068 7120756</a></div>
								</div>
								<div class="footer__list1-el">
									<div class="footer__list1-pic"></div>
									<div class="footer__list1-num"><a href="tel:+48796128406">+ 48 796 128 406</a></div>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Рабочие часы</div>
							<div class="footer__list2">
								<div class="footer__list2-el">
									ПН: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ВТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СР: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ЧТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									ПТ: 8-00 - 16-00
								</div>
								<div class="footer__list2-el">
									СБ - ВС: Выходной
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Консультационный центр</div>
							<div class="footer__list3">
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Доменыые имена</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Хостинги</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">VPS/VDS хостинги</a>
								</div>
								<div class="footer__list3-el">
									<a href="https://accounts.fozzy.com/aff.php?aff=18138">Выделенные сервера</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны Word Press</a>
								</div>
								<div class="footer__list3-el">
									<a href="#">Шаблоны Joomla</a>
								</div>
							</div>
						</div>
						<div class="footer__coll">
							<div class="footer__title">Фото</div>
							<div class="footer__list4">
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g1.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g2.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g6.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g7.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g8.webp')) %></a>
								</div>
								<div class="footer__list4-el">
									<a href="#"><%= image_tag(asset_path('g9.webp')) %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__log">
						<a href="https://accounts.fozzy.com/aff.php?aff=18138">
						<%= image_tag(asset_path('fozzy_button.webp')) %>
						</a>
					</div>
					<div class="footer__post">Разработано <a href="https://profistyle.group/">profistyle.group ©</a></div>
				</div>
			</div>
		</footer>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
