<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
  </head>
  <body>
    <% if !admin_panel_path_check(current_path) %>
      <%= render partial: "pages/header_langs/header_#{get_lang}", :formats => [:html] rescue render partial: "pages/header_langs/header_pl", :formats => [:html] %>
      <%= yield %>
      <%= render partial: "pages/footer_langs/footer_#{get_lang}", :formats => [:html] rescue render partial: "pages/footer_langs/footer_pl", :formats => [:html] %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
