<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Разработка веб-сайтов на CMS и RoR -</title>
    <meta name="description" content="Разработка веб-сайтов на CMS Wordpress, Joomla и фреймворке Ruby on Rails. SEO продвижение сайтов. Настройка контекстной рекламы.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <%= favicon_link_tag asset_path('cropped-icon2.png') %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>

  <body>
    <% if !admin_panel_path_check(current_path) %>
      <%= render "pages/header_langs/header_#{get_lang}" %>
      <%= yield %>
      <%= render "pages/footer_langs/footer_#{get_lang}" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
